{% extends '_base.twig' %}

{% block js_head %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/hromadko-holac_cay8nd_c_scale,w_890.jpg">
    <meta property="og:title" content="Galerie – Roztocký Masopust 2019">
    <meta property="og:description" content="Fotografie z roztockého Masopustu. Máte nějaké vlastní? Pošlete nám je!">
    <meta property="og:url" content="http://masopust.roztoc.cz/galerie/foto2019">
    {% endblock %}

{% block title %}Galerie 2019{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'active': 'galerie'} %}
{% endblock %}

{% block content %}

{% block text %}
<p class="mt-4">← <a href="galerie">Galerie</a></p>

<h1>Masopustní obchůzka 2019</h1>
<p></p>

<div class="row">
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka01.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka01.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka02.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka02.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka03.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka03.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka04.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka04.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka05.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka05.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka06.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka06.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka07.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka07.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka08.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka08.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka09.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka09.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka10.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka10.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka11.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka11.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka12.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka12.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka13.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka13.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka14.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka14.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka15.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka15.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka16.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka16.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka17.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka17.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka18.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka18.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka19.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka19.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-obchuzka" href="/img/galerie/2019-obchuzka/2019-obchuzka20.jpg" data-caption="Masopustní obchůzka 2019 (foto Marek Musil)">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka20.jpg" alt="Masopustní obchůzka 2019 (foto Marek Musil)">
            </a>
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}