{% extends '_base.twig' %}

{% block js_head %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/galerie/2019-budicek/600/2019-budicek08.jpg">
    <meta property="og:title" content="Roztocký Masopust 2019 – Ranní budíček">
    <meta property="og:description" content="Fotografie z ranního budíčku Královen Maospustu.">
    <meta property="og:url" content="http://masopust.roztoc.cz/galerie/2019-budicek">
    {% endblock %}

{% block title %}Galerie 2019{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'active': 'galerie'} %}
{% endblock %}

{% block content %}

{% block text %}
<p class="mt-4">← <a href="galerie">Galerie</a></p>

<h1>Ranní budíček Královny 2019</h1>
<p>Kradmý výlet maškar ranním rozbřeskem za Královnou Masopustu – tedy letos Královnami, Alžbětou Svobodovou a Alžbětou Tichou.</p>

<div class="row">
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek01.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek01.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek01.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek01.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek01.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek01.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek01.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek02.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek02.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek02.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek02.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek02.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek02.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek02.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek03.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek03.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek03.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek03.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek03.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek03.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek03.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek04.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek04.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek04.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek04.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek04.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek04.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek04.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek05.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek05.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek05.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek05.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek05.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek05.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek05.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek06.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek06.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek06.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek06.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek06.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek06.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek06.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek07.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek07.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek07.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek07.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek07.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek07.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek07.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek08.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek08.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek08.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek08.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek08.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek08.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek08.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek09.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek09.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek09.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek09.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek09.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek09.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek09.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek10.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek10.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek10.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek10.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek10.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek10.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek10.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek11.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek11.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek11.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek11.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek11.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek11.jpg 320w" data-caption="Ranní budíček Královny Masopustu (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek11.jpg" alt="Královna Masopustu">
            </a>
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}