{% extends '_base.twig' %}

{% block title %}404 – Nenalezeno / Not Found{% endblock %}

{% block nav %}
    {% include '__nav.twig' %}
{% endblock %}

{% block content %}
{% block text %}
<h1>Kde nic, tu nic.</h1>
<p>Tato stránka neexistuje. Měla by?<br><span class="maso-em">Masopust každopádně ano, a to konkrétně <a href="/">zde</a>.</span></p>


<h1>Nothing going on here.</h1>
<p>The page doesn't exist anymore (if it ever did).<br><span class="maso-em">Anyway, you can find all the information about Masopust/Carnival <a href="/en">here</a>.</span></p>

{% endblock %}
{% endblock %}
