<div class="container">
    <h2>Masopust pořádá <a href="http://www.roztoc.cz/">Sdružení&nbsp;Roztoč</a></h2>
    <p>...ve spolupráci s&nbsp;městem&nbsp;Roztoky, Středočeským&nbsp;muzeem v&nbsp;Roztokách u&nbsp;Prahy a&nbsp;obcí&nbsp;Únětice.</p>

    <h2>Masopust podpořili</h2>
    <p>Letiště Václava Havla, Středočeský kraj, město Roztoky a mnoho dalších dárců.</p>
</div>