<div class="container">
    <h2>Masopust pořádá <a href="http://www.roztoc.cz/">Sdružení&nbsp;Roztoč, z.s.</a></h2>
    <p>...ve spolupráci s&nbsp;<a href="https://www.roztoky.cz/">městem&nbsp;Roztoky</a>, <a href="https://www.muzeum-roztoky.cz">Středočeským&nbsp;muzeem v&nbsp;Roztokách u&nbsp;Prahy</a>, <a href="http://www.unetice.cz/">obcí&nbsp;Únětice</a> a&nbsp;<a href="https://www.praha-suchdol.cz/">Městskou částí Praha-Suchdol.</a></p>
    
    <div class="row maso-loga">
        <div class="card maso-logo-card">
            <div class="card-body">
                <a href="http://www.roztoc.cz"><img src="svg\roztoc.min.svg" width="150px"></a>
            </div>
        </div>
        <div class="card maso-logo-card">
            <div class="card-body">
                <a href="http://www.roztoky.cz"><img src="svg\roztoky.png" width="100px"></a>
            </div>
        </div>
        <div class="card maso-logo-card">
            <div class="card-body">
                <a href="https://www.muzeum-roztoky.cz"><img src="svg\logo-muzeum.svg" width="200px"></a>
            </div>
        </div>
        <div class="card maso-logo-card">
            <div class="card-body">
                <a href="http://www.unetice.cz/"><img src="svg\un-min.svg" width="60px"></a>
            </div>
        </div>
        <div class="card maso-logo-card">
            <div class="card-body">
                <a href="https://www.praha-suchdol.cz/"><img src="svg\suchdol-min.svg" width="230px"></a>
            </div>
        </div>
    </div>

    <h2>Masopust podpořili</h2>
    <p><a href="https://m.prg.aero">Letiště Václava Havla Praha</a>, Středočeský kraj, město Roztoky a mnoho dalších dárců.</p>

    <div class="row maso-loga">
        <div class="card maso-logo-card">
            <div class="card-body">
                <a href="https://m.prg.aero/"><img src="svg\letiste.svg" width="170px"></a>
            </div>
        </div>
        <div class="card maso-logo-card">
            <div class="card-body">
                <a href="http://www.roztoky.cz"><img src="svg\roztoky.png" width="80px"></a>
            </div>
        </div>
        <div class="card maso-logo-card">
            <div class="card-body">
                <a href="https://www.prague-catering.cz/"><img src="svg\prague-catering.min.svg" width="230px"></a>
            </div>
        </div>
    </div>
        <p class="font-italic pt-4">Fotografie na tomto masowebu mají na svědomí <a href="http://dobresvetlo.com/">Vít Švajcr – Dobré světlo</a>, <a href="http://janhromadko.com/">Jan Hromádko</a>, <a href="https://www.janfaukner.com/">Jan Faukner</a> a Jakub Souček.</p>
</div>