<div class="row maso-footer">
    <div class="card maso-logo-card">
        <div class="card-body">
            <a href="https://m.prg.aero/"><img src="/svg/letiste.svg" width="180"></a>
        </div>
    </div>
    <div class="card maso-logo-card">
        <div class="card-body">
            <a href="http://www.roztoky.cz"><img src="/svg/roztoky.min.svg" width="80"></a>
        </div>
    </div>
    <div class="card maso-logo-card">
        <div class="card-body">
            <a href="https://www.prague-catering.cz/"><img src="/svg/prague-catering.min.svg" width="230"></a>
        </div>
    </div>