<div class="row maso-footer">
    <div class="card maso-logo-card">
        <div class="card-body">
            <a href="https://m.prg.aero/"><img src="/svg/letiste.svg" width="180"></a>
        </div>
    </div>
    <div class="card maso-logo-card">
        <div class="card-body">
            <a href="https://www.kr-stredocesky.cz/"><img src="/svg/logo-kraj.min.svg" width="180"></a>
        </div>
    </div>
    <div class="card maso-logo-card">
        <div class="card-body">
            <a href="http://www.roztoky.cz"><img src="/svg/roztoky.min.svg" width="80"></a>
        </div>
    </div>
    <div class="card maso-logo-card">
        <div class="card-body">
            <a href="https://www.prague-catering.cz/"><img src="/svg/prague-catering.min.svg" width="180"></a>
        </div>
    </div>
    <div class="card maso-logo-card">
        <div class="card-body">
            <a href="http://blahasro.cz"><img src="/svg/blaha.gif" width="180"></a>
        </div>
    </div>

        <p class="font-italic pt-4">Fotografie na tomto masowebu mají na svědomí <a href="http://dobresvetlo.com/">Vít Švajcr – Dobré světlo</a>, <a href="http://janhromadko.com/">Jan Hromádko</a>, <a href="https://www.janfaukner.com/">Jan Faukner</a> a Jakub Souček.</p>
</div>
