<div class="row maso-footer align-items-center">
    <a href="https://m.prg.aero/" class="col-xs-1 maso-partner text-center p-3"><img src="/svg/letiste.svg" width="150"></a>
    <a href="https://www.kr-stredocesky.cz/" class="col-xs-1 maso-partner text-center p-3"><img src="/svg/logo-kraj.min.svg" width="220"></a>
    <a href="http://www.roztoky.cz" class="col-xs-1 maso-partner text-center p-3"><img src="/svg/roztoky.min.svg" width="70"></a>
    <a href="https://www.prague-catering.cz/" class="col-xs-1 maso-partner text-center p-3"><img src="/svg/prague-catering.min.svg" width="150"></a>
    <a href="http://blahasro.cz" class="col-xs-1 maso-partner text-center p-3"><img src="/svg/blaha.gif" width="150"></a>
    <a href="http://k2m.cz" class="col-xs-1 maso-partner text-center p-3"><img src="/svg/K2M_logo.min.svg" width="100"></a>
</div>
