<div class="row maso-footer align-items-center d-none d-lg-flex">
    <a href="http://www.roztoky.cz" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/roztoky.min.svg" alt="logo města Roztoky" width="55"></a>
   
    <a href="https://m.prg.aero/" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/letiste.svg" alt="logo Letiště Praha" width="120"></a>
    
    <a href="https://www.kr-stredocesky.cz/" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/logo-kraj.min.svg" alt="logo Středočeského kraje" width="170"></a>
    
    <a href="https://www.prague-catering.cz/" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/prague-catering.min.svg" alt="logo Prague Catering" width="120"></a>
    
    <a href="http://blahasro.cz" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/blaha.min.svg" alt="logo Bláha, s.r.o." width="120"></a> 

    <a href="http://www.mlejn.cz/" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/eaton.min.svg" alt="Eaton Corporation" width="120"></a>
    
    <a href="http://www.unetickypivovar.cz" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/unetice.min.svg" alt="Únětický pivovar" width="120"></a>
    <!-- Minifikovat!!! -->

    <a href="http://www.mlejn.cz/" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/KD_mlejn.min.svg" alt="logo KD Mlejn, o.p.s." width="90"></a>

    <a href="http://k2m.cz" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/k2m_logo.min.svg" alt="logo K2M" width="90"></a>

    <a href="http://thingumajig.info/" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/thingumajig.png" alt="logo K2M" width="250"></a>
</div>
