<a class="nav-link {% if active=='program' %}active{% endif %}" href="/program">Program</a>
<a class="nav-link {% if active=='maskary' %}active{% endif %}" href="/maskary">Masky</a>
<a class="nav-link {% if active=='o-masopustu' %}active{% endif %}" href="/o-masopustu">O&nbsp;Masopustu</a>
<a class="nav-link {% if active=='galerie' %}active{% endif %}" href="/galerie">Galerie</a>
<a class="nav-link {% if active=='podpora' %}active{% endif %}" href="/podpora">Zapojte&nbsp;se</a>
<a class="nav-link {% if active=='kontakt' %}active{% endif %}" href="/kontakt">Kontakt</a>
