<a class="nav-link {% if active=='home' %}active{% endif %}" href="/">Masopust</a>
<a class="nav-link {% if active=='program' %}active{% endif %}" href="/program">Program</a>
<a class="nav-link {% if active=='maskary' %}active{% endif %}" href="/maskary">Masky</a>
<a class="nav-link {% if active=='o-masopustu' %}active{% endif %}" href="/o-masopustu">O&nbsp;Masopustu</a>
<a class="nav-link {% if active=='historie' %}active{% endif %}" href="/historie">Historie</a>
<a class="nav-link {% if active=='kontakt' %}active{% endif %}" href="/kontakt">Kontakt</a>