<!DOCTYPE html>

<html lang="{% block lang %}cs{% endblock %}">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131130545-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131130545-1');
    </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Průvod mezi nebem a zemí, údolím a vrchem, minulostí a budoucností vyráží opět za svou královnou. Maškary se v poledne setkají na roztockém zámku, spojí s Únětickými a Suchdolskými tancem na pláni Holého vrchu a zakončí svou cestu zábavou v pravém a nefalšovaném vyhřívaném šapitó.">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:700&amp;subset=latin-ext" rel="stylesheet">

    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta name="twitter:card" content="summary">
    {% block og %}{% endblock %}
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="google-site-verification" content="2jDLnJzsdIkZIaCENYCZfPuXXwhtN28ptzb8V-zFWlM" />
    <meta name="seznam-wmt" content="BX37VoQOdGdtfrCk4OfUQdwD3yMzifzS" />


    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light justify-content-between maso-nav-lista sticky-top">
            {% block home %}<a class="nav-link" href="/">Masopust</a>{% endblock %}
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#masostranky" aria-controls="masostranky" aria-expanded="false" aria-label="Toggle navigation">
                <span class="nav-link">menu</span>
            </button>

            <div class="d-md-none">
                {% block navlang %}
                    <a class="nav-link" href="/en">[en]</a>
                {% endblock %}
            </div>
            
            <div class="collapse navbar-collapse" id="masostranky">
                {% block nav %}
                    {% include '__nav.twig' %}
                {% endblock %}
            </div>

            <div class="d-none d-md-block">
                {% block navlang %}
                    <a class="nav-link" href="/en">[en]</a>
                {% endblock %}
            </div>
        </nav>

        <div role="main">
        {% block content %}{% endblock %}
        </div>
        <p class="d-print-block d-none p3">Hezky si to schovej, když už to tiskneš!<br>Masopust v Roztokách u Prahy – 16. února 2019 - - - pořádá Sdružení Roztoč, z.s. - - - masopust.roztoc.cz</p>
    </div> 

    
    <div class="maso-sekce-loga" role="complementary">
        <div class="container">
            <div class="maso-fb-div">
                <a href="https://www.facebook.com/events/697867023946747/permalink/748480122218770"><img src="/loga/fb.svg" alt="Masopust na Facebooku" width="50px" class="maso-fb"></a>
            </div>
            {% block organizers %}
                <h2>Masopust pořádá <a href="http://www.roztoc.cz/">Sdružení&nbsp;Roztoč, z.s.</a></h2>
                <p class="pb-4">…v partnerství s&nbsp;<a href="https://www.roztoky.cz/">městem&nbsp;Roztoky</a> a&nbsp;ve&nbsp;spolupráci se&nbsp;<a href="https://www.muzeum-roztoky.cz">Středočeským&nbsp;muzeem v&nbsp;Roztokách u&nbsp;Prahy</a>, <a href="http://www.unetice.cz/">obcí&nbsp;Únětice</a> a&nbsp;<a href="https://www.praha-suchdol.cz/">MČ Praha-Suchdol.</a></p>
            {% endblock %}

            <div class="row maso-footer align-items-center">
                <a href="http://www.roztoc.cz" class="col-xs-1 text-center p-3 pr-5"><img src="/loga/roztoc.min.svg" width="120" alt="logo Sdružení Roztoč"></a>
                <a href="http://www.roztoky.cz" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/roztoky.min.svg" width="70" alt="logo města Roztoky"></a>
                <a href="https://www.muzeum-roztoky.cz" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/logo-muzeum.svg" width="220" alt="logo Středočeského muzea v Roztokách u Prahy"></a>
                <a href="http://www.unetice.cz/" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/un.min.svg" width="60" alt="logo obce Únětice"></a>
                <a href="https://www.praha-suchdol.cz/" class="col-xs-1 maso-opa text-center p-3"><img src="/loga/suchdol.min.svg" width="300" alt="logo městské části Praha–Suchdol"></a>
            </div>

            {% block sponsors %}   
                <h2>Masopust podpořili</h2>
                <p class="pb-4">
                    <a href="http://www.roztoky.cz">Město Roztoky</a>, 
                    <a href="https://m.prg.aero">Letiště Václava Havla Praha</a>, 
                    <a href="https://www.kr-stredocesky.cz/">Středočeský kraj</a>, 
                    <a href="https://www.prague-catering.cz/">Prague Catering</a>, 
                    <a href="http://blahasro.cz">Bláha, s.r.o.</a>, 
                    <a href="http://www.eaton.cz/Czech/index.htm">Eaton Corporation</a>, 
                    <a href="https://www.k2m.cz/">K2M&nbsp;reklama</a>, 
                    <a href="https://www.unetickypivovar.cz/">Únětický pivovar</a>, 
                    <a href="http://mlejn.cz/">KD Mlejn, o.p.s.</a>, 
                    <a href="http://thingumajig.info/">Andrew Kim &amp;&nbsp;Thingumajig Theatre</a> 
                    a <a href="/podpora#seznam-darcu">mnoho dalších dárců</a> a pomocníků.</p>
            {% endblock %}

        {% block loga %}
            {% include '__loga.twig' %}
        {% endblock %}
        <p class="font-italic pt-4">Foto <a href="http://dobresvetlo.com/">Vít Švajcr – Dobré světlo</a>, <a href="http://janhromadko.com/">Jan Hromádko</a>, <a href="https://www.janfaukner.com/">Jan Faukner</a>, Jakub Souček.</p>
        </div>
    </div>
    
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> #}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{# <script src="js/custom.js"></script> #}

</body>
</html>
