<!DOCTYPE html>

<html lang="{% block lang %}cs{% endblock %}">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131130545-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131130545-1');
    </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Průvod mezi nebem a zemí, údolím a vrchem, minulostí a budoucností vyráží opět za svou královnou. Maškary se v poledne setkají na roztockém zámku, spojí s Únětickými a Suchdolskými tancem na pláni Holého vrchu a zakončí svou cestu zábavou v pravém a nefalšovaném vyhřívaném šapitó.">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:700&amp;subset=latin-ext" rel="stylesheet">

    {% block og %}{% endblock %}
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="google-site-verification" content="2jDLnJzsdIkZIaCENYCZfPuXXwhtN28ptzb8V-zFWlM" />

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light justify-content-between maso-nav-lista sticky-top">
            <a class="nav-link" href="/">Masopust</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#masostranky" aria-controls="masostranky" aria-expanded="false" aria-label="Toggle navigation">
                <span class="nav-link">menu</span>
            </button>
            
            <div class="collapse navbar-collapse" id="masostranky">
                {% block nav %}
                    {% include '__nav.twig' %}
                {% endblock %}
            </div>
            {% block navlang %}
                <a class="nav-link" href="/en">[en]</a>
            {% endblock %}
        </nav>

        <div role="main">
        {% block content %}{% endblock %}
        </div>
        <p class="maso-print">Nebylo zbytečné to tisknout, když to hned ztratíš?<br>Masopust v Roztokách u Prahy – 16. února 2019 - - - pořádá Sdružení Roztoč, z.s. - - - masopust.roztoc.cz</p>
    </div> 

    
    <div class="maso-sekce-loga" role="complementary">
        <div class="container">
            {% block organizers %}
                <h2>Masopust pořádá <a href="http://www.roztoc.cz/">Sdružení&nbsp;Roztoč, z.s.</a></h2>
                <p>…ve spolupráci s&nbsp;<a href="https://www.roztoky.cz/">městem&nbsp;Roztoky</a>, <a href="https://www.muzeum-roztoky.cz">Středočeským&nbsp;muzeem v&nbsp;Roztokách u&nbsp;Prahy</a>, <a href="http://www.unetice.cz/">obcí&nbsp;Únětice</a> a&nbsp;<a href="https://www.praha-suchdol.cz/">Městskou částí Praha-Suchdol.</a></p>
            {% endblock %}

                <div class="row maso-footer">
                    <div class="card maso-logo-card">
                        <div class="card-body">
                            <a href="http://www.roztoc.cz"><img src="svg\roztoc.min.svg" width="150"></a>
                        </div>
                    </div>
                    <div class="card maso-logo-card">
                        <div class="card-body">
                            <a href="http://www.roztoky.cz"><img src="svg\roztoky.min.svg" width="100"></a>
                        </div>
                    </div>
                    <div class="card maso-logo-card">
                        <div class="card-body">
                            <a href="https://www.muzeum-roztoky.cz"><img src="svg\logo-muzeum.svg" width="200"></a>
                        </div>
                    </div>
                    <div class="card maso-logo-card">
                        <div class="card-body">
                            <a href="http://www.unetice.cz/"><img src="svg\un-min.svg" width="60"></a>
                        </div>
                    </div>
                    <div class="card maso-logo-card">
                        <div class="card-body">
                            <a href="https://www.praha-suchdol.cz/"><img src="svg\suchdol-min.svg" width="230"></a>
                        </div>
                    </div>
                </div>
                
            {% block sponsors %}   
                <h2>Masopust podpořili</h2>
                <p><a href="https://m.prg.aero">Letiště Václava Havla Praha</a>, <a href="https://www.kr-stredocesky.cz/">Středočeský kraj</a>, <a href="http://www.roztoky.cz">město Roztoky</a>, <a href="https://www.prague-catering.cz/">Prague Catering</a> a mnoho dalších dárců.</p>
            {% endblock %}

        {% block loga %}
            {% include '__loga.twig' %}
        {% endblock %}
        </div>
    </div>
    
        

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> #}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{# <script src="js/custom.js"></script> #}

</body>
</html>
