<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Průvod mezi nebem a zemí, údolím a vrchem, minulostí a budoucností vyráží opět za svou královnou. Maškary se v poledne setkají na roztockém zámku, spojí s Únětickými a Suchdolskými tancem na pláni Holého vrchu a zakončí svou cestu zábavou v pravém a nefalšovaném vyhřívaném šapitó.">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:700&amp;subset=latin-ext" rel="stylesheet">

    {% block og %}{% endblock %}
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand flex-column flex-md-row justify-content-center justify-content-md-between flex-wrap maso-nav-lista sticky-top" role="navigation">
            <a class="nav-link" href="/">Masopust</a>

            <div class="navbar-nav flex-wrap">
                {% block nav %}
                    {% include '__nav.twig' %}
                {% endblock %}
            </div>
        </nav>
        <div role="main">
        {% block content %}{% endblock %}
        </div>
        <p class="maso-print">Nebylo zbytečné to tisknout, když to hned ztratíš?<br>Masopust v Roztokách u Prahy – 16. února 2019 - - - pořádá Sdružení Roztoč, z.s. - - - masopust.roztoc.cz</p>
    </div> 
    
        <div class="maso-sekce-loga" role="complementary">
            {% block loga %}
                {% include '__loga.twig' %}
            {% endblock %}
        </div>
    
        

{#
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS and your own script at the end -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="js/custom.js"></script>
#}

</body>
</html>
