{% extends 'o-masopustu.twig' %}
{% use 'en-blocks.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/vit-svajcr-2017_rjosbq_c_scale,w_995.jpg">
    <meta property="og:title" content="About the Roztoky Masopust">
    <meta property="og:description" content="Masopust  (Mardi Gras) connects us and enables us to live now, but slightly differently than usual; to be someone else, somewhere else, in another time…">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="http://masopust.roztoc.cz/en">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block title %}About the Roztoky Masoupust{% endblock %}

{% block text %}
<h1>About the Roztoky Masopust (Mardi Gras)</h1>
    <p class="maso-anotace">The Roztoky Masopust celebration, conceived traditionally and generously, is the towns’ biggest cultural event and is well-known outside Roztoky. It is attended annually by several thousand visitors.</p>
    
    <p>A procession of original masks walks from the Roztoky Chateau, where the celebration traditionally begins, through the town of Roztoky, country lanes and fields to meet similar processions from the villages of Únětice and Suchdol (and sometimes Úholičky). The processions meet, clash, dance a hilltop round dance and then either go on to Únětice or return to Roztoky (from 2017) for further events that last until the small hours of the night.</p>

    <p><strong><a href="http://www.roztoc.cz/nase-cinnost/kulturni-akce/masopust/masotisk/" >→ Gallery of photos and reports from previous years</a></strong> (On the old web pages. In Czech. Sorry jako.)</p>
    
    <h2>What is the Roztoky Masopust?</h2>
    <p>Masopust in Roztoky is a somewhat unusual phenomenon. Starting out as a minor local happening involving about 20 people, it has grown over the past twenty years into a unique event that is full of life, attracting visitors from far and wide. Journalists write about it, great photographers take pictures of it and folklorists study it because it is apparently the single largest autentic Masopust festival – kept alive by the energy and fantasy of a community of local people and their friends.</p>
    
    <p>The Masopust masked parade traditionally sets out on its pilgrimage from Roztoky to the Holý vrch hilltop where it meets the parades from Únětice and Suchdol, and then proceeds to Únětice, where events occure in various places. In the summer of 2016, one of the main clubs in Únětice – Kravín – closed down, which means that from that year the processions, after meeting, battling, their bears wrestling, then eventually befriending each other and dancing a round dance together, will be returning to Roztoky. And because there is no big hall in Roztoky where we could dance and be merry till the end of Masopust, the procession will find shelter in an enormous heated circus tent rented out especially for the night for all the very important and honourable masked visitors.</p>
    
    <h2>Who Organises Masopust and How?</h2>
    <p>Over the years, Masopust has developed from being a small project initiated by a few enthusiasts to becoming a famous and recognised event visited by thousands of people each year. Organisation of the event still depends on enthusiastic locals and the volunteer work of a diverse production team that manages to create original masks, musical, theatrical and other performances, coordinate a thousand people strong procession, arrange entertainment and solve numerous mind-boggling situations. Have you ever had to construct a last minute improvised confetti launcher? Been responsible for a trained pantomime horse – Klibna – with a short term memory lapse? Or had to handle a person in psychiatric care unexpectedly elected as Masopust King? Well, we have.</p>
    
    <p>Most of the work is done voluntarily, or rather, anything that can be done voluntarily, is done voluntarily. The Masopust committee begins meeting during the autumn, since many things need to be done well in advance. Preparations culminate in the week immediately preceding Masopust and include everything from unpacking costumes that had been stored away for the year, the rehearsal of songs, continuous work on making costumes and masks and the tombola, and eventually end with the Friday Carolling (the slightly secret heart of Masopust during which certain masks go from house to house singing and receiving treats of usually doughnuts and alcohol in return) and the Saturday Procession (the big and public part). Normally, around two hundred volunteers participate in preparing the Masopust celebrations. The number of man-hours put in has been calculated at around twenty five hundred for 2016.</p>
    
    <p>We are lucky in that many of the locals or their friends are artist or otherwise creative people who give Masopust its image, but Masopust is specific in that anyone can – and does – take part. Professional artists and non-professionals, adults and children alike have fun making masks and costumes. The photographer Markéta Luskačová has followed the Masopust events for many years. Many of the musicians and actors become a part of the parade without charge, or for a nominal fee, simply because they love Masopust and enjoy being a creative part of it.</p>
    
    <h2>Why Do We Do It?</h2>
    <p>Because it works.</p>
    
    <p>Masopust and everything attached to it – the coordinating, preparations and the culmination of events is something that connects us in a hardly describable way. It is something that grows from the roots of tradition and history and in it we walk in the present towards the future – and so create our own roots. Each Bear, every Death follows in the footsteps of generations of Bears and Deaths, and their dance on the hilltop of Holý vrch, the site of what was probably the earliest settlement in Bohemia, are a symbolic conclusion to the whole event. There is a particular strength to it. As though chancing upon a spring unawares or meeting something primeval that wanders with us.</p>
    
    <p>Masopust connects us and enables us to live now, but slightly differently than usual; to be someone else, somewhere else, in another time…</p>
    
    <p>It works in a special way. Inwardly, in each person, and outwardly, to the whole community.</p>
    
    <p>And that is how it should be.</p>
{% endblock %}