{% extends 'index.twig' %}
{% use 'en-blocks.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/maso2019_nc9vgq_c_scale,w_964.jpg">
    <meta property="og:title" content="Contact – Masopust in Roztoky">
    <meta property="og:description" content="The parade between heaven and earth, valley and mountain, the past and the future is coming after her queen once again.">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="http://masopust.roztoc.cz/contact">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block title %}Contact{% endblock %}

{% block text %}
<h1>Contact</h1>
<p>Masopust is organized by <a href="http//:www.roztoc.cz">Sdružení Roztoč,&nbsp;z.s.</a> and the preparations are made by cca 200 volunteers.<br>Masopust comitee, nonformal group of organizers, plans the parade and the show from beginning of the fall…</p>
<p class="h3">Universal maso-contact: <a href="masopust@roztoc.cz">masopust@roztoc.cz</a></p>

<div class="row">
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Dramaturgy &amp; vision</h2>
            <p class="card-text maso-contact-name">Jitka Tichá</p>
            <a href="mailto:jitka.ticha@roztoc.cz" class="card-link">jitka.ticha@roztoc.cz</a><br><a href="tel:+420775889941" class="card-link">+420&nbsp;775&nbsp;889&nbsp;941</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">The Chateau, catering</h2>
            <p class="card-text maso-contact-name">Dita Votavová</p>
            <a href="mailto:dita.votavova@roztoc.cz" class="card-link">dita.votavova@roztoc.cz</a><br><a href="tel:+420775889940" class="card-link">+420&nbsp;775&nbsp;889&nbsp;940</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Propagation, web, FB</h2>
            <p class="card-text maso-contact-name">Zuzana Šrůmová</p>
            <a href="mailto:zuzana.srumova@roztoc.cz" class="card-link">zuzana.srumova@roztoc.cz</a><br><a href="tel:+420777852195" class="card-link">+420&nbsp;777&nbsp;852&nbsp;195</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Masques and costume rental</h2>
            <p class="card-text maso-contact-name">Martina Macurová</p>
            <a href="mailto:masopust@roztoc.cz" class="card-link">masopust@roztoc.cz</a><br><a href="tel:+420603946501" class="card-link">+420&nbsp;603&nbsp;946&nbsp;501</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Financial support and gifts</h2>
            <p class="card-text maso-contact-name">Karolína Šípalová</p>
            <a href="mailto:karolina.sipalova@roztoc.cz" class="card-link">karolina.sipalova@roztoc.cz</a><br><a href="tel:+420737167868" class="card-link">+420&nbsp;737&nbsp;167&nbsp;868</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Organization of the Parade</h2>
            <p class="card-text maso-contact-name">Ondřej Marek</p>
            <a href="mailto:omarek@volny.cz" class="card-link">omarek@volny.cz</a><br><a href="tel:+420777793737" class="card-link">+420&nbsp;777&nbsp;793&nbsp;737</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Technical section</h2>
            <p class="card-text maso-contact-name">Pavel Tichý</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Konstrukce a&nbsp;věšení lidí</h2>
            <p class="card-text maso-contact-name">Jonáš Tichý</p>
        </div>
    </div>
</div>       
{% endblock %}