{% block lang %}en{% endblock %}

{% block nav %}
    <a class="nav-link {% if active=='schedule' %}active{% endif %}" href="/schedule">Schedule</a>
    <a class="nav-link {% if active=='maskary' %}active{% endif %}" href="/maskary">Masks</a>
    <a class="nav-link {% if active=='o-masopustu' %}active{% endif %}" href="/o-masopustu">About</a>
    <a class="nav-link {% if active=='podpora' %}active{% endif %}" href="/podpora">Support&nbsp;Us</a>
    <a class="nav-link {% if active=='kontakt' %}active{% endif %}" href="/kontakt">Contact</a>
    <a class="nav-link pl-0 {% if active=='en' %}active{% endif %}" href="/">[cs]</a>
{% endblock %}

{% block organizers %}
                <h2>Masopust/Carnival is organized by <a href="http://www.roztoc.cz/">Sdružení&nbsp;Roztoč, z.s.</a></h2>
                <p>…together with <a href="https://www.roztoky.cz/">town of Roztoky</a>, <a href="https://www.muzeum-roztoky.cz">Středočeským&nbsp;muzeem v&nbsp;Roztokách u&nbsp;Prahy</a>, <a href="http://www.unetice.cz/">obcí&nbsp;Únětice</a> a&nbsp;<a href="https://www.praha-suchdol.cz/">Městskou částí Praha-Suchdol.</a></p>
            {% endblock %}

{% block sponsors %}   
    <h2>Sponsored by</h2>
    <p><a href="https://m.prg.aero">Václav Havel Airport Prague</a>, Středočeský kraj, town of Roztoky and many more.</p>
{% endblock %}