{% extends 'index.twig' %}
{% use 'en-blocks.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/maso2019_nc9vgq_c_scale,w_964.jpg">
    <meta property="og:title" content="Masopust in Roztoky – 16th&nbsp;February 2019">
    <meta property="og:description" content="The parade between heaven and earth, valley and mountain, the past and the future is coming after her queen once again.">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="http://masopust.roztoc.cz/en">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block title %}Masopust in Roztoky and Únětice 2019{% endblock %}

{% block text %}
    <div>
        <h1 class="pb-0">Masopust in Roztoky and Únětice 2019</h1>
        <p class="h2 pt-0">16<sup>th</sup>&nbsp;February 2019</p>
    </div>

    <p class="maso-anotace">The parade between heaven and earth, valley and mountain, the past and the future is coming after her queen once again. The masques meet at the Roztoky Chateau at noon, join the masked parade from Únětice and Suchdol in a&nbsp;dance at Holý vrch hilltop and finish their journey in a&nbsp;heated genuine circus tent with a&nbsp;celebration lasting all night long.</p>
    <h2>Event Schedule</h2>
    <div class="row wrap justify-content-between">
        <div class="col-md">
            <ul>
                <li><strong>11.00</strong> <a href="/masks" class="maso-em">Masques rental</a> – Central Bohemian Museum in&nbsp;Roztoky u&nbsp;Prahy <a href="https://www.google.cz/maps/place/50%C2%B009'30.3%22N+14%C2%B023'55.2%22E/@50.15841,14.3964633,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.1584096!4d14.3986524">(map)</a></li>
                <li><strong>12.00</strong> <span class="maso-em">Program</span> at the Roztoky Chateau / Central Bohemian Museum <a href="https://www.google.cz/maps/place/50%C2%B009'30.3%22N+14%C2%B023'55.2%22E/@50.15841,14.3964633,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.1584096!4d14.3986524">(map)</a></li>
                <li><strong>14.30</strong> <span class="maso-em">Parade through Roztoky</span> with stops at the square and uptown in a direction to Únětice.<br><a href="https://www.google.cz/maps/dir/50.1585055,14.3990066/50.1616947,14.3940287/50.1536488,14.3812738/50.151785,14.3708468/50.1614531,14.3743336/@50.1565322,14.3750353,15z/data=!3m1!4b1!4m2!4m1!3e2">(→ parade map)</a></li>
                <li><strong>16.20</strong> <span class="maso-em">Meeting of the parades at the Holý Vrch hilltop</span>, circle dances</li>
                <li><strong>17.30–22.00</strong> <span class="maso-em">Masopust party in a chapiteau</span> in&nbsp;Roztoky-Žalov <a href="https://www.google.cz/maps/place/50%C2%B009'42.0%22N+14%C2%B022'26.2%22E/@50.161654,14.3717543,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.1616542!4d14.3739435">(map)</a></li>
                <li><strong><a href="/schedule">Detailed schedule</a></strong></li>
            </ul>
        </div>
        <div class="col-xs">
            <a href="https://www.facebook.com/events/697867023946747/" class="d-print-none p-5 m-5"><img src="/img/loga/fb.svg" alt="logo fb" width="70px"></a>
        </div>
    </div>
    <h2>Transport</h2>
    <ul>
        <li><strong>Buses between Roztoky and Únětice:</strong> The special Masopust bus express number 359, connecting the two cities, will probably set forth again.</li>
        <li><strong>By train from Prague:</strong> Line number S4 and S41 from Masarykovo nádraží / Praha-Holešovice / Praha-Podbaba are the best choice for your journey from Prague. The central Bohemian Museum is just a short way from the train stop Roztoky u Prahy. The other stop Roztoky-Žalov is then close to the circus tent.</li>
        <li><strong>By bus from Prague:</strong> Bus number 340 and 350 goes from Dejvická. We don’t recommend it though, it might get crowded.</li>
        <li><strong>By car:</strong> Don’t travel by car, if you have other option, please. Thank you!</li>
    </ul>

{% endblock %}
