{% extends 'index.twig' %}
{% use 'en-blocks.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/maso2019_nc9vgq_c_scale,w_964.jpg">
    <meta property="og:title" content="Masopust in Roztoky – 16th&nbsp;February 2019">
    <meta property="og:description" content="A parade somewhere between Heaven and Earth, valley and hilltop, the past and the future sets off yet again, following its Queen.">
    <meta property="og:url" content="http://masopust.roztoc.cz/en">
    {% endblock %}

{% block title %}Masopust in Roztoky and Únětice 2019{% endblock %}

{% block text %}
    <div>
        <h1 class="pb-0">Masopust in Roztoky and Únětice 2019</h1>
        <p class="h2 pt-0">16<sup>th</sup>&nbsp;February 2019</p>
    </div>

    <p class="maso-anotace">A parade somewhere between Heaven and Earth, valley and hilltop, the past and the future sets off yet again, following its Queen. The masks meet at Roztoky Castle at noon, join the processions from Unětice and Suchdol in a dance at Holý Vrch, and end their journey in gaiety and merriment in a genuine heated circus tent.</p>
    <h2>Event Schedule</h2>
    <div class="row wrap justify-content-between">
        <div class="col-md">
            <ul>
                <li><strong><a href="https://www.google.cz/maps/dir/50.1586606,14.3994791/50.1616947,14.3940287/50.1536488,14.3812738/50.151785,14.3708468/50.1614531,14.3743336/@50.1569162,14.3646497,14z/data=!4m2!4m1!3e2">Map of the event, parade &amp; show</a></strong></li>
                <li><strong>11:00</strong> <a href="/masks" class="maso-em">Masques rental</a> – Central Bohemian Museum in&nbsp;Roztoky u&nbsp;Prahy</li>
                <li><strong>12:00</strong> <span class="maso-em">Program</span> at the Roztoky Chateau / Central Bohemian Museum</li>
                <li><strong>14:30</strong> <span class="maso-em">Parade through Roztoky</span> with stops at the square and uptown in a direction to Únětice.<br></li>
                <li><strong>16:20</strong> <span class="maso-em">Meeting of the parades at the Holý Vrch hilltop</span>, circle dances</li>
                <li><strong>17:30–22:00</strong> <span class="maso-em">Masopust party in a chapiteau</span> in&nbsp;Roztoky-Žalov</li>
                <li><strong><a href="/schedule">Detailed schedule</a></strong></li>
            </ul>
        </div>
        <div class="col-xs">
            <a href="https://www.facebook.com/events/697867023946747/" class="d-print-none p-5 m-5"><img src="/img/loga/fb.svg" alt="logo fb" width="70"></a>
        </div>
    </div>
    <div class="maso-button">
        <a href="https://goout.net/cs/jine-akce/masopustni-zabava-v-roztokach-2019/iimud/+vdbgl/" class="nav-link">→ Masopust party tickets ←<br>→ advance sale ←</a>
    </div>
    <h2>Transport</h2>
    <ul>
        <li><strong>Buses between Roztoky and Únětice:</strong> The special Masopust bus express number 359, connecting the two cities, will probably set forth again.</li>
        <li><strong>By train from Prague:</strong> Line number S4 and S41 from Masarykovo nádraží / Praha-Holešovice / Praha-Podbaba are the best choice for your journey from Prague. The central Bohemian Museum is just a short way from the train stop Roztoky u Prahy. The other stop Roztoky-Žalov is then close to the circus tent.</li>
        <li><strong>By bus from Prague:</strong> Bus number 340 and 350 goes from Dejvická. We don’t recommend it though, it might get crowded.</li>
        <li><strong>By car:</strong> Don’t travel by car, if you have other option, please. Thank you!</li>
    </ul>

{% endblock %}
