{% extends '_base.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/hromadko-holac_cay8nd_c_scale,w_890.jpg">
    <meta property="og:title" content="Galerie – Roztocký Masopust">
    <meta property="og:description" content="Fotografie z roztockého Masopustu. Máte nějaké vlastní? Pošlete nám je!">
    <meta property="og:url" content="http://masopust.roztoc.cz/galerie">
    {% endblock %}

{% block title %}Masopustní galerie{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'active': 'galerie'} %}
{% endblock %}

{% block content %}
<div class="maso-header-img-cont">
        <img
        sizes="
        (min-width: 1200px) 1110px, 
        (min-width: 992px) 930px, 
        (min-width: 768px) 690px, 
        (min-width: 576px) 510px, 
        calc(100vw-30px)"
        srcset="
        /img/ilustracni/hromadko-holac_cay8nd_c_scale,w_280.jpg 280w,
        /img/ilustracni/hromadko-holac_cay8nd_c_scale,w_526.jpg 526w,
        /img/ilustracni/hromadko-holac_cay8nd_c_scale,w_720.jpg 720w,
        /img/ilustracni/hromadko-holac_cay8nd_c_scale,w_890.jpg 890w,
        /img/ilustracni/hromadko-holac_cay8nd_c_scale,w_1040.jpg 1040w,
        /img/ilustracni/hromadko-holac_cay8nd_c_scale,w_1065.jpg 1065w,
        /img/ilustracni/hromadko-holac_cay8nd_c_scale,w_1600.jpg 1600w"
        src="/img/ilustracni/hromadko-holac_cay8nd_c_scale,w_1065.jpg"
        alt="Příchod k Holému Vrchu" class="img-fluid maso-header-img">
</div>

{% block text %}
<h1>Galerie / Gallery</h1>
<p class="mt-3"><b>Pošlete nám fotky! / Send us your photos!</b><br><a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a></p>

{# <p><strong><a href="http://www.roztoc.cz/nase-cinnost/kulturni-akce/masopust/masotisk/" >→ Kompletní galerie fotografií a&nbsp;reportáží z&nbsp;minulých let, kterou sem postupně přesouváme</a></strong> (Na starém webu. Sorry jako.)</p> #}

<h2>Masopust 2019</h2>
<p class="maso-em">Královna Alžběta<sup>2</sup>, tedy Alžběta Tichá a&nbsp;Svobodová</p>

<div class="row">
    <div class="card maso-foto-card">
        <div class="card-body">
            <a href="2019-obchuzka">
                <img class="card-img-top" src="/img/galerie/2019-obchuzka/thumb/2019-obchuzka25.jpg" alt="Masopustní obchůzka po domech v Tichém údolí">
            </a>
            <small class="card-text"><span class="maso-em">Masopustní obchůzka</span><br>Marek Musil | Petra Mandová<br>Jakub Sedlák</small>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a href="2019-budicek">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek08.jpg" alt="Fotografie z ranního budíčku Královny/Královen">
            </a>
            <small class="card-text"><span class="maso-em">Ranní budíček</span><br>Jakub Sedlák</small>
        </div>
    </div>
    <div class="card maso-foto-card">
        <div class="card-body">
            <a href="2019-masopust">
                <img class="card-img-top" src="/img/galerie/2019-masopust/thumb/2019-masopust08.jpg" alt="Masopustní průvod">
            </a>
            <small class="card-text"><span class="maso-em">Masopustní průvod</span><br>Vít Švajcr | Jakub Sedlák</small>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <h3  class="h4">Fotogalerie</h3>
        <ul>
            <li><b>ÚŇ</b> <a href="https://photos.google.com/share/AF1QipO_o5S2cdMi2DkyQl6hqKA1XUbVSAIggRdnDTexzb6LiPrVyiR-j-WB7olVfPLMZQ?key=U1p4VjRTMXE2Z2R5bGtPQnBzb2pOR2FwWmV0QWVB">Tomáš Starý</a></li>
            <li><a href="https://jindra4.rajce.idnes.cz/Masopust_v_Roztokach/?utm_source=notification&utm_medium=email&utm_campaign=album-created">Jindra Marešová</a></li>
            <li><a href="https://www.kamsevydat.cz/masopust-v-roztokach-a-uneticich/">Kam se vydat – fotografie a&nbsp;reportáž</a></li>
            <li><a href="https://photos.google.com/share/AF1QipPgg8OhwGgk8rnEULqTEexe3ZugiVIa0CGThckEfLL3ZBtNA75G2C5JjlpyWQF5sg?key=R3o2bDROcjluRm1yTkZWQ0wyWFVOeUtBdkhGUTdn">Mojmír Nebel</a></li>
            <li><a href="https://igorhlavinka.rajce.idnes.cz/masopust_Roztoky,_Unetice,_Suchdol_2019?">Igor Hlavinka</a></li>
            <li><b>VIDEO</b> <a href="https://decko.ceskatelevize.cz/zpravicky">Zprávičky na Déčku</a> (najděte si v archivu 19.2.)</li>

        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Facebook</h3>
        <ul>
            <li><a href="https://www.facebook.com/svajcrvit/photos/?tab=album&album_id=1035103163342893">Vít Švajcr</a></li>
            <li><a href="https://www.facebook.com/media/set/?set=a.10218435075092746&type=1&l=0d5e45e304">Jan Hromádko</a></li>
            <li><a href="https://www.facebook.com/alena.vorackova.5/media_set?set=a.10205779395200616&type=3">Alena Voráčková</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100008338055643">Jan Šimák</a></li>
            <li><a href="https://www.facebook.com/vojtech.straskraba/media_set?set=a.10216944621961987&type=3">Vojtěch Straškraba</a></li>
            <li><a href="https://www.facebook.com/jan.zirovnicky.9/media_set?set=a.965518890312220&type=3">Honza Žirovnický</a></li>
            <li><a href="https://www.facebook.com/sipkatom/media_set?set=a.2217238404985770&type=3">Tomáš Šipka</a></li>
            <li><a href="https://www.facebook.com/groups/273548914498/permalink/10156247948104499/">Denisa Boďová</a></li>
            <li><a href="https://www.facebook.com/pg/janfauknerphotography/photos/?tab=album&album_id=2037557786281956&__tn__=-UK-R">Jan Faukner</a></li>
            <li><a href="https://www.facebook.com/pg/PepaSarikPhotography/photos/?tab=album&album_id=1218130281686287&__xts__%5B0%5D=68.ARCHs_KGjz5xf1NBK67NS38YfFMSOPfnojkq6m8QWG9eTdyfpA3u5Nbe6830mZznZ3viKEXdSj4mHlW-YQMyXUZBTk59MI26vn1cXxmMRWi10JKONZVA8e8oSyt3yYQOkK_jC0d80TQ6bO0IWrDnKr65hTEOmO1N64uS8wCB2cUDCz6nhVBZ_QqEmxJ8qCYyTW01tLNH45iUJnZ21dEhRuG0RvuAEs_hlpa3IeJcE3W5sBXBnXyQJXGNjY3myTDo-ZKP_fj_ft4cDkF0AK3T7oF68G2-0KuInOfO_1nKo9CsUx3ZpZh5VWWDJDZ9_3WOkVCr8AQ1wektOMsK_dEZBJdAmDwPvhTv8TBBjgWiHZVcEEKk_4la0TRrC9LhpktCLnC148bu9tRFfW9Z759tCgdi0eckypHvhbrKXsdlV-khUEq46mcJ6ErW7mbF56ddZ5h9TFK2GtAM-OtLr43PdEL5_SjegR9UecjM3uNcX4Ud&__tn__=-UK-R">Josef Šarík</a></li>
            <li><a href="https://www.facebook.com/events/697867023946747/permalink/753594605040655/">Ernesta Cekanova 1</a> a <a href="https://www.facebook.com/events/697867023946747/permalink/752481151818667/">2</a> </li>
            <li><a href="https://www.facebook.com/vlk.jaroslav.1/media_set?set=a.10214006120086960&type=3&notif_id=1550482280588451&notif_t=feedback_reaction_generic">Jaroslav Vlk</a></li>
            <li><a href="https://www.facebook.com/pg/danebermannphotography/photos/?tab=album&album_id=2329145430442914&__tn__=-UCH-R">Dan Ebermann</a></li>


        </ul>
    </div>
</div>

<h2>Masopust 2018</h2>
<p class="maso-em">Královna Tereza Klinkerová</p>
<div class="row">
    <div class="col-md">
        <h3  class="h4">Reportáže / Texts and podcasts</h3>
        <ul>
            <li><a href="https://vltava.rozhlas.cz/fotografie-markety-luskacove-ve-stredoceskem-muzeu-5089611">ArtCafé Českého rozhlasu&nbsp;2</a> – Jitka Tichá a&nbsp;Martina Krátká o&nbsp;roztockém Masopustu</li>
            <li><a href="https://prehravac.rozhlas.cz/audio/3979925">Český Rozhlas Plus: Den podle...</a> – Masopust od 42.&nbsp;minuty, mluví Anežka Konečná</li>
            <li><span class="maso-em">EN</span> <a href="https://www.rferl.org/a/czech-republic-masopust-carnival-shrove-tuesday-lent/29037419.html">Radio Svobodná Evropa / Radio Free Europe</a> – fotoreportáž Margot&nbsp;Buff</li>
            <li><a href="https://youtu.be/pfumaXJnEnE">SlováckoDNES.cz</a></li>
            <li><a href="http://www.ceskatelevize.cz/porady/10658625776-polopate/218562220400002/video/599878:">Polopatě – ČT</a> – o&nbsp;masopustech a&nbsp;pár slov i&nbsp;o&nbsp;Roztocké obchůzce</li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Před průvodem / Before the March</h3>
        <ul>
            <li><a href="https://www.facebook.com/pg/sdruzeniroztoc/photos/?tab=album&album_id=1753547318043034">Masopustní obchůzka – Jakub Souček</a></li>
            <li><a href="https://www.facebook.com/pg/sdruzeniroztoc/photos/?tab=album&album_id=1760263750704724">Dílna velkých svíticích masek – Honza Žirovnický</a></li>
            <li><a href="https://www.facebook.com/pg/sdruzeniroztoc/photos/?tab=album&album_id=1757993474265085">Dílna velkých svíticích masek – Jakub Souček</a></li>
            <li><a href="https://photos.google.com/share/AF1QipM0P9NwOstun3Z2kzKYy9qcj_8P8V0K_bWBtHTBPIWgwl8qXaHMLKW-zY3tdRzHTA?key=VWJ3dkU0cDVYYXpXSEszY1RYcVVKdXRCcmw3bmlB">Přípravy – Jakub Souček</a></li>
            <li><a href="https://www.facebook.com/pg/sdruzeniroztoc/photos/?tab=album&album_id=1767030310028068, "video":https://youtu.be/rCAOAgKeS_E">Ranní masopustní budíček – Jakub Souček</a></li>
        </ul>
    </div>
    <div class="w-100">
    </div>
    <div class="col-md">
            <h3  class="h4">Fotogalerie</h3>
            <ul>
                <li><a href="https://www.alicedix.com/single-post/2018/02/13/Masopust-2018-Rozto%C4%8D">Alice Dix</a></li>
                <li><a href="http://galerie.makrlik.cz/Spolecenske/2018/n-4n7dzR/20180210-roztocky-masopust/">Libor Makrlík</a> a <a href="https://www.facebook.com/pg/libor.makrlik.fotograf/photos/?tab=album&album_id=733770473494924">galerie na FB</a></li>
                <li><a href="http://knerik.rajce.idnes.cz/Masopust_Roztoky_u_Prahy_10.02.18/">Album Hanse Kristiána</a></li>
                <li><a href="https://photos.app.goo.gl/uus497XKBRrzZga53">Mojmír Nebel</a></li>
                <li><a href="https://www.flickr.com/photos/mmodlik/albums/72157669422323269">Miloslav Modlík</a></li>
                <li><a href="https://photos.google.com/share/AF1QipNuDcKc42qg7VMppuM9B4kPgIj-GuuEnqsC6-Qn8e0DXQNau8N5GDxjMoKGaTbWzg?key=YXZqeEdpZGh2UFNBYXE1cXFmcHNEOG9aY1FCbXNR">Jakub Souček</a></li>
                <li><a href="https://photos.google.com/share/AF1QipNq4NJKIti6ZqWgvT4qnsRw3MDYXJBT-Dltmd5EDzmu8G9mpsQl3SiSmaX1lwLq-g?key=NjJZVmowUlpxMzBVQUZ0REp2YWlGUEJYRHR2RHh3">Pavel Kacl</a> – setkání průvodů na Holém vrchu</li>
                <li><a href="https://photos.google.com/share/AF1QipOfr0XqOjauhcK74PL74n8GdztF5w2OPgv65PRferOwdlKQFxPqc2rj_93a8ZqUNQ?key=TVA1TnUyUkZEQk8yLXdrb293TF9CdVRoRGN2MlJn">Klaudie Debnárová</a></li>
            </ul>
        </div>
        <div class="col-md">
            <h3  class="h4">Facebook</h3>
            <ul>
                <li><a href="https://www.facebook.com/pg/VojtechVlkPhoto/photos/?tab=album&album_id=1863035397102844">Vojtěch Vlk</a></li>
                <li><a href="https://www.facebook.com/sipkatom/media_set?set=a.1736264289749853.1073741876.100000988951516&type=3&pnref=story">Tomáš Šipka</a></li>
                <li><a href="https://www.facebook.com/pg/janhromadkophoto/photos/?tab=album&album_id=952111378275549">Jan Hromádko</a></li>
                <li><a href="https://www.facebook.com/vojtech.straskraba/media_set?set=a.10214256519601108.1073741834.1659077457&type=1&l=d2ca68a52b">Vojtěch Straškraba</a></li>
                <li><a href="https://www.facebook.com/pg/svajcrvit/photos/?tab=album&album_id=804352796417932">Vít Švajcr</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100012690009222&sk=photos&collection_token=100012690009222%3A2305272732%3A69&set=a.432372507195746.1073741839.100012690009222&type=3">Pavel Havlena</a></li>
                <li><a href="https://www.facebook.com/alena.prevorova/posts/10210913078132043?pnref=story">Alena Prevorová</a></li>
                <li><a href="https://www.facebook.com/Skubajzka/media_set?set=a.10210490283963831.1073741849.1546860431&type=1&l=d331f32ddc">Petra Valo</a></li>
                <li><a href="https://www.facebook.com/pavel.micka.33/media_set?set=a.1645714075509848.1073742021.100002138153283&type=3">Pavel Micka</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>Masopust 2017</h2>
<p class="maso-em">Královna David Ramdan, "Nejsladší Chlupatice"</p>
<iframe width="677" height="381" src="https://www.youtube.com/embed/GtLFDVi3RNY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="row">
    <div class="col-md">
        <h3  class="h4">Reportáže / Texts and podcasts</h3>
        <ul>
            <li><a href="https://www.vice.com/cs/article/3dy8mv/sviti-li-slunce-na-blaznive-masopustni-dni">VICE: Svítí-li slunce na bláznivé masopustní dni</a></li>
            <li><span class="maso-em">FR</span> <a href="https://www.radio.cz/fr/rubrique/panorama/a-roztoky-un-carnaval-bien-dans-son-temps">Reportáž z Masopustu ve francouzštině</a></li>
            <li><a href="https://wave.rozhlas.cz/masopust-uspokojuje-touhu-nekam-patrit-lidove-slavnosti-ozivuji-prostor-cim-dal-5969971">Radio wave – o tom, proč Masopust děláme</a></li>
            <li><a href="http://www.a-tom.cz/clanek/18128-vyrocni-masopust-v-roztokach">A-tom</a> – článek od Tomíků</li>
        </ul>
    
        <h3  class="h4">Videa</h3>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=pD8Zbp4HV5w">HITHIT – Stavíme šapitó</a></li>
            <li><a href="https://www.youtube.com/watch?v=GtLFDVi3RNY">Masopustní video 2017 – Sdružení Roztoč</a></li>
            <li><a href="https://youtu.be/QWU6Xp09yWE">Vycházení průvodu ze Zámečku</a></li>
            <li><a href="https://youtu.be/I2gts0C7s9M">Bubeníci Blabuburo Corps</a> a <a href="https://youtu.be/ybetrsHDJT8">Průvod v Nádražní ulici</a> – Josef Javůrek</li>
        </ul>
    
        <h3  class="h4">Fotogalerie</h3>
        <ul>
            <li><a href="http://humansofprague.ihned.cz/archiv/5915">Humans of Prague</a></li>
            <li><a href="https://goo.gl/photos/GYBLXuJzwamgt9iD6">Jakub Souček</a></li>
            <li><a href="http://silvestrovskykopec.rajce.idnes.cz/Masopust_Roztoky_2017">Pavel Brokl</a></li>
            <li><a href="http://tomaskratochvil.cz/masopust-2017/">Tomáš Kratochvíl</a></li>
            <li><a href="https://myalbum.com/album/YxKZBovn6zTy">Jiří Voldán</a></li>
            <li><a href="http://www.ivanrupes.com/-/galleries/other-work/masopust-roztoky-czech-republic-2017">Ivan Rupeš</a></li>
            <li><a href="http://janhromadko.com/gallery/masopust-roztoky-unetice-suchdol/">Jan Hromádko</a> a na <a href="https://www.facebook.com/pg/janhromadkophoto/photos/?tab=album&album_id=763720137114675">FB</a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Facebook</h3>
        <ul>
            <li><a href="https://www.facebook.com/roman.vondrous/media_set?set=a.10209007011715024.1073741860.1309033409&type=3&pnref=story">Roman Vondrouš</a></li>
            <li><a href="https://www.facebook.com/pg/svajcrvit/photos/?tab=album&album_id=641787009341179">Vít Švajcr – Dobré světlo</a></li>
            <li><a href="https://www.facebook.com/pg/jan.faukner/photos/?tab=album&album_id=1249028475134895">Jan Faukner</a></li>
            <li><a href="https://www.facebook.com/pavel.bednar.503/media_set?set=a.10154927983272457.1073741875.621097456&type=3">Pavel Bednář</a></li>
            <li><a href="https://www.facebook.com/pg/KaterinaVodrazkovaPhotography/photos/?tab=album&album_id=1896273180602275">Kateřina Vodrážková</a></li>
            <li><a href="https://www.facebook.com/media/set/?set=oa.10154371442884499&type=1">Helena Kalendová</a></li>
            <li><a href="https://www.facebook.com/media/set/?set=a.10154650706931749&type=1&l=74c46072df">Radek Miřácký</a></li>
            <li><a href="https://www.facebook.com/media/set/?set=oa.10154372263559499&type=1">Honza Žirovnický</a></li>
            <li><a href="https://www.facebook.com/pg/anna.solcova.photography/photos/?tab=album&album_id=1552773368084376">Anna Šolcová</a></li>
            <li><a href="https://www.facebook.com/sipkatom/media_set?set=a.1388663237843295.1073741873.100000988951516&type=3&pnref=story">Tomáš Šipka</a></li>
            <li><a href="https://www.facebook.com/tereza.kerle/posts/10154632748488509">Tereza Kerle</a></li>
            <li><a href="https://www.facebook.com/dzejn.vonbabaudybau/media_set?set=a.10211785822670849&type=3&pnref=story&__mref=message_bubble">Jana Baudyšová</a></li>
            <li><a href="https://www.facebook.com/media/set/?set=a.1417998808232377.1073741888.100000668152827&type=1&l=9f53980aee">Lucie Haschková</a></li>
            <li><a href="https://www.facebook.com/denis.alex.simonenkoff/posts/10155245600638296">Denis Alex Simonenkoff</a></li>
            <li><a href="https://www.facebook.com/petrbonek.photography/media_set?set=a.1353741298016739.1073741838.100001426455654&type=3&__mref=message_bubble">Petr Bonek</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100012690009222&sk=photos&collection_token=100012690009222%3A2305272732%3A69&set=a.280339829065682.1073741835.100012690009222&type=3&uploaded=1">Pavel Havlena</a></li>
            <li><a href="https://www.facebook.com/ianus.zkoyotoo/media_set?set=a.10212537373096117.1073741865.1436987577&type=3">Ianus z Koyotoo</a></li>
            <li><a href="https://www.facebook.com/pg/paveldoubekphotography/photos/?tab=album&album_id=1929450760611789">Pavel Doubek</a></li>
            <li><a href="https://www.facebook.com/brudieux.franck/media_set?set=a.10155048398361484.1073742149.697426483&type=3">Brudieux Franck</a></li>
        </ul>
    </div>
</div>

<h2>Masopust 2016</h2>
<p class="maso-em">Královna Barbora Sléhová, "Královna divočiny"</p>
<div class="row">
    <div class="col-md">
        <h3  class="h4">Fotogalerie</h3>
        <ul>
            <li><a href="http://humansofprague.ihned.cz/archiv/5915">Humans of Prague</a></li>
            <li><a href="https://photos.google.com/share/AF1QipOP3mgw0hBJEVOEgoFYfCh0BhcajGPsqX_p7GO6klt26dgJXPrBDQ4RH6Q3JpZ7eQ?key=TUVONm1wMUlia1ppR2FPY2ZpX0k4NExDUFhlU2RB">Jakub Souček</a></li>
            <li><a href="https://www.flickr.com/photos/139040864@N02/sets/72157661604624774">Matyáš Vavřím</a></li>
            <li><a href="http://www.brblal.net/23-01-2016-roztocky-masopust/">brblal.net</a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Facebook</h3>
        <ul>
            <li><a href="https://www.facebook.com/jhromadko/media_set?set=a.10208514974856440.1073742015.1369931498&type=3&__mref=message_bubble">Jan Hromádko</a></li>
            <li><a href="https://www.facebook.com/media/set/?set=a.475595229293692.1073741933.159568067563078&type=3&uploaded=30">Vít Švajcr</a></li>
            <li><a href="https://www.facebook.com/media/set/?set=a.947553691949043.1073741847.147845775253176&type=3">Jan Faukner</a></li>
            <li><a href="https://www.facebook.com/ianus.zkoyotoo/media_set?set=a.10208789681966181.1073741852.1436987577&type=3">Ianus Z Koyotoo</a></li>
            <li><a href="https://www.facebook.com/photo.php?fbid=10205883318269695&set=pcb.10205883338550202&type=3&theater">Fotografie</a> a <a href="https://www.facebook.com/jakub.hajek1/videos/10205882692374048/?theater">video</a> Jakuba Hájka</li>

        </ul>
    </div>
</div>

<h2>Masopust 2015</h2>
<p class="maso-em">Královna Zuzana Strnadová</p>
<ul>
    <li><a href="https://plus.google.com/photos/+JakubSoucek/albums/6118744782648918641">Jakub Souček</a></li>
    <li><a href="http://jam53.rajce.idnes.cz/18._Masopust_-_Roztoky_2015/">jam53 na rajčeti</a></li>
    <li><a href="http://silvestrovskykopec.rajce.idnes.cz/Masopust_Roztoky_2015/">silvestrovskykopec na rajčeti</a></li>
</ul>

<h2>Masopust 2014</h2>
<p class="maso-em">Královna Marianna Stránská</p>
<ul>
    <li><a href="https://plus.google.com/photos/+JakubSoucek/albums/5982957153150261761">Jakub Souček</a></li>
    <li><a href="http://www.flickr.com/photos/margotbuff/sets/72157641058657264/">Margot Buff</a></li>
    <li><a href="https://www.respekt.cz/out-of-focus/v-maskach">Časopis Respekt - Matěj Stránský - Out of focus - "V maskách"</a></li>
    <li><b>FB</b> <a href="https://www.facebook.com/jhromadko/media_set?set=a.10203230294942745.1073741912.1369931498&type=1">Jana Hromádko</a></li>
    <li><b>VIDEO</b> <a href="https://www.youtube.com/watch?v=msRoEBaY8fM">Čísi video na Youtube</a></li>
</ul>

<h2>Masopust 2013</h2>
<p class="maso-em">Královna Zuzana Vítková</p>
<ul>
    <li><b>REPORTÁŽ Z MASOPUSTU I JEHO PŘÍPRAVY </b><a href="http://www.ceskatelevize.cz/porady/1102732990-folklorika/313295350020006/?fb_action_ids=741682819184532&fb_action_types=og.likes&fb_source=other_multiline&action_object_map=%5B342806732495727%5D&action_type_map=%5B%22og.likes%22%5D&action_ref_map=%5B%5D">Folklorika – Česká televize</a></li>
    <li><a href="https://plus.google.com/photos/118174173575657860911/albums/5844002490795423953">Martin Šmíd</a></li>
    <li><a href="http://cestujeme.4fan.cz/maso13/index.html">Honza Homuta</a></li>
    <li><a href="http://rusal-ka.rajce.idnes.cz/Masopust_Roztoky_2013/">ID Rusal-ka, Rajče</a></li>
    <li><a href="http://silvestrovskykopec.rajce.idnes.cz/Masopust_Roztoky_2013/">ID Silvestrovskykopec, Rajče</a></li>
    <li><a href="http://barca71.rajce.idnes.cz/Masopust_2013_-_Roztoky_u_Prahy/">ID Barca71, Rajče</a></li>
</ul>

<h2>Masopust 2012</h2>
<p class="maso-em">Královna Tereza Sléhová</p>
<ul>
    <li><a href="https://plus.google.com/photos/113068359344609571672/albums/5715771026688994257?banner=pwa">Jakub Souček</a></li>
    <li><a href="http://ylva52.blogspot.com/2012/02/masopust-roztoky.html">Ylva - Projekt 52</a></li>
    <li><b>FB</b> <a href="http://cs-cz.facebook.com/media/set/?set=a.189921531114474.32774.128756183897676&type=1">MČ Praha Suchdol</a></li>
    <li><a href="http://youtu.be/zvzfKR79IME">Předtančení roztocké omladiny</a></li>
</ul>

<h2>Masopust 2011</h2>
<p class="maso-em">Královna Dora Tichá</p>
<div class="row">
    
    <div class="col-md">
        <h3  class="h4">Fotogalerie</h3>
        <ul>
            <li><a href="http://ramo.rajce.idnes.cz/Masopust_Roztoky_2011/">ID Ramo</a> na Rajce.net</li>
            <li><a href="http://sidd.rajce.idnes.cz/Masopust_Roztoky_5.brezna_2011/">ID Sidd</a> na Rajce.net</li>
            <li><a href="http://lalaura.rajce.idnes.cz/Masopust_2011_Roztoky-Unetice/">ID Lalaura</a> na Rajce.net</li>
            <li><a href="http://lada.kpc-praha.cz/foto/2011-03-06_masopust/index.html">Ladislav Vlk</a></li>
            <li><a href="http://www.facebook.com/media/set/?set=a.362262193788064.104252.130960783584874&type=3">Město Roztoky</a></li>
            <li><a href="http://mistnikultura.cz/masopust-2011-zije">Masopust 2011 žije!</a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Výstava Markéty Luskačové<br>O smrti, o koních a jiných lidech </h3>
        <ul>
            <li><a href="http://www.rozhlas.cz/mozaika/vytvarne/_zprava/fotografie-markety-luskacove-ve-stredoceskem-muzeu--846602">Rozhovor s&nbsp;Markétou Luskačovou</a> na&nbsp;ČRO</li>
            <li><a href="http://www.ceskatelevize.cz/ivysilani/10318911545-kultura-s-dvojkou/211542156000045/obsah/149864-vystava-o-konich-o-smrti-a-jinych-lidech/">Povídání o&nbsp;výstavě a&nbsp;roztockém Masopustu na&nbsp;ČT2</a></li>
            <li><a href="http://denikreferendum.cz/clanek/8788-marketa-luskacova-predstavi-znovuzrozene-masopusty">Recenzez pera Věry Jirousové, Deník Referendum</a></li>
            <li><a href="https://www.idnes.cz/zpravy/archiv/o-smrti-o-konich-a-jinych-lidech-podava-svou-vypoved-fotografka-luskacova.A110315_164501_kavarna_chu">Recenze výstavy na iDnes</a></li>
        </ul>
    </div>
</div>

<h2>Masopust 2010</h2>
<p class="maso-em">Královna Hana Fritscherová</p>
<ul>
    <li><a href="http://tymirko.rajce.idnes.cz/2010_unor_masopust_Roztoky/">ID Tymirko</a> na Rajčeti.net</li>
    <li><a href="http://piskot1.rajce.idnes.cz/masopust_Roztoky/">ID Piskot1</a> na Rajčeti.net</li>
    <li><a href="https://picasaweb.google.com/107000775731371127136/Masopust2010?noredirect=1">Eva Hrončeková</a></li>
</ul>
 {# 
<div class="row">
    <div class="col-md">
        <h3  class="h4">Reportáže a&nbsp;povídání</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Před průvodem</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="w-100">
    </div>
    <div class="col-md">
        <h3  class="h4">Fotogalerie</h3>
        <ul>
            <li><a href="http://humansofprague.ihned.cz/archiv/5915">Humans of Prague</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Facebookové galerie</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>

        </ul>
    </div>
</div>


Rok 2009 (Královna Magdaléna Tichá) "[* {{image(102,tumbail_2,0)}} .[texy-image] >]":[* {{image(102,full,0)}} *]
###########
- "NAŠE FOTOGALERIE":http://www.roztoc.cz/galerie/f-2009/38-masopust-2009/
- **Fotogalerie fotografky Ivy Zímové** - "zde":http://www.ivazimova.com/portfolio/czech_republic/masopust-parade-czech-mardi-gras/
- Fotogalerie "Evy Hrončekové":https://picasaweb.google.com/107000775731371127136/Masopust2009?noredirect=1
- **Fotogalerie Michala Táborského** - "zde":http://picasaweb.google.cz/michal.taborsky/MasopustRoztoky2009#
- **Koktejl** - V posledním čísle časopisu Koktejl (únor 2010) naleznete "článek o masopustu v Roztokách":http://www.czech-press.cz/index.php?option=com_content&view=article&id=6129&Itemid=4.
- **Novinky.cz** - Server Novinky.cz napsal "delší článek o Roztockém masopustu":www.novinky.cz/cestovani/162118-obrazem-roztocky-masopust-zahajila-kralovna-na-velbloudu.html":http://www.novinky.cz/cestovani/162118-obrazem-roztocky-masopust-zahajila-kralovna-na-velbloudu.html v roce 2009. Součástí je i poměrně hezká fotogalerie. 
- **"Blog Jany Hradilkové":http://blog.aktualne.centrum.cz/blogy/jana-hradilkova.php?itemid=5988**
- "Fotogalerie ID Zorra":http://zorra.rajce.idnes.cz/Masopust_Roztoky_Unetice_09/ na Rajce.net
- "Fotogalerie ID Akinore":http://akinore.rajce.idnes.cz/Masopust_II-09_-_Roztoky/ na Rajce.net

<div class="row">
    <div class="col-md">
        <h3  class="h4">Reportáže a&nbsp;povídání</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Před průvodem</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="w-100">
    </div>
    <div class="col-md">
        <h3  class="h4">Fotogalerie</h3>
        <ul>
            <li><a href="http://humansofprague.ihned.cz/archiv/5915">Humans of Prague</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Facebookové galerie</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>

        </ul>
    </div>
</div>

Rok 2008 (Královna Jitka Tichá) "[* {{image(1065,tumbail_2,0)}} .[texy-image] >]":[* {{image(1065,full,0)}} *]
###########
- **Fotogalerie Lukáše Brindy** - "zde":http://picasaweb.google.com/lukas.brinda/MasopustRoztokyUnetice#
- "Fotogalerie Ivy Zímové":http://www.flickr.com/photos/ivazimova/sets/72157614414052312/
- **Pijtyjova fotogalerie** - "Fotogalerie":http://pijtyjova.jalbum.net/Masopust%20roztoky%20-%20foto%20Katka%20Ratajov%C3%A1/index.html jednoho z účastníků masopustu v roce 2008. 

- O roztockém Masopustu vyšel článek i v **japonském časopise**. Autorem článku i doprovodných fotografií je Yukihiro Masuda, japonský novinář žijící v Roztokách. Článek je ke stažení "zde (pdf)":/dokumenty/?act=get&check=da4c4d861aa8feb3b0d8a64ed5e4e49a&id=7&noinc=1

<div class="row">
    <div class="col-md">
        <h3  class="h4">Reportáže a&nbsp;povídání</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Před průvodem</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="w-100">
    </div>
    <div class="col-md">
        <h3  class="h4">Fotogalerie</h3>
        <ul>
            <li><a href="http://humansofprague.ihned.cz/archiv/5915">Humans of Prague</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Facebookové galerie</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>

        </ul>
    </div>
</div>

Rok 2007
###########

- **Čestné uznání Czech press photo 2007** - Fotograf Radim Beznoska získal za "fotografie":http://czechpressphoto.cz/cz.php?st=r2007 nazvané *Pochod masopustních maškar z Roztok do Únětic* z masopustu v roce 2007 čestné uznání v kategorii *Umění* prestižní soutěže Czech press photo.

- **Labutí jezero v Úněticích** - V roce 2007 baletky z Moskevského baletu předvedly v Úněticích nepřekonatelné předtančení. Jeho záznam z amatérské kamery naleznete "zde":http://www.youtube.com/watch?v=GB-TU8htvUk .

- **National geographic** - O desátém jubilejním masopustu v Roztokách vnikl "článek s fotogalerií":www.national-geographic.cz/lide-a-kultura/masky-to-roztocily-v-roztokach-1094/":http://www.national-geographic.cz/lide-a-kultura/masky-to-roztocily-v-roztokach-1094/ na stránkách časopisu National Geographic.

- **Fotogalerie Honzy Linharta** - "zde":http://www.hradnik.cz/honza/20070210.html

- **O Masopustu a fašanku na Českém rozhlase** - "Obecný etnografický pořad o masopustu a fašanku na Českém rozhlase.":http://www.radio.cz/cz/clanek/88716 Je zmiňován i masopust v Roztokách a je zde zvěčněno neodolatelné přemlouvání roztockého Žida o kvalitě jeho zboží.

<div class="row">
    <div class="col-md">
        <h3  class="h4">Reportáže a&nbsp;povídání</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Před průvodem</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="w-100">
    </div>
    <div class="col-md">
        <h3  class="h4">Fotogalerie</h3>
        <ul>
            <li><a href="http://humansofprague.ihned.cz/archiv/5915">Humans of Prague</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="col-md">
        <h3  class="h4">Facebookové galerie</h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>

        </ul>
    </div>
</div>

Rok 2006
###########

- **Fotografie Milana Bartoše** - "Pár obrázků z roku 2006":http://www.fstop.cz/e/bartos/masopust-roztoky/ od pana Milana Bartoše.

- **Soukromá fotogalerie** - Soukromá "fotogalerie z masopustu v Roztokách":http://www.kulicka.net/LEXX/masopust_2006/page_01.htm v roce 2006 na www.kulicka.net. #}


{% endblock %}       
{% endblock %}
