{% extends '_base.twig' %}


{% block title %}Masopust v&nbsp;Roztokách a&nbsp;Úněticích 2019{% endblock %}



{% block content %}
    <div class="maso-header-img-cont">
        <img src="img/ilustracni/maso2019.jpg" class="img-fluid maso-header-img">
    </div>

    <div>
        <h1 class="pb-0">Masopust v&nbsp;Rozto&shy;kách a&nbsp;Úněti&shy;cích</h1>
        <p class="h2 pt-0">16.&nbsp;února 2019</p>
    </div>
    <p class="maso-anotace">Průvod mezi nebem a&nbsp;zemí, údolím a&nbsp;vrchem, minulostí a&nbsp;budoucností vyráží opět za svou královnou. Maškary se v&nbsp;poledne setkají na&nbsp;roztockém zámku, spojí s&nbsp;Únětickými a&nbsp;Suchdolskými tancem na&nbsp;pláni Holého vrchu a&nbsp;zakončí svou cestu zábavou v&nbsp;pravém a&nbsp;nefalšovaném vyhřívaném šapitó.</p>

    <h2>Program</h2>
    <ul>
        <li><b>11.00</b> <a href="/maskary">Půjčování masek</a> – Středočeské muzeum v&nbsp;Roztokách</li>
        <li><b>12.00</b> Bohaté dění ve Středočeském muzeu v&nbsp;Roztokách</li>
        <li><b>14.30</b> Průvod Roztokami se zastavením na náměstí a&nbsp;na&nbsp;okraji Roztok směrem na&nbsp;Únětice</li>
        <li><b>16.20</b> Setkání průvodů na Holém&nbsp;vrchu, kolové tance</li>
        <li><b>17.30</b> Masopustní zábava v&nbsp;šapitó</li>
        <li><b><a href="/program">Podrobný program</a></b></li>
    </ul>

    <img src="img/mapy/mapa-pruvod.jpg" alt="Mapa trasy průvodu" class="img-fluid">

    <h2>Doprava</h2>
    <ul>
        <li><b>Vlakem:</b> Linky S4 a S41 z Prahy-Holešovic jsou pro cestu z Prahy nejlepší volbou. Středočeské muzeum je kousínek od zastávky Roztoky u&nbsp;Prahy. A&nbsp;v&nbsp;rozumné vzdálenosti od&nbsp;šapitó je i&nbsp;zastávka Roztoky-Žalov.</li>
        <li><b>Autobusem:</b> Autobus 340 a&nbsp;350 jezdí z&nbsp;Dejvické. Nedoporučujeme jej, je velké riziko, že se do něj nevejdete.</li>
        <li><b>Autem:</b> Autem nejezděte, máte-li jinou možnost.</li>
        <li><b>Autobusy mezi Roztokami a&nbsp;Úněticemi:</b> S&nbsp;velkou pravděpodobností pojede opět speciální masobus&nbsp;359, spojující obě obce.</li>
    </ul>

{% endblock %}
