{% extends '_base.twig' %}


{% block title %}Masopust v&nbsp;Roztokách a&nbsp;Úněticích 2019{% endblock %}

{% block content %}
    <div class="maso-header-img-cont">
        <img
        sizes="
        (min-width: 1200px) 1110px, 
        (min-width: 992px) 930px, 
        (min-width: 768px) 690px, 
        (min-width: 576px) 510px, 
        calc(100vw-30px)"
        srcset="
        img/ilustracni/maso2019_nc9vgq_c_scale,w_300.jpg 300w,
        img/ilustracni/maso2019_nc9vgq_c_scale,w_513.jpg 513w,
        img/ilustracni/maso2019_nc9vgq_c_scale,w_683.jpg 683w,
        img/ilustracni/maso2019_nc9vgq_c_scale,w_834.jpg 834w,
        img/ilustracni/maso2019_nc9vgq_c_scale,w_964.jpg 964w,
        img/ilustracni/maso2019_nc9vgq_c_scale,w_1090.jpg 1090w,
        img/ilustracni/maso2019_nc9vgq_c_scale,w_1214.jpg 1214w,
        img/ilustracni/maso2019_nc9vgq_c_scale,w_1560.jpg 1560w"
        src="img/ilustracni/maso2019_nc9vgq_c_scale,w_964.jpg"
        alt="Roztocký Masopust 2019 se blíží!" class="img-fluid maso-header-img">
    </div>

    <div>
        <h1 class="pb-0">Masopust v&nbsp;Rozto&shy;kách a&nbsp;Úněti&shy;cích</h1>
        <p class="h2 pt-0">16.&nbsp;února 2019</p>
    </div>
    <p class="maso-anotace">Průvod mezi nebem a&nbsp;zemí, údolím a&nbsp;vrchem, minulostí a&nbsp;budoucností vyráží opět za svou královnou. Maškary se v&nbsp;poledne setkají na&nbsp;roztockém zámku, spojí s&nbsp;Únětickými a&nbsp;Suchdolskými tancem na&nbsp;pláni Holého vrchu a&nbsp;zakončí svou cestu zábavou v&nbsp;pravém a&nbsp;nefalšovaném vyhřívaném šapitó.</p>
    <h2>Program</h2>
    <div class="row">
        <div class="col-lg">
            <ul>
                <li><strong>11.00</strong> <a href="/maskary maso-name" class="maso-name">Půjčování masek</a> – <a href="https://www.google.cz/maps/place/50%C2%B009'30.3%22N+14%C2%B023'55.2%22E/@50.15841,14.3964633,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.1584096!4d14.3986524?hl=cs">Středočeské muzeum v&nbsp;Roztokách u&nbsp;Prahy</a></li>
                <li><strong>12.00</strong> <span class="maso-name">Bohaté dění</span> <a href="https://www.google.cz/maps/place/50%C2%B009'30.3%22N+14%C2%B023'55.2%22E/@50.15841,14.3964633,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.1584096!4d14.3986524?hl=cs">na zámku, tj. ve Středočeském muzeu</a></li>
                <li><strong>14.30</strong> <span class="maso-name">Průvod Roztokami</span> se zastavením na náměstí a&nbsp;na&nbsp;okraji Roztok směrem na&nbsp;Únětice <a href="https://www.google.cz/maps/dir/50.1585055,14.3990066/50.1616947,14.3940287/50.1536488,14.3812738/50.151785,14.3708468/50.1614531,14.3743336/@50.1565322,14.3750353,15z/data=!3m1!4b1!4m2!4m1!3e2?hl=cs">(→ trasa průvodu na google mapách)</a></li>
                <li><strong>16.20</strong> <span class="maso-name">Setkání průvodů na Holém&nbsp;vrchu</span>, kolové tance</li>
                <li><strong>17.30–22.00</strong> <span class="maso-name">Masopustní zábava v&nbsp;šapitó</span><a href="https://www.google.cz/maps/place/50%C2%B009'42.0%22N+14%C2%B022'26.2%22E/@50.161654,14.3717543,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.1616542!4d14.3739435?hl=cs">v&nbsp;Roztokách-Žalově</a></li>
                <li><strong><a href="/program">Podrobný program</a></strong></li>
            </ul>
        </div>
        <div class="col-sm">
            <a href="https://www.facebook.com/events/697867023946747/" class="maso-no-print p-5 m-5"><img src="img/loga/fb.svg" alt="logo fb" width="70px"></a>
        </div>
    </div>
    <h2>Doprava</h2>
    <ul>
        <li><strong>Autobusy mezi Roztokami a&nbsp;Úněticemi:</strong> S&nbsp;velkou pravděpodobností pojede opět speciální masobus&nbsp;359, spojující obě obce.</li>
        <li><strong>Vlakem z Prahy:</strong> Linky S4 a S41 z Masarykova nádraží / Prahy-Holešovic / Prahy-Podbaby jsou pro cestu z Prahy nejlepší volbou. Středočeské muzeum je kousínek od zastávky Roztoky u&nbsp;Prahy. A&nbsp;v&nbsp;rozumné vzdálenosti od&nbsp;šapitó je i&nbsp;zastávka Roztoky-Žalov.</li>
        <li><strong>Autobusem z Prahy:</strong> Autobus 340 a&nbsp;350 jezdí z&nbsp;Dejvické. Nedoporučujeme jej, je velké riziko, že se do něj nevejdete.</li>
        <li><strong>Autem:</strong> Autem nejezděte, máte-li jinou možnost. Díky!</li>
    </ul>

{% endblock %}
