{% extends '_base.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/maso2019_nc9vgq_c_scale,w_964.jpg">
    <meta property="og:title" content="Masopust v&nbsp;Roztokách a&nbsp;Úněticích – 16.&nbsp;února 2019">
    <meta property="og:description" content="Průvod mezi nebem a&nbsp;zemí, údolím a&nbsp;vrchem, minulostí a&nbsp;budoucností vyráží opět za svou královnou.">
    <meta property="og:url" content="http://masopust.roztoc.cz">
    {% endblock %}

{% block title %}Masopust v&nbsp;Roztokách a&nbsp;Úněticích 2019{% endblock %}

{% block content %}
    <div class="maso-header-img-cont">
        <img
        sizes="
        (min-width: 1200px) 1110px,
        (min-width: 992px) 930px,
        (min-width: 768px) 690px,
        (min-width: 576px) 510px,
        calc(100vw-30px)"
        srcset="
       /img/ilustracni/maso2019_nc9vgq_c_scale,w_300.jpg 300w,
       /img/ilustracni/maso2019_nc9vgq_c_scale,w_513.jpg 513w,
       /img/ilustracni/maso2019_nc9vgq_c_scale,w_683.jpg 683w,
       /img/ilustracni/maso2019_nc9vgq_c_scale,w_834.jpg 834w,
       /img/ilustracni/maso2019_nc9vgq_c_scale,w_964.jpg 964w,
       /img/ilustracni/maso2019_nc9vgq_c_scale,w_1090.jpg 1090w,
       /img/ilustracni/maso2019_nc9vgq_c_scale,w_1214.jpg 1214w,
       /img/ilustracni/maso2019_nc9vgq_c_scale,w_1560.jpg 1560w"
        src="/img/ilustracni/maso2019_nc9vgq_c_scale,w_964.jpg"
        alt="Roztocký&nbsp;Masopust 2019 se blíží!" class="img-fluid maso-header-img">
    </div>

    {% block text %}
        <div>
            <h1 class="pb-0">Masopust v&nbsp;Rozto&shy;kách a&nbsp;Úněti&shy;cích&nbsp;2020/h1>
            <p class="h2 pt-0">bude 15.&nbsp;února 2020</p>
        </div>
        <p class="maso-anotace">...a víc vám zatím neřeknem.</p>
        
        <div class="maso-excursion">
            <p class="mt-3">Naši milí,<br>Masopust je za námi a&nbsp;my děkujeme všem, kteří ho s&nbsp;námi dalším rokem nesli.</p>
            <p>Je mezi vámi zhruba dvě stě lidí různého věku, rozličných povolání a&nbsp;osudů, které myšlenka Masopustu každým rokem spojí a&nbsp;nastartuje mezi nimi skvělou a&nbsp;nezaměnitelnou energii, ze které vše roste. A&nbsp;nás to moc těší.</p>
            <p>Míra nasazení je obrovská – letos jsme napočítali 4023,5 odpracovaných masopustních dobrovolnických hodin práce.<br>A to jsme zcela jistě na někoho zapomněli.</p>
            <h2>Děkujeme vám moc!</h2>
            <h3>Masky</h3>
            <ul>
                <li><span class="maso-em">Jednu osobu či skupinu osob (až 19 lidí) za 180 vteřin v&nbsp;maskérně oblékly:</span> Martina&nbsp;Macurová a&nbsp;Renáta&nbsp;Baxová s&nbsp;pomocí Lenky&nbsp;Bráfky&nbsp;Svobodové, Kamily&nbsp;Havlíkové, Barbory&nbsp;Mirovské a&nbsp;Zuzky&nbsp;Strnadové</li>
                <li><span class="maso-em">Překrásné látky darovala:</span> Jiřina&nbsp;Floriánová</li>
                <li><span class="maso-em">Masky a&nbsp;kostýmy opravovali:</span> Jaromír&nbsp;Sléha a&nbsp;Zuzana&nbsp;Sléhová, Barbora&nbsp;Sléhová, Marcel&nbsp;Ramdan, Eva&nbsp;Kulová, Zuzana&nbsp;Strnadová, Bráfka&nbsp;Lenka&nbsp;Svobodová, Markéta&nbsp;Luskačová, Josefína&nbsp;Tichá</li>
                <li><span class="maso-em">Oblek královny, čtyřmužnou Klibnu a&nbsp;Chrtí partu vytvářeli:</span> Dora a&nbsp;Adam&nbsp;Krátcí, Alison&nbsp;Duddle, Andrew a&nbsp;Kathy&nbsp;Kim, Jonny&nbsp;Quick, Bráfka&nbsp;Lenka&nbsp;Svobodová, Alžběta&nbsp;Svobodová, Eva&nbsp;Kulová, Zuzana&nbsp;Strnadová, Jitka&nbsp;Klinkerová, Magdalena&nbsp;Marková a&nbsp;Martin&nbsp;Jirků</li>
                <li><span class="maso-em">Velmi vkusné škrabošky, čelenky a&nbsp;fascinátory vyráběly:</span> Radka a&nbsp;Kateřina&nbsp;Machalická, Klára&nbsp;Břicháčková, Zuzana&nbsp;Šrůmová, Kamila&nbsp;Havlíková, Iva&nbsp;Ježková s&nbsp;dcerou, Bára&nbsp;Havlíková, Zuzka&nbsp;Strnadová, Magdalena&nbsp;Marková, Ema&nbsp;Ramdanová, Anežka&nbsp;Votavová, Zuzana&nbsp;Vítková, Alison&nbsp;Duddle, Magdalena&nbsp;Marková</li>
                <li><span class="maso-em">Na zámku škrabošky prodávaly:</span> Kateřina a&nbsp;Radka&nbsp;Machalické</li>
            </ul>
            <h3>Program a&nbsp;organizace</h3>
            <ul>
                <li><span class="maso-em">Kdejaká povolení vyřizovali:</span> Hana&nbsp;Křístková, Ondřej&nbsp;Marek, Jitka&nbsp;Tichá</li>
                <li><span class="maso-em">Dramaturgii sestavila:</span> Jitka&nbsp;Tichá</li>
                <li><span class="maso-em">Obrázky překrásných královen, smrtí a medvědůch nakreslila:</span> Zuzanka&nbsp;Vítková</li>
                <li><span class="maso-em">Masopustní noviny spáchali:</span> Ondřej&nbsp;Marek, Štěpánka&nbsp;Bláhovcová, Martina&nbsp;Kupsová a&nbsp;Jitka&nbsp;Tichá</li>
                <li><span class="maso-em">Na obchůzce skotačili, hráli a&nbsp;tančili:</span> Muzička, děti z kroužků Roztoč&nbsp;Kolečko a&nbsp;Kolíček pod vedením Anežky&nbsp;Konečné</li>
                <li><span class="maso-em">Podporu finanční i hmotnou pro Masopust sháněly:</span> Karolína&nbsp;Šípalová, Dita&nbsp;Votavová</li>
                <li><span class="maso-em">Produkci zajišťovaly:</span> Lída&nbsp;Vacková, Kateřina&nbsp;Korychová a&nbsp;samozřejmě Jitka&nbsp;Tichá</li>
                <li><span class="maso-em">Okolo běhali a&nbsp;všechno zařizovali:</span> Dita&nbsp;Votavová, Zuzana&nbsp;Šrůmová, Petra&nbsp;Frydrychová, Ondřej&nbsp;Marek, Jitka&nbsp;Tichá, Magdalena&nbsp;Marková a&nbsp;další</li>
                <li><span class="maso-em">Mohutně vometaly a&nbsp;vymetaly:</span> Josefina&nbsp;Tichá, Bára&nbsp;Langová, Eliška&nbsp;Boloňská, Majda&nbsp;Křístková, Helena&nbsp;Frydrychová, Ráchel&nbsp;Humplová, Majda&nbsp;Klinkerová, Ema&nbsp;Ramdanová, Kačka&nbsp;Korychová, Eliška&nbsp;Vítková, Ester&nbsp;Gracerová, Johanka&nbsp;Kuželková, Kristýna&nbsp;Mazánková</li>
                <li><span class="maso-em">Královny na svém hřbetě nesli:</span> Ondřej&nbsp;Dlohoš, Šimon&nbsp;Stibůrek, Martin&nbsp;Čabelka, Jonatán&nbsp;Vnouček, Juráš</li>
                <li><span class="maso-em">Rytmické rytmy pod hlavičkou kapely Blabuburo bubnovali:</span> Dan&nbsp;Fritscher, Josef&nbsp;Javůrek, Jindřich&nbsp;Klega, Petr&nbsp;Komínek, Petr&nbsp;Komínek jr., Viki&nbsp;Lašová, Alexandra&nbsp;Narwa, Pavel&nbsp;Tichý, Veronika&nbsp;Trachtová, Tomáš&nbsp;Turek, Pavel&nbsp;Žert, Jiří&nbsp;Krátký</li>
                <li><span class="maso-em">Artistické vystoupení na zemi i ve vzduchu chystali:</span> Alžběta&nbsp;Tichá, Cécile da Costa, Lída&nbsp;Vacková, Jan&nbsp;Jirák, Saana&nbsp;Tolonen, Jonas&nbsp;Alich, Elena&nbsp;Damasio, Xenia&nbsp;Bannuscher, Dries&nbsp;Vanwalle a&nbsp;Tygr v&nbsp;Holinkách</li>
                <li><span class="maso-em">Tombolu zorganizovali:</span> Pavel&nbsp;Měkota, Jana&nbsp;Měkotová a&nbsp;Vojtěch&nbsp;Sedláček s&nbsp;podporou Draků</li>
                <li><span class="maso-em">Cizince, co jsou našinci, ubytovávali a&nbsp;hostili:</span> Dagmar a&nbsp;Pavel&nbsp;Caislovi, Adam a&nbsp;Dora&nbsp;Krátcí, Martina&nbsp;Moravcová, Martina a&nbsp;Jiří&nbsp;Krátcí, Jitka a&nbsp;Pavel&nbsp;Tiší</li>
                <li><span class="maso-em">Jestli&nbsp;Masopust tajit nebo propagovat stále váhala a&nbsp;tento web matlala:</span> Zuzana&nbsp;Šrůmová</li>
            </ul>
            <h3>Jídlo a&nbsp;pití</h3>
            <ul>
                <li><span class="maso-em">Koláče pekli, polévky vařili, maso grilovali, jídlo a&nbsp;pití na stáncích prodávali a&nbsp;ohně uvnitř kotlíků rozdělávali:</span> Dita&nbsp;Antošová, Zuzana&nbsp;Antošová, Věra&nbsp;Bohdanecká,  Klára&nbsp;Bryndová, Lada&nbsp;Bryndová,  Zina&nbsp;Bumbálková, Dáša&nbsp;Caislová, Adam&nbsp;Čech, Jitka&nbsp;Čechová, Michaela&nbsp;Černá,  Alice&nbsp;Felkelová, Juliana&nbsp;Felkelová,  Alice&nbsp;Frydrychová, Petra&nbsp;Frydrychová, Štefan&nbsp;Geissler, Hana&nbsp;Hájková, Alena&nbsp;Hendlingerová, Aleš&nbsp;Hendlinger, Radka&nbsp;Hendlingerová, Tadeáš&nbsp;Hendlinger, Petr&nbsp;Hošek, Michael&nbsp;Hošek, Kateřina&nbsp;Hošková, Marie&nbsp;Hošková, Anežka&nbsp;Hošková, Blanka&nbsp;Humplová, Štěpán&nbsp;Humpl, Zdenek&nbsp;Skružný, Ela&nbsp;Hyková, Jitka&nbsp;Klinkerová, Magdalena&nbsp;Klinkerová, Eva&nbsp;Komínková, Martina&nbsp;Krátká, Iva&nbsp;Krejdlová, Hanka&nbsp;Křístková, Simona&nbsp;Kulhánková, Jana&nbsp;Kudová, Alena&nbsp;Kunová,  Andrea&nbsp;Kutnarová, Alena&nbsp;Ledererová, Klára&nbsp;Loukotová, Mirka&nbsp;Maděrová, Jakub&nbsp;Marek, Marie&nbsp;Marková, Kateřina&nbsp;Korychová, Marie&nbsp;Ratiborská, kluci Marešovi, Jana&nbsp;Měkotová, Pavel&nbsp;Měkota, Helena&nbsp;Mikyšková, Petra&nbsp;Novotná, Tomáš&nbsp;Novotný 1., Tomáš&nbsp;Novotný 2., Jitka&nbsp;Olejárová, Daniela&nbsp;Pařízková, Mirka&nbsp;Pokorná, Věra&nbsp;Procházková, Jitka&nbsp;Ramdanová, Jarmila&nbsp;Skružná, Roman&nbsp;Holec, Josef&nbsp;Šebesta, Monika&nbsp;Šnajdrová, Matěj&nbsp;Štěpánek s&nbsp;Klárou a&nbsp;Petrem, Marie&nbsp;Trefná, Šárka&nbsp;Turková, Tomáš&nbsp;Urfus, Jan&nbsp;Valenta, Thea&nbsp;Voráčková, Anežka&nbsp;Votavová, Petra&nbsp;Zwinz a&nbsp;její žáci, Michaela&nbsp;Žertová, Tobiáš&nbsp;Zděblo</li>
                <li><span class="maso-em">Svačinky pro organizátory nabalily:</span> Zuzana&nbsp;Sléhová, Bráfka&nbsp;Lenka Svobodová, Zuzana&nbsp;Slancová, Adelína&nbsp;Starostová</li>
                <li><span class="maso-em">Polívky, koláče a&nbsp;různé dobroty pro pracanty vařily a&nbsp;pekly:</span> Jitka&nbsp;Tichá, Dita&nbsp;Votavová, Magdalena&nbsp;Marková, Zuzana&nbsp;Johanidesová, Martina&nbsp;Krátká, Anna&nbsp;Kaucká, Karolína&nbsp;Šípalová, Zuzana&nbsp;Sléhová, Marie&nbsp;Tomešová.</li>
                <li><span class="maso-em">Královskou snídani navařily:</span> Alžběta a&nbsp;Lenka&nbsp;Bráfka Svobodovy</li>
            </ul>

            <h3>Technická sekce</h3>
            <ul>
                <li><span class="maso-em">Rozmístění všeho navrhl:</span> Jano&nbsp;Kula a&nbsp;Pavel&nbsp;Tichý</li>
                <li><span class="maso-em">Šapitó a&nbsp;věci v&nbsp;něm v&nbsp;rámci akce „Tichý záděr“ stavěli, vozili a&nbsp;připravovali:</span> Pavel a&nbsp;Jonáš&nbsp;Tiší, Petr&nbsp;Komínek a&nbsp;Manitou, Adam&nbsp;Stibůrek, Jakub&nbsp;Mirovský, David&nbsp;Lászlo, Jano&nbsp;Kula, Adam&nbsp;Kolinger, Adam&nbsp;Krátký, Martin&nbsp;Novák, Ondřej a&nbsp;Jakub&nbsp;Markovi, Tomáš&nbsp;Novotný, Pavel&nbsp;Frydrych, Antonín a&nbsp;Mikuláš&nbsp;Skružní, Matouš a&nbsp;Jonáš&nbsp;Felkelovi, Marcel a&nbsp;Adam&nbsp;Ramdani, Jaromír a&nbsp;Tereza&nbsp;Sléhovi, Jára&nbsp;Štěpánek</li>
                <li><span class="maso-em">Pozemek zapůjčil a&nbsp;elektriku zaplatil:</span> Pavel&nbsp;Bláha</li>
                <li><span class="maso-em">Bambilion metrů koberců přivezli:</span> Jaromír&nbsp;Sléha a&nbsp;David&nbsp;Ramdan</li>
                <li><span class="maso-em">Štěpku daroval a&nbsp;stroje na zvedání obsazených záchodků zapůjčil:</span> Petr&nbsp;Komínek</li>
                <li><span class="maso-em">Městské trhové stánky z mnoha součástek sestavovali:</span> Ondřej Marek a&nbsp;Draci, Jan a&nbsp;Jakub Ratiborští</li>
                <li><span class="maso-em">Šapitó ozdobami s&nbsp;kuřecími pařátky zdobili:</span> Michi&nbsp;Vítková, Eliška&nbsp;Vítková, Anička&nbsp;Vítková a&nbsp;Martin&nbsp;Jirků</li>
                <li><span class="maso-em">Průvod řídili:</span> Ondřej&nbsp;Marek, Antonín&nbsp;Skružný, Jonáš&nbsp;Felkel, Pavel&nbsp;Frydrych, Tomáš&nbsp;Procházka, Petr&nbsp;Gubisch</li>
                <li><span class="maso-em">Pojistky vprostřed noci visíce nad šestimetrovou propastí nahazovali:</span> Pavel&nbsp;Tichý a&nbsp;Adam&nbsp;Uzelac</li>
                <li><span class="maso-em">Všechno vybalili a&nbsp;pak uklidili a&nbsp;ještě do noci sklad stěhovali:</span> Martina&nbsp;Macurová, Renata&nbsp;Baxová, Ondřej&nbsp;Marek, Kuba&nbsp;Marek, Madla&nbsp;Marková, David&nbsp;Lászlo, Pavel&nbsp;Frydrych, Adam&nbsp;Ramdan, David&nbsp;Ramdan, Marcel&nbsp;Ramdan, Zdenka&nbsp;Milotová, Martina&nbsp;Boledovičová, Ema&nbsp;Ramdanová, Jitka&nbsp;Klinkerová, Alice&nbsp;Frydrychová, Adam&nbsp;Kolinger, Jiřka&nbsp;Krásová, Tereza, Klinkerová, Martina&nbsp;Krátká, Jiří&nbsp;Krátký, Adam&nbsp;Krátký, Dora&nbsp;Krátká, Jitka, Josefína, Pavel a&nbsp;Jonáš&nbsp;Tiší, Bára a&nbsp;Jakub&nbsp;Mirovští, Jaromír, Zuzana a&nbsp;Barbora&nbsp;Sléhovi, Zuzana&nbsp;Strnadová, Martina&nbsp;Moravcová, Zuzana&nbsp;Šrůmová, Mikuláš a&nbsp;Antonín&nbsp;Skružní, Jakub&nbsp;Tošner, Kristýna&nbsp;Sedláková, Barbora&nbsp;Votavová, Eliška&nbsp;Boloňská, Ráchel&nbsp;Humplová, Iva&nbsp;Ježková, Pavel&nbsp;Tichý, Tomáš&nbsp;Procházka, Petr&nbsp;Gubisch a&nbsp;objemné auto zapůjčil Štěpán&nbsp;Humpl</li>
            </ul>
            <h3>Fotografové</h3>
            <p><span class="maso-em">Se svým objektivem věrně doprovázeli:</span> Markéta&nbsp;Luskačová, Jakub&nbsp;Souček, Jakub&nbsp;Sedlák, Honza&nbsp;Žirovnický, Vít&nbsp;Švajcr, Marek&nbsp;Musil, Petra&nbsp;Mandová a&nbsp;další a&nbsp;další</p>
            <h2>Partneři&nbsp;Masopustu</h2>
            <p><span class="maso-em">Veliké díky patří především Městu&nbsp;Roztoky, spolupořadateli Masopustu.</span><br>Další kopu díků a&nbsp;vřelá obětí posíláme těm, co s&nbsp;námi na Masopustu spolupracují, což jsou Středočeské muzeum v&nbsp;Roztokách u Prahy, obec Únětice a&nbsp;městská část Praha-Suchdol.</p>
            <h2>Děkujeme za finanční i věcné dary všem dárcům:</h2>
            <p>Město&nbsp;Roztoky, Letiště&nbsp;Václava Havla&nbsp;Praha, Prague&nbsp;Catering, Bláha, s.r.o., Eaton&nbsp;Corporation, K2M&nbsp;reklama, Únětický pivovar, KD&nbsp;Mlejn, o.p.s., POHL&nbsp;cz a.s.,  Euroclean, RS&nbsp;maso CZ s.r.o, Trigema a.s., Autoservis&nbsp;Prokos, Andrew&nbsp;Kim &amp; Thingumajig&nbsp;Theatre, Iva&nbsp;Ježková, Jakub&nbsp;Souček, Aleš&nbsp;Hendlinger, Adelína&nbsp;Starostová, Michael&nbsp;Hudges, AŽP Cyril&nbsp;Mikyška, Petra&nbsp;Zwinz, Karen&nbsp;Kapusta-Pofahl, Eva&nbsp;Mitchell, Barbora&nbsp;Plankova, Kadeřnický salon No.1, OptimPack s.r.o, Dýně na pařezu, Cafe-bar Eiffel, Lepíky s.r.o., MH&nbsp;motor, Kavárna&nbsp;Kofíí, Veterinární ordinace p. Šavrdy, Vlasové studio Eva&nbsp;Uvarovová, Autoservis&nbsp;Josef Zíma, Papírnictví a&nbsp;hračky Vlastimil&nbsp;Cyrani, Pizza&nbsp;Fantastico Roztoky, Roztocká&nbsp;Vinotéka, Paspartování&nbsp;Helena Chvojková, Dary přírody Hana&nbsp;Čabelková, Akvaristika&nbsp;Jiřina Jiráková, Studio&nbsp;Flores, Renáta&nbsp;Kolářová, Masáže, fyzioterapie Markéta, Parfumerie-hračky Vlasta&nbsp;Zavadilová, Butik&nbsp;Mariya Halats, Miroslava&nbsp;Danešová, Zuzana&nbsp;Králíčková, Jakub&nbsp;Lichnovský, Jan&nbsp;Pastyřík, Petr&nbsp;Muller, Lékárna&nbsp;Tyršovo náměstí, CA&nbsp;AC, Veterinární ordinace MVDr. Michaely&nbsp;Riedlové, Renova, s.r.o., Lékárna&nbsp;Roztoky Mgr. Radka&nbsp;Svobodová, Kadeřnictví U Evy, Květiny&nbsp;Lidická, Magdala, Cafe del Rio, Martin&nbsp;Ryneš Forinex s.r.o., Top&nbsp;One Reality, PRIMA&nbsp;PIZZA Roztoky, Restaurace a&nbsp;penzion U Koruny, Stihl&nbsp;Štěpánek, Zemtechnika, spol. s&nbsp;r.o, Academic&nbsp;Hotel &amp; Congress&nbsp;Centre a.s., Duende bar, Pekárna&nbsp;Pekara, Javánka &amp; co, Kuchyně HOBR, Miroslav&nbsp;Kazimour, Lenka&nbsp;Sternal, Chovatelské potřeby Martin&nbsp;Frýbort, Via&nbsp;Vestra, Smart&nbsp;Press, Kebab&nbsp;Tyršovo náměstí, Restaurace&nbsp;Na Vrškách, Kadeřnictví&nbsp;Helena Vlková, Lexik s&nbsp;r. o., Železářství&nbsp;Petr&nbsp;Gotschalk, Vinařství&nbsp;Ludwig, Asociace&nbsp;TOM, Středočeský kraj (doufáme) a&nbsp;další.</p>
            <p class="maso-em">Děkujeme velmi Sdružení dobrovolných hasičů Roztoky a&nbsp;záchranářům p. Černého, městské i státní policii a&nbsp;Technickým&nbsp;službám města Roztoky.</p>
            <h2>A na koho jsme zapomněli, tomu děkujeme nejvíc!</h2>
        </div>

        <!-- <h2>Program</h2> -->
        <!-- <div class="row wrap justify-content-between">
            <div class="col-md">
                <ul>
                    <li><strong><a href="https://www.google.cz/maps/dir/50.1585055,14.3990066/50.1616947,14.3940287/50.1536488,14.3812738/50.151785,14.3708468/50.1614531,14.3743336/@50.1565322,14.3750353,15z/data=!3m1!4b1!4m2!4m1!3e2?hl=cs">Mapa průvodu</a></strong></li>
                    <li><strong>11.00</strong> <a href="/maskary" class="maso-em">Půjčování masek</a> – Středočeské muzeum v&nbsp;Roztokách u&nbsp;Prahy</li>
                    <li><strong>12.00</strong> <span class="maso-em">Bohaté dění</span> na zámku, tj. ve Středočeském muzeu</li>
                    <li><strong>14.30</strong> <span class="maso-em">Průvod&nbsp;Roztokami</span> se zastavením na náměstí a&nbsp;na&nbsp;okraji Roztok směrem na&nbsp;Únětice</li>
                    <li><strong>16.20</strong> <span class="maso-em">Setkání průvodů na Holém&nbsp;vrchu</span>, kolové tance</li>
                    <li><strong>18.00</strong> <span class="maso-em">Masopustní zábava v&nbsp;šapitó</span> v&nbsp;Roztokách-Žalově</li>
                    <li><strong><a href="/program">Podrobný program</a></strong></li>
                </ul>
            </div>
            <div class="col-xs">
                <a href="https://www.darujme.cz/projekt/1201494" class="d-print-none p-5 m-5 maso-opa"><img src="/img/grafiky/podporte-maso.min.svg" alt="Podpořte Masopust!" width="130"></a>
            </div>
            {# <div class="col-xs">
                <a href="https://www.facebook.com/events/697867023946747/" class="d-print-none p-5 m-5"><img src="/img/loga/fb.svg" alt="logo fb" width="70"></a>
            </div> #}
        </div>
        <a href="https://goout.net/cs/jine-akce/masopustni-zabava-v-roztokach-2019/iimud/+vdbgl/" class="maso-button-link">→ Vstupenky na zábavu v&nbsp;šapitó ←</a> -->

        <h2>Doprava</h2>
        <ul>
            <li><strong>Autobusy mezi Roztokami a&nbsp;Úněticemi:</strong> Od 16.00 do 22.00 jezdí speciální masobus&nbsp;359, spojující obě obce.</li>
            <li><strong>Vlakem z Prahy:</strong> Linky S4 a&nbsp;S49 z Masarykova nádraží / Prahy-Holešovic / Nádraží&nbsp;Podbaba jsou pro cestu z Prahy nejlepší volbou. Středočeské muzeum je kousínek od zastávky Roztoky u&nbsp;Prahy. A&nbsp;v&nbsp;rozumné vzdálenosti od&nbsp;šapitó je i&nbsp;zastávka Roztoky-Žalov.</li>
            <li><strong>Autobusem z Prahy:</strong> Autobus 340 a&nbsp;350 jezdí z&nbsp;Dejvické. Nedoporučujeme jej, je velké riziko, že se do něj nevejdete.</li>
            <li><strong>Autem:</strong> Autem nejezděte, máte-li jinou možnost. Roztoky nedisponují větším parkovištěm, je zapotřebí zaparkovat v&nbsp;ulici Tiché údolí nebo Riegrova – a&nbsp;je to boj.</li>
        </ul>

        <div class="row">
                <div class="col-md">
                    <img
                        sizes="
                        (min-width: 1200px) 540px, 
                        (min-width: 992px) 450px, 
                        (min-width: 768px) 330px, 
                        (min-width: 576px) 510px, 
                        calc(100vw-30px)" 
                        srcset="
                        /img/plakaty/2019/2019w_110.jpg 110w,
                        /img/plakaty/2019/2019w_390.jpg 390w,
                        /img/plakaty/2019/2019w_568.jpg 568w,
                        /img/plakaty/2019/2019w_710.jpg 710w,
                        /img/plakaty/2019/2019w_835.jpg 835w"
                        src="/img/plakaty/2019/2019w_568.jpg"
                        alt="Roztocký&nbsp;Masopust 2019 – plakát s&nbsp;dvojhlavou královnou" class="img-fluid">
                </div>
                <div class="col-md">
                        <img
                        sizes="
                        (min-width: 1200px) 540px, 
                        (min-width: 992px) 450px, 
                        (min-width: 768px) 330px, 
                        (min-width: 576px) 510px, 
                        calc(100vw-30px)"
                        srcset="
                        /img/plakaty/2019/2019backw_110.jpg 110w,
                        /img/plakaty/2019/2019backw_389.jpg 389w,
                        /img/plakaty/2019/2019backw_563.jpg 563w,
                        /img/plakaty/2019/2019backw_695.jpg 695w,
                        /img/plakaty/2019/2019backw_833.jpg 833w"
                        src="/img/plakaty/2019/2019backw_563.jpg"
                        alt="Roztocký&nbsp;Masopust 2019 – druhá strana plakátu s&nbsp;programem" class="img-fluid">
                </div>
            </div>

    {% endblock %}

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Event",
          "location": {
            "@type": "Place",
            "address": {
              "@type": "PostalAddress",
              "addressCountry": "Czech&nbsp;Republic"
              "addressLocality": "Roztoky",
              "postalCode": "25263",
              "streetAddress": "Zámek 1"
            },
            "name": "Středočeské muzeum v&nbsp;Roztokách u Prahy"
          },
          "name": "Masopust v&nbsp;Roztokách  a&nbsp;Úněticích 2019",
          "startDate": "2019-02-16T12:00"
        }
        </script>

{% endblock %}
