{% extends '_base.twig' %}


{% block title %}Masopust v&nbsp;Roztokách a&nbsp;Úněticích 2019{% endblock %}



{% block content %}
    <div class="container">
        <div class="maso-header-img-cont">
            <img src="img/ilustracni/maso2019.jpg" class="img-fluid maso-header-img">
        </div>

        <div>
            <h1 class="pb-0">Masopust v&nbsp;Rozto&shy;kách a&nbsp;Úněti&shy;cích</h1>
            <p class="h2 pt-0">16.&nbsp;února 2019</p>
        </div>
        <p class="maso-anotace">Průvod mezi nebem a&nbsp;zemí, údolím a&nbsp;vrchem, minulostí a&nbsp;budoucností vyráží opět za svou královnou. Maškary se v&nbsp;poledne setkají na&nbsp;roztockém zámku, spojí s&nbsp;Únětickými a&nbsp;Suchdolskými tancem na&nbsp;pláni Holého vrchu a&nbsp;zakončí svou cestu zábavou v&nbsp;pravém a&nbsp;nefalšovaném vyhřívaném šapitó.</p>

        <p>Masopust pořádá Sdružení Roztoč spolu s&nbsp;městem Roztoky, ve&nbsp;spolupráci se&nbsp;Středočeským muzeem v&nbsp;Roztokách, Spolkem pro obnovu Únětické kultury a&nbsp;městskou částí Praha-Suchdol.</p>
    </div>
{% endblock %}
