{% extends '_base.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/vit-svajcr3-2017_j4vmht_c_scale,w_825.jpg">
    <meta property="og:title" content="Kontakt – Roztocký Masopust">
    <meta property="og:description" content="Masopust pořádá Sdružení Roztoč, z.s. a na jeho přípravě se každý rok podílí kolem dvou set dobrovolníků. Masopustní výbor, neformální organizační a poradní skupina, od brzkého podzimu plánuje, zařizuje a připravuje...">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="http://masopust.roztoc.cz/kontakt">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block title %}Kontakt{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'active': 'kontakt'} %}
{% endblock %}

{% block content %}
<div class="maso-header-img-cont">
        <img
        sizes="
        (min-width: 1200px) 1110px, 
        (min-width: 992px) 930px, 
        (min-width: 768px) 690px, 
        (min-width: 576px) 510px, 
        calc(100vw-30px)"
        srcset="
       /img/ilustracni/vit-svajcr3-2017_j4vmht_c_scale,w_300.jpg 300w,
       /img/ilustracni/vit-svajcr3-2017_j4vmht_c_scale,w_593.jpg 593w,
       /img/ilustracni/vit-svajcr3-2017_j4vmht_c_scale,w_825.jpg 825w,
       /img/ilustracni/vit-svajcr3-2017_j4vmht_c_scale,w_1007.jpg 1007w,
       /img/ilustracni/vit-svajcr3-2017_j4vmht_c_scale,w_1560.jpg 1560w"
        src=/img/ilustracni/vit-svajcr3-2017_j4vmht_c_scale,w_1007.jpg 1007w"
        alt="Polibek Vometačky" class="img-fluid maso-header-img">
</div>

{% block text %}
<h1>Kontakt</h1>
<p>Masopust pořádá <a href="http//:www.roztoc.cz">Sdružení Roztoč,&nbsp;z.s.</a> a&nbsp;na jeho přípravě se každý rok podílí kolem dvou set dobrovolníků.<br>Masopustní výbor, neformální organizační a&nbsp;poradní skupina, od brzkého podzimu plánuje, zařizuje a&nbsp;připravuje...</p>
<p class="h3">Univerzální masokontakt: <a href="masopust@roztoc.cz">masopust@roztoc.cz</a></p>

<div class="row">
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Dramaturgie, velení</h2>
            <p class="card-text maso-contact-name">Jitka Tichá</p>
            <a href="mailto:jitka.ticha@roztoc.cz" class="card-link">jitka.ticha@roztoc.cz</a><br><a href="tel:+420775889941" class="card-link">775&nbsp;889&nbsp;941</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Zámeček, catering</h2>
            <p class="card-text maso-contact-name">Dita Votavová</p>
            <a href="mailto:dita.votavova@roztoc.cz" class="card-link">dita.votavova@roztoc.cz</a><br><a href="tel:+420775889940" class="card-link">775&nbsp;889&nbsp;940</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Propagace, web, FB</h2>
            <p class="card-text maso-contact-name">Zuzana Šrůmová</p>
            <a href="mailto:zuzana.srumova@roztoc.cz" class="card-link">zuzana.srumova@roztoc.cz</a><br><a href="tel:+420777852195" class="card-link">777&nbsp;852&nbsp;195</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Masky a&nbsp;jejich půjčování</h2>
            <p class="card-text maso-contact-name">Martina Macurová</p>
            <a href="mailto:masopust@roztoc.cz" class="card-link">masopust@roztoc.cz</a><br><a href="tel:+420603946501" class="card-link">603&nbsp;946&nbsp;501</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Dárcovství finanční i&nbsp;věcné</h2>
            <p class="card-text maso-contact-name">Karolína Šípalová</p>
            <a href="mailto:karolina.sipalova@roztoc.cz" class="card-link">karolina.sipalova@roztoc.cz</a><br><a href="tel:+420737167868" class="card-link">737&nbsp;167&nbsp;868</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Organizace průvodu</h2>
            <p class="card-text maso-contact-name">Ondřej Marek</p>
            <a href="mailto:omarek@volny.cz" class="card-link">omarek@volny.cz</a><br><a href="tel:+420777793737" class="card-link">777&nbsp;793&nbsp;737</a>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Technická sekce</h2>
            <p class="card-text maso-contact-name">Pavel Tichý</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <h2 class="card-title maso-mask-card-title">Konstrukce a&nbsp;věšení lidí</h2>
            <p class="card-text maso-contact-name">Jonáš Tichý</p>
        </div>
    </div>
</div>
{% endblock %}       
{% endblock %}
