{% extends '_base.twig' %}


{% block title %}Kontakt{% endblock %}


{% block content %}
    <div class="container">
        <h1>Kontakt</h1>
        <p>Masopust organizuje sehraná skupina dobrovolníků, jejichž středem a srdcem je masopustní výbor.</p>
        <p>Univerzální masokontakt: masopust@roztoc.cz</p>

        <h2>Emeritní královna masopustu – dramaturgie</h2>
        <p>Jitka Tichá, jitka.ticha@roztoc.cz, 775889941</p>

        <h2>Zámeček, catering (stánkaře nepřijímáme, máme plno)</h2>
        <p>Dita Votavová, dita.votavova@roztoc.cz, 775889940</p>

        <h2>PR, tisk atp.</h2>
        <p>Zuzana Šrůmová, zuzana.srumova@roztoc.cz, 777852195</p>
        
        <h2>Organizační zajištění průvodu</h2>
        <p>Ondřej Marek, omarek@volny.cz, 777793737</p>

        <h2>Technické zajištění akce, stavba šapitó</h2>
        <p>Pavel Tichý, 603574140</p>

        <h2>Masky, půjčování a vracení</h2>
        <p>Martina Macurová, masopust@roztoc.cz, 603946501</p>

        <h2>Koordinace dobrovolníků a příprav v ateliérů</h2>
        <p>Magdalena Marková, masopust@roztoc.cz, 775147713</p>

        <h2>Dary a příspěvky na Masopust</h2>
        <p>Dita Votavová, masopust@roztoc.cz, 775889940</p>
        <p>Martina Krátká, masopust@roztoc.cz, 775581205</p>
            
        
    </div>
{% endblock %}
