{% extends 'maskary.twig' %}
{% use 'en-blocks.twig' %}

{% block og %} 
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/vit-svajcr2-2017_rmcxjl_c_scale,w_995.jpg">
    <meta property="og:title" content="Masques of Masopust">
    <meta property="og:description" content="To feel comfortable in the Masopust parade you will need a mask or costume. If you haven’t got your own, we’ll lend you one.">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="http://masopust.roztoc.cz/masks">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block title %}Masques of Masopust{% endblock %}

{% block text %}
{# <h1>Maškary a&nbsp;masky</h1>
<p class="maso-anotace">Po celou historii Masopustu vyrábíme, upravujeme a&nbsp;ctíme naše vlastní maškary a&nbsp;masky, které Masopustu tvoří tvář. Podílí se na&nbsp;nich děti i&nbsp;dospělí, často pod vedením profesionálních zkušených umělců. Vycházíme z&nbsp;folklórních tradic a&nbsp;zvyků – a&nbsp;se vší úctou k&nbsp;nim si s&nbsp;nimi hrajeme a&nbsp;přetváříme je podle sebe.</p>
<p>Na uměleckém řešení maškar, masek a&nbsp;masopustu jako takového se podílejí např. Jaromír a&nbsp;Zuzana Sléhovi, Lenka Bráfka Svobodová, Adam a&nbsp;Dora Krátcí, Barbora Sléhová, Milada a&nbsp;Szilárd Borárosovi, Marianna Stránská, Zuzana Vítková, Alžběta Svobodová, Andrew Kim a&nbsp;spousta roztockých i&nbsp;mimoroztockých dětí a&nbsp;dospělých.</p> #}

<div class="maso-plate">
<h2 class="h3">Mask Rental</h2>
    <p>To feel comfortable in the Masopust parade you will need a mask or costume. If you haven’t got your own, we’ll lend you one.</p>

    <div class="row">
        <div class="col-md">
            <h3 class="h4">Mask rental</h3>
            <ul>
                <li><b>14<sup>th</supth> February 16.00–20.00</b> in&nbsp;<a href="https://www.google.cz/maps/place/Ateli%C3%A9r+Plech%C3%A1rna+%E2%80%93+Sdru%C5%BEen%C3%AD+Rozto%C4%8D,+z.s./@50.1634615,14.3946076,17z/data=!3m1!4b1!4m5!3m4!1s0x470bea64b28e6381:0x1e4c0b44d2da66d3!8m2!3d50.1634615!4d14.3967963?hl=en">atelier Roztoč Jungmannova&nbsp;092</a> (behind the town library), Roztoky</li>
                <li><b>16<sup>th</supth>&nbsp;February fr0m&nbsp;11.00</b> in&nbsp;<a href="https://www.google.cz/maps/place/50%C2%B009'30.3%22N+14%C2%B023'55.2%22E/@50.15841,14.3964633,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.1584096!4d14.3986524?hl=en">Chateau in Roztoky</a></li>
                <li>For larger organised groups (more than two people) wanting a collective costume, or for those feeling ambitious enough to wear something big and act in it a little, please contact <a href="tel:+420603946501">+420&nbsp;603&nbsp;946&nbsp;501</a> or <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a> and we’ll come up with a costume for you to put on.</li>
            </ul>
        </div>
        <div class="col-md">
            <h3 class="h4">Mask returning</h3>
            <ul>
                <li><b>16<sup>th</supth>&nbsp;February</b> in front of the Chapiteau when the Parade comes in Roztoky-Žalov</li>
                <li><b>on&nbsp;Sunday 17<sup>th</supth>February 14.00–15.00</b> in&nbsp;<a href="https://www.google.cz/maps/place/Ateli%C3%A9r+Plech%C3%A1rna+%E2%80%93+Sdru%C5%BEen%C3%AD+Rozto%C4%8D,+z.s./@50.1634615,14.3946076,17z/data=!3m1!4b1!4m5!3m4!1s0x470bea64b28e6381:0x1e4c0b44d2da66d3!8m2!3d50.1634615!4d14.3967963?hl=en">atelier Roztoč Jungmannova&nbsp;092</a> (behind the town library), Roztoky</li>
                <li>other – please contact Martina Macurová: <a href="tel:+420603946501">603&nbsp;946&nbsp;501</a> or <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a>. And don't worry – she speaks great English.</li>
            </ul>
        </div>
    </div>
</div>

<h2>Some of the masks</h2>

<div class="row">
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/svajcr-kralovna.jpg" alt="The Queen of Masopust">
            <h2 class="card-title maso-mask-card-title">The Queen of Masopust</h2>
            <p class="card-text">The Queen of Masopust leads the masked procession. Each year, a young girl reigns over the town and the parade. The Queen is crowned by her predecessor.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/svajcr-emerita.jpg" alt="The Queen Emerita">
            <h2 class="card-title maso-mask-card-title">The Queen Emerita</h2>
            <p class="card-text">The first queen of Masopust. In years past, she would always look for a Masopust King to stand by her side, granting the honour to the weightiest citizen of the town (determined by weighing scales).</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/hromadko-klibna.jpg" alt="Klibna">
            <h2 class="card-title maso-mask-card-title">Klibna</h2>
            <p class="card-text">Podivné zvíře Klibna, cosi mezi kobylou a&nbsp;žirafou, veze Královnu průvodem až na Holý vrch. Při vyvrcholení průvodu je humánně utracena, aby&nbsp;její síla pomohla všem dožít dalšího Masopustu.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/hromadko-medved.jpg" alt="The Bear and the Bear Tamer">
            <h2 class="card-title maso-mask-card-title">The Bear and the Bear Tamer</h2>
            {# <p class="card-text">Ženy s Medvědem tančí, muži s&nbsp;ním zápasí, a&nbsp;aby se úplně neurval ze řetězu, hlídá jej zkušený Medvědář. Tanec s&nbsp;Medvědem má přinést plodnost. Statisticky to nicméně podložené nemáme.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/svajcr-smrt.jpg" alt="Death">
            <h2 class="card-title maso-mask-card-title">Death</h2>
            {# <p class="card-text">Nejvyšší masopustní celebrity, jejichž tanec je symbolem nadcházejícího půstu, jsou Smrtka s&nbsp;Půstem. Jsou to jedny z&nbsp;nejstarších masek, roztocký Masopust provází dlouhé roky.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/svajcr-pust.jpg" alt="Feast">
            <h2 class="card-title maso-mask-card-title">Feast</h2>
            {# <p class="card-text">Stejně jako velká část ostatních masek, jsou Smrt a Půst kolektivním dílem mnoha děti a&nbsp;dospělých. Finální podoba a&nbsp;konstrukce je dílem Zuzany a&nbsp;Jaromíra Sléhových.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/hromadko-bakchus.jpg" alt="Bacchus">
            <h2 class="card-title maso-mask-card-title">Bacchus</h2>
            {# <p class="card-text">Bakchus přibyl jako třetí kolo od vozíku ke Smrtce a&nbsp;Půstovi. Jeho poselství je jasné – ukázat, jak na to, než přijde postní doba. Je rozložitý (a&nbsp;rozložitelný) a&nbsp;neustále polyká špekáčky.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/svajcr-vometacky.jpg" alt="Sweeper-girls">
            <h2 class="card-title maso-mask-card-title">Sweeper-girls</h2>
            {# <p class="card-text">Skupina dívek tančících s košťaty tvoří čelo průvodu, vytvářejí místo pro Královnu a&nbsp;její družinu a&nbsp;metou z&nbsp;cesty vše zlé. Jejich oblečení doplňují černé pásy s&nbsp;rolničkami a&nbsp;zdobená košťata.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/hromadko-opice.jpg" alt="Monkeys">
            <h2 class="card-title maso-mask-card-title">Monkeys</h2>
            {# <p class="card-text">Rozdováděné a&nbsp;podvratné opice si troufnou ledacos. Nikdo si před nimi není ničím jistý. Jak se někde objeví, je dobré se mít na pozoru… Vznikly jako školní práce Dory Krátké a&nbsp;nějak se nám namnožily.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/svajcr-jeleni.jpg" alt="The Blue Deer and Doe">
            <h2 class="card-title maso-mask-card-title">The Blue Deer and Doe</h2>
            {# <p class="card-text">Snivý Modrý jelen s Laní a&nbsp;svou družinou se vynořil ze&nbsp;své legendy a&nbsp;říše v&nbsp;Tichém údolí. Od té doby Roztocký masopust provází. Jejich autory jsou Adam Krátký a&nbsp;Dora Krátká a&nbsp;jejich přátelé.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/svajcr-caprda.jpg" alt="Caprda">
            <h2 class="card-title maso-mask-card-title">Caprda</h2>
            {# <p class="card-text">Bláznivý Caprda je matka Masopustu. A&nbsp;také jméno piva, které jsme vařili k&nbsp;výročnímu 20.&nbsp;ročníku v&nbsp;roce 2017. Ze&nbsp;stejného roku je i&nbsp;veliká maska z&nbsp;dílny Jaromíra a&nbsp;Zuzany Sléhových.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/hromadko-sedm-smrti.jpg" alt="Seven Deaths">
            <h2 class="card-title maso-mask-card-title">Seven Deaths</h2>
            {# <p class="card-text">Chůdařská skupina sedmi smrtek pro Roztocký masopust 2017. Na výrobě se podíleli a&nbsp;průvodem šli: D.&nbsp;Krátká, V.&nbsp;Bělochová, J.&nbsp;Tomšů, J.&nbsp;Mirovský, D.&nbsp;Lazslo, J.&nbsp;Štěpánek a&nbsp;A.&nbsp;Krátký.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/hromadko-medvedice.jpg" alt="Ursa Maior">
            <h2 class="card-title maso-mask-card-title">Ursa Maior</h2>
            {# <p class="card-text">Velká svíticí Lední medvědice vznikla pod vedením Andrew Kima v&nbsp;Anglii. Vytvořili ji Adam Krátký a&nbsp;Dora Krátká pro Lamplighter's a&nbsp;přivezli s&nbsp;sebou do Roztok. Od té doby nás provází.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/hromadko-kohout.jpg" alt="Kohout a jeho družina">
            <h2 class="card-title maso-mask-card-title">Kohout a jeho družina</h2>
            {# <p class="card-text">Kohout a jeho družina jsou skupinou velkých svíticích masek vytvořenou v&nbsp;sroce 2018 na workshopu, který vedl Andrew Kim. Kohout je protiváhou Smrti a&nbsp;probírá Klibnu zpět k životu.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/svajcr-husar.jpg" alt="Hussars">
            <h2 class="card-title maso-mask-card-title">Hussars</h2>
            {# <p class="card-text">Dva světelní husaři s&nbsp;šavlemi jsou dílem převážně Szilárda Borárose a&nbsp;vznikly na dílně velkých světelných masek v&nbsp;roce&nbsp;2018.</p> #}
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="img/maskary/hromadko-dopravak.jpg" alt="Traffic Corps">
            <h2 class="card-title maso-mask-card-title">Traffic Corps</h2>
            {# <p class="card-text">Naprosto nutnou součástí Masopustu je skupina mužů, která se&nbsp;stará o&nbsp;dopravu a&nbsp;řízení průvodu. Poznáte je bez problémů podle oranžových dopravních kuželů na hlavách.</p> #}
        </div>
    </div>
</div>
{% endblock %}