{% extends '_base.twig' %}

{% block title %}Maškary a masky{% endblock %}

{% block content %}
<div class="container">
    <h1>Maškary a masky Roztockého masopustu</h1>
    <p>Po celou historii Masopustu vyrábíme, upravujeme a ctíme naše vlastní maškary a masky, které Masopustu tvoří tvář. Podílí se na nich děti i dospělí, často pod vedením profesionálních zkušených umělců. Vycházíme z folklórních tradic a zvyků – a se vší úctou k nim si s nimi hrajeme a přetváříme je podle sebe.</p>

    <h2>Královna Masopustu</h2>
    <p>V čele průvodu jede Královna masopustu – mladá dívka, která pro daný rok převezme vládu nad průvodem a městem. Královnu korunuje její předchůdkyně z minulého roku. Je jí vytvořen slavnostní háv a jsou jí prokazovány veliké pocty. </p>

    <h2>Emeritní královna Masopustu</h2>
    <p>První a stálá královna Masopustu. Po dlouhou dobu k sobě hledala masopustního krále, kterým se stával vždy nejváženější (decimálkou) občan Roztok. Po mnohých (ne)zdarech a epizodkách předala žezlo dále, ale stále zůstává hlavním průvodcem. </p>

    <h2>Klibna</h2>
    <p>Podivné zvíře Klibna, cosi mezi kobylou, žirafou a hliníkovým žebříkem, veze Královnu průvodem až na Holý vrch. Během cesty se podrobí přísné drezúře a při vyvrcholení průvodu je humánně utracena (povětšinou tlakovou vlnou). Části klibny se rozdělí do širého světa tak, aby její síla pomohla všem dožít dalšího Masopustu.</p>

    <h2>Medvěd s medvědářem</h2>
    <p>Ženy s Medvědem tančí, muži s ním zápasí, a aby se úplně neurval ze řetězu, hlídá jej zkušený Medvědář. Tanec s Medvědem má přinést plodnost. Statisticky to nicméně podložené nemáme. </p>

    <h2>Smrtka s Půstem</h2>
    <p>Nejvyšší masopustní celebrity – čtyři metry vysoké kostnaté postavy, jejichž tanec je symbolem nadcházejícího půstu… Jsou to jedny z našich nejstarších masek, jsou dílem mnoha děti i dospělých. Finální podoba a konstrukce je dílem Zuzany a Jaromíra Sléhových. </p>

    <h2>Bakchus</h2>
    <p>Bakchus přibyl jako třetí kolo od vozíku ke Smrtce a Půstovi. Jeho poselství je jasné – ukázat, jak na to, než přijde postní doba. Je značně rozložitý (a rozložitelný) a neustále polyká špekáčky. Stejně jako u Smrtky s Půstem jde o masku z dílny Sléhů. </p>

    <h2>Vometačky</h2>
    <p>Vometačky, skupina dívek tančících s košťaty, jsou roztockou specialitou. Tvoří čelo průvodu, vytvářejí místo pro Královnu a její družinu a metou z cesty vše zlé. Jejich oblečení tvoří bílé sukně, červené svetry, černé pásy s rolničkami a šátky, a samozřejmě červená zdobená košťata… </p>

    <h2>Opice</h2>
    <p>Rozdováděné a podvratné opice si troufnou ledacos. Nikdo si před nimi není ničím jistý. Jak se někde objeví, je dobré se mít na pozoru… Opice vznikly jako školní práce Dory Tiché/Krátké a nějak se nám namnožily. </p>

    <h2>Modrý jelen s laní</h2>
    <p>Snivý Modrý jelen s Laní a svou družinou se vynořil ze své legendy a říše v Tichém údolí. Od té doby Roztocký masopust provází. Jejich autory jsou Adam Krátký a Dora Krátká a jejich přátelé. </p>

    <h2>Dopravní četa</h2>
    <p>Naprosto nutnou součástí Masopustu je skupina mužů, která se stará o dopravu a řízení průvodu. Poznáte je bez problémů. </p>

    <h2>Caprda</h2>
    <p>Bláznivý Caprda je matka Masopustu. A také jméno piva, které jsme vařili k výročnímu 320. ročníku v roce 2017. Ze stejného roku je i veliká maska z dílny Jaromíra a Zuzany Sléhových. </p>

    <h2>Sedm smrtí</h2>
    <p>Chůdařská skupina sedmi smrtek pro Roztocký masopust 2017. Na výrobě se podíleli a celým průvodem šli: Dora Krátká, Vendula Bělochová, Jan Tomšů, Jakub Mirovský, David Lazslo, Jarda Štěpánek a Adam Krátký </p>

    <h2>Lední medvědice</h2>
    <p>Velká svíticí Lední medvědice vznikla pod vedením Andrew Kima v Anglii. Vytvořili ji Adam Krátký a Dora Krátká pro Lamplighter's a přivezli s sebou do Roztok. Od té doby nás provází. </p>

    <h2>Kohout a jeho družina</h2>
    <p>Kohout a jeho družina jsou skupinou velkých svíticích masek, která vznikla v roce 2018 na workshopu, který vedl Andrew Kim. Kohout je protiváhou Smrti a probírá Klibnu zpět k životu. </p>

    <h2>Husaři</h2>
    <p>Dva světelní husaři s šavlemi jsou dílem převážně Szilárda Borárose a vznikly na dílně velkých světelných masek v roce 2018. </p>

</div>
{% endblock %}
