{% extends 'maskary.twig' %}
{% use 'en-blocks.twig' %}

{% block og %} 
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/vit-svajcr2-2017_rmcxjl_c_scale,w_995.jpg">
    <meta property="og:title" content="Masques of Masopust">
    <meta property="og:description" content="To feel comfortable in the Masopust parade you will need a mask or costume. If you haven’t got your own, we’ll lend you one.">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="http://masopust.roztoc.cz/masks">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block title %}Masques of Masopust{% endblock %}

{% block text %}
<h1>Maškary a&nbsp;masky</h1>
<p class="maso-anotace">We have been making, altering and honoring our own masks from the very beginning of the Carnival. This gives the Roztoky Carnival its special character. Both children and adults take part in creating the masks, often under the supervision of experienced professional artists. The costumes are based on traditional folk customs – and with all due respect to them we play with them and transform them according to our needs and imagination.</p>
<p>The following people, to name but a few, participate in the artistic design and creation of the masks: Jaromír a&nbsp;Zuzana Sléhovi, Lenka Bráfka Svobodová, Adam a&nbsp;Dora Krátcí, Barbora Sléhová, Milada a&nbsp;Szilárd Borárosovi, Marianna Stránská, Zuzana Vítková, Alžběta Svobodová, Andrew and Kathy Kim, Alison Duddle, Jonny Quick and many of the adult and child residents of the Roztoky area.</p>

<div class="maso-excursion">
<h2 class="h3">Mask Rental</h2>
    <p>To feel comfortable in the Masopust parade you will need a mask or costume. If you haven’t got your own, we’ll lend you one.</p>

    <div class="row">
        <div class="col-md">
            <h3 class="h4">Mask rental</h3>
            <ul>
                <li><b>14<sup>th</sup> February 16.00–20.00</b> in&nbsp;<a href="https://www.google.cz/maps/place/Ateli%C3%A9r+Plech%C3%A1rna+%E2%80%93+Sdru%C5%BEen%C3%AD+Rozto%C4%8D,+z.s./@50.1634615,14.3946076,17z/data=!3m1!4b1!4m5!3m4!1s0x470bea64b28e6381:0x1e4c0b44d2da66d3!8m2!3d50.1634615!4d14.3967963?hl=en">atelier Roztoč Jungmannova&nbsp;092</a> (behind the town library), Roztoky</li>
                <li><b>15<sup>th</sup>&nbsp;February from&nbsp;11.00</b> in&nbsp;<a href="https://www.google.cz/maps/place/50%C2%B009'30.3%22N+14%C2%B023'55.2%22E/@50.15841,14.3964633,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.1584096!4d14.3986524?hl=en">Chateau in Roztoky</a></li>
                <li>For larger organised groups (more than two people) wanting a collective costume, or for those feeling ambitious enough to wear something big and act in it a little, please contact <a href="tel:+420603946501">+420&nbsp;603&nbsp;946&nbsp;501</a> or <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a> and we’ll come up with a costume for you to put on.</li>
            </ul>
        </div>
        <div class="col-md">
            <h3 class="h4">Mask returning</h3>
            <ul>
                <li><b>15<sup>th</sup>&nbsp;February</b> in front of the Chapiteau when the Parade arrives in Roztoky-Žalov</li>
                <li><b>on&nbsp;Sunday 16<sup>th</sup>&nbsp;February 14.00–15.00</b> in&nbsp;<a href="https://www.google.cz/maps/place/Ateli%C3%A9r+Plech%C3%A1rna+%E2%80%93+Sdru%C5%BEen%C3%AD+Rozto%C4%8D,+z.s./@50.1634615,14.3946076,17z/data=!3m1!4b1!4m5!3m4!1s0x470bea64b28e6381:0x1e4c0b44d2da66d3!8m2!3d50.1634615!4d14.3967963?hl=en">atelier Roztoč Jungmannova&nbsp;092</a> (behind the town library), Roztoky</li>
                <li>other – please contact Martina Macurová: <a href="tel:+420603946501">603&nbsp;946&nbsp;501</a> or <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a>. And don't worry – she speaks great English.</li>
            </ul>
        </div>
    </div>
</div>

<h2>Some of the masks</h2>

<div class="row">
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/svajcr-kralovna.jpg" alt="The Queen of Masopust">
            <h2 class="card-title maso-mask-card-title">The Queen of Masopust</h2>
            <p class="card-text">The Queen of Masopust leads the masked procession. Each year, a young girl reigns over the town and the parade. The Queen is crowned by her predecessor.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/svajcr-emerita.jpg" alt="The Queen Emerita">
            <h2 class="card-title maso-mask-card-title">The Queen Emerita</h2>
            <p class="card-text">The first queen of Masopust. In years past, she would always look for a Masopust King to stand by her side, granting the honour to the weightiest citizen of the town (determined by weighing scales).</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/hromadko-klibna.jpg" alt="Klibna">
            <h2 class="card-title maso-mask-card-title">Klibna</h2>
            <p class="card-text">A strange animal, something between a mare, a giraffe and an aluminium ladder that the Queen rides to the hilltop at Holý vrch. It is humanely put to sleep at the height of the celebrations (normally by shock wave).</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/hromadko-medved.jpg" alt="The Bear and the Bear Tamer">
            <h2 class="card-title maso-mask-card-title">The Bear and the Bear Tamer</h2>
            <p class="card-text">Women dance with the bear while men wrestle him. The experienced keeper is there to make sure he doesn’t go too wild. A dance with the Bear is supposed to ensure fertility, though there are no statistics to support this.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/svajcr-smrt.jpg" alt="Death">
            <h2 class="card-title maso-mask-card-title">Death / The Grim Reaper</h2>
            <p class="card-text">The Grim Reaper and the Fast are carnival celebrities of the highest rank and two of the oldest masks that have been accompanying the Roztoky Carnival for many years. Their dance is a symbol of the forthcoming fast.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/svajcr-pust.jpg" alt="Fast">
            <h2 class="card-title maso-mask-card-title">Fast</h2>
            <p class="card-text">Like most of the other masks, the Grim Reaper and the Fast were made by many children and adults working together. The final likeness and construction is the work of Jaromír Sleha and Zuzana Slehová.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/hromadko-bakchus.jpg" alt="Bacchus">
            <h2 class="card-title maso-mask-card-title">Bacchus</h2>
            <p class="card-text">Bacchus joined the Grim Reaper and the Fast as the third wheel of the cart. His message is obvious – he’s showing us what to do before the time to fast comes. He is huge, and keeps stuffing himself with sausages.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/svajcr-vometacky.jpg" alt="Sweepers">
            <h2 class="card-title maso-mask-card-title">Sweepers</h2>
            <p class="card-text">A group of girls dancing with brooms at the head of the procession make room for the Queen and her entourage as they sweep all bad things out of the way. Their attire is complemented by black belts with bells and decorated brooms.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/hromadko-opice.jpg" alt="Monkeys">
            <h2 class="card-title maso-mask-card-title">The Monkeys</h2>
            <p class="card-text">The boisterous and crafty monkeys get up to all sorts of things. No one and nothing can be safe with them around. Watch out whenever you see them… They were originally Dora Kratká’s school work and have multiplied somewhat since.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/solcova-blabuburo.jpg" alt="Blabuburo">
            <h2 class="card-title maso-mask-card-title">The Drum Band</h2>
            <p class="card-text">The Blaboburo Corps band lends the procession a somewhat Latin American rhythm. It started out as part of a Roztoč drumming course but has been long performing independently and playing under the name of <a href="http://www.blabuburo.cz">Blaboburo</a>.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/svajcr-jeleni.jpg" alt="The Blue Deer and Doe">
            <h2 class="card-title maso-mask-card-title">The Blue Deer and Doe</h2>
            <p class="card-text">The dreamy Blue Deer and Doe with their entourage once stepped out of their realm and legend in Tiché Udolí and have been a part of the procession ever since. The authors are Dora and Adam Kratký and friends.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/svajcr-caprda.jpg" alt="Caprda">
            <h2 class="card-title maso-mask-card-title">Caprda</h2>
            <p class="card-text">Crazy Caprda is the mother of the Carnival / Mardi Gras. It is also the name of the beer we brewed for the Masopust’s 20<sup>th</sup> anniversary in 2017. The large mask from Zuzana and Jaromír Sleha’s workshop was made in the same year.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/hromadko-sedm-smrti.jpg" alt="Seven Deaths">
            <h2 class="card-title maso-mask-card-title">Seven Grim Reapers</h2>
            <p class="card-text">A group of seven Grim Reapers on stilts appeared in 2017, designed and performed by D.&nbsp;Krátká, V.&nbsp;Bělochová, J.&nbsp;Tomšů, J.&nbsp;Mirovský, D.&nbsp;Lázsló, J.&nbsp;Štěpánek and A.&nbsp;Krátký.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/hromadko-medvedice.jpg" alt="Ursa Maior">
            <h2 class="card-title maso-mask-card-title">Ursa Maior</h2>
            <p class="card-text">The large glowing Polar She-Bear was created under Andrew Kim’s supervision in England. Dora and Adam Kratký made it for Lamplighter’s, brought it to Roztoky and it has been with us since.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/hromadko-kohout.jpg" alt="The Cockerel and His Flock">
            <h2 class="card-title maso-mask-card-title">The Cockerel and His Flock</h2>
            <p class="card-text">The Cockerel and his flock are large light-up masks made at Andrew Kim’s workshop in 2018. The Cockerel is the antithesis to the Grim Reaper and brings Klibna back to life.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/svajcr-husar.jpg" alt="Hussars">
            <h2 class="card-title maso-mask-card-title">Hussars</h2>
            <p class="card-text">Two light-up Hussars with swords are mostly the work of Szilard Boraros and were made at a workshop for light-up masks.</p>
        </div>
    </div>
    <div class="card maso-mask-card">
        <div class="card-body">
            <img class="card-img-top" src="/img/maskary/hromadko-dopravak.jpg" alt="Traffic Corps">
            <h2 class="card-title maso-mask-card-title">The Traffic Control Squad</h2>
            <p class="card-text">An absolutely crucial part of the Carnival is a group of men responsible for traffic control and organizing the procession. You can easily recognize them by the traffic cones they wear on their heads.</p>
        </div>
    </div>
</div>
{% endblock %}