{% extends '_base.twig' %}


{% block title %}O&nbsp;roztockém masopustu{% endblock %}

{% block nav %}
{% include '__nav.twig' with {'active': 'o-masopustu'} %}
{% endblock %}


{% block content %}
    <div class="maso-header-img-cont">
        <img src="img/ilustracni/vit-svajcr-2017.jpg" class="img-fluid maso-header-img">
    </div>

    <h1>O&nbsp;roztoc&shy;kém Maso&shy;pustu</h1>
    <p class="maso-anotace">Roztocké masopustní slavnosti svým tradičním a bohatým pojetím jsou největší kulturní událostí roku a svou známostí překračují hranice města Roztoky, každoročně je navštíví několik tisíc účastníků.</p>
    
    <p>Průvod plný originálních masek putuje z roztockého zámku, kde slavnost každoročně začíná, přes město Roztoky, úvoz, louky a pole na Holý Vrch, kde se setkává s průvodem z Únětic a Suchdola (a někdy i z Úholiček). Průvody se společně utkají a tančí a odcházejí za masopustní zábavou dříve do sousedních Únětic,od roku 2017 do Roztok do šapitó.</p>

    <p><strong><a href="http://www.roztoc.cz/nase-cinnost/kulturni-akce/masopust/masotisk/" >→ Galerie fotografií a reportáží z minulých let</a></strong> (Na starém webu. Sorry jako.)</p>
    
    <h2>Co je roztocký Masopust?</h2>
    <p>Masopust v Roztokách u Prahy je zvláštní fenomén. Vznikl jako drobný lokální počin malinké skupiny lidí a za dvacet let vyrostl do jedinečné živoucí akce, na kterou se sjíždějí lidé z široka daleka. Fotí ho skvělí fotografové, píšou o něm novináři, zkoumají ho folkloristi – protože je údajně jediným z takhle velkých masopustů, který je opravdový a živý – živený zevnitř energií a fantazií komunity místních lidí a jejich přátel. A v roce 2017 se konal jeho dvacátý ročník, což také není úplně málo.</p>
    
    <p>Masopustní průvod tradičně putuje z Roztok přes Holý Vrch, kde se setkávají průvody Roztockých a Únětických a Suchdolských, do Únětic, kde se končí bujarou zábavou na několika scénách. V létě 2016 zanikla hlavní z nich – únětický Kravín – a tak se Roztočtí po setkání průvodů, jejich boji, utkání jejich medvědů, sbratření a společném kolovém tanci vrátí zpět do Roztok. A protože v Roztokách není žádný velký sál, ve kterém bychom se na závěr masopustu mohli veselit a tančit, bude průvod končit v obrovském zatepleném cirkusovém šapitó, zapůjčeném právě pro tento večer pro všechny významné a veledůležité maškary.</p>
    
    <h2>Kdo jej pořádá a jak?</h2>
    <p>Během let akce přerostla z podniku několika nadšenců do vyhlášené a uznávané akce, kterou navštíví každý rok několik tisíc lidí. Její organizace stále stojí na nadšení místních a dobrovolnické práci rozmanitého produkčního týmu, který kromě výroby originálních vysokých masek, hudební, žonglérské a jiné produkce zvládá i řízení tisícihlavého průvodu, organizaci zábavy a řešení nesčetných situací, nad kterými zůstává rozum stát. Už jste na poslední chvíli sestrojovali improvizované odpalovací zařízení na konfetový ohňostroj? Měli cvičeného skorokoně Klibnu s poruchou krátkodobé paměti? Nečekaně zvoleného krále Masopustu z ústavu pro duševně choré? No, my ano.</p>
    
    <p>Většina práce se dělá dobrovolnicky – lépe řečeno, dělá se dobrovolnicky, co jde. Masopustní výbor se schází od podzimu, protože ledasco je potřeba zařídit s velkým předstihem, práce vrcholí v předmasopustním týdnu, který začíná vybalováním přes rok uskladněných masek spojeným se zkouškou písní, pokračuje téměř nepřetržitou prací na maskách, škraboškách, tombole a podobně a končí páteční obchůzkou (takové trochu utajené srdce Masopustu) a sobotním průvodem (veřejná a veliká část). Na přípravě a organizaci Masopustu se běžně podílí okolo dvou set dobrovolníků, člověkohodin jsme v roce 2016 napočítali zhruba dva a půl tisíce.</p>
    
    <p>Máme velké štěstí v tom, že dost z místních nebo jejich přátel jsou umělci nebo jinak tvůrčí lidé, kteří dávají Masopustu tvář, nicméně Masopust je specifický v tom, že do něj může vstoupit, a vstupuje, kdokoliv – na maskách se tak vyřádili profesionálové i laici, dospělí i děti. Masopust po mnoho let také provází fotografka Markéta Luskačová. Hodně hudebníků a divadelníků se součástí průvodu stává zdarma nebo téměř za hubičku – protože Masopust milují a tvoří jej rádi.</p>
    
    <h2>Proč to děláme?</h2>
    <p>Protože to funguje.</p>
    
    <p>Masopust, jeho přípravy, organizace, vyvrcholení a veškeré jeho dění je něco, co nás těžko popsatelným způsobem spojuje. Je to věc, která vyrůstá z kořenů tradic a historie a my v ní kráčíme přítomností do budoucnosti – a tím tvoříme kořeny své. Každý Medvěd, každá Smrt jdou ve stopách generací Medvědů a Smrtí a jejich tanec na Holém vrchu, místem se snad nejstarším osídlením v Čechách, to završí. Má to zvláštní sílu – jako kdybychom nevědomky narazili na pramen nebo se napojili na něco prastarého, co putuje s námi.</p>
    
    <p>Masopust nás spojuje a umožňuje nám být dnes, ale tak trochu jinak, jako někdo jiný, někde jinde, jindy…</p>
    
    <p>Funguje zvláštním způsobem dovnitř do komunity i do každého člověka.</p>
    
    <p>A tak to má být.</p>
{% endblock %}
