{% extends '_base.twig' %}


{% block title %}O&nbsp;roztockém masopustu{% endblock %}

{% block nav %}
{% include '__nav.twig' with {'active': 'o-masopustu'} %}
{% endblock %}


{% block content %}
    <div class="maso-header-img-cont">
            <img
            sizes="
            (min-width: 1200px) 1110px, 
            (min-width: 992px) 930px, 
            (min-width: 768px) 690px, 
            (min-width: 576px) 510px, 
            calc(100vw-30px)"
            srcset="
            img/ilustracni/vit-svajcr-2017_rjosbq_c_scale,w_300.jpg 300w,
            img/ilustracni/vit-svajcr-2017_rjosbq_c_scale,w_586.jpg 586w,
            img/ilustracni/vit-svajcr-2017_rjosbq_c_scale,w_806.jpg 806w,
            img/ilustracni/vit-svajcr-2017_rjosbq_c_scale,w_995.jpg 995w,
            img/ilustracni/vit-svajcr-2017_rjosbq_c_scale,w_1560.jpg 1560w"
            src="img/ilustracni/vit-svajcr-2017_rjosbq_c_scale,w_995.jpg"
            alt="Maska Smrtky" class="img-fluid maso-header-img">
    </div>

    <h1>O&nbsp;roztoc&shy;kém Maso&shy;pustu</h1>
    <p class="maso-anotace">Roztocké masopustní slavnosti svým tradičním a&nbsp;bohatým pojetím jsou největší kulturní událostí roku a&nbsp;svou známostí překračují hranice města Roztoky, každoročně je navštíví několik tisíc účastníků.</p>
    
    <p>Průvod plný originálních masek putuje z&nbsp;roztockého zámku, kde slavnost každoročně začíná, přes město Roztoky, úvoz, louky a&nbsp;pole na Holý Vrch, kde se setkává s&nbsp;průvodem z&nbsp;Únětic a&nbsp;Suchdola (a někdy i&nbsp;z Úholiček). Průvody se společně utkají a&nbsp;tančí a&nbsp;odcházejí za masopustní zábavou dříve do sousedních Únětic,od roku 2017 do Roztok do šapitó.</p>

    <p><strong><a href="http://www.roztoc.cz/nase-cinnost/kulturni-akce/masopust/masotisk/" >→ Galerie fotografií a&nbsp;reportáží z&nbsp;minulých let</a></strong> (Na starém webu. Sorry jako.)</p>
    
    <h2>Co je roztocký Masopust?</h2>
    <p>Masopust v&nbsp;Roztokách u&nbsp;Prahy je zvláštní fenomén. Vznikl jako drobný lokální počin malinké skupiny lidí a&nbsp;za dvacet let vyrostl do jedinečné živoucí akce, na kterou se sjíždějí lidé z&nbsp;široka daleka. Fotí ho skvělí fotografové, píšou o&nbsp;něm novináři, zkoumají ho folkloristi – protože je údajně jediným z&nbsp;takhle velkých masopustů, který je opravdový a&nbsp;živý – živený zevnitř energií a&nbsp;fantazií komunity místních lidí a&nbsp;jejich přátel. A v&nbsp;roce 2017 se konal jeho dvacátý ročník, což také není úplně málo.</p>
    
    <p>Masopustní průvod tradičně putuje z&nbsp;Roztok přes Holý Vrch, kde se setkávají průvody Roztockých a&nbsp;Únětických a&nbsp;Suchdolských, do Únětic, kde se končí bujarou zábavou na několika scénách. V létě 2016 zanikla hlavní z&nbsp;nich – únětický Kravín – a&nbsp;tak se Roztočtí po setkání průvodů, jejich boji, utkání jejich medvědů, sbratření a&nbsp;společném kolovém tanci vrátí zpět do Roztok. A protože v&nbsp;Roztokách není žádný velký sál, ve kterém bychom se na závěr masopustu mohli veselit a&nbsp;tančit, bude průvod končit v&nbsp;obrovském zatepleném cirkusovém šapitó, zapůjčeném právě pro tento večer pro všechny významné a&nbsp;veledůležité maškary.</p>
    
    <h2>Kdo jej pořádá a&nbsp;jak?</h2>
    <p>Během let akce přerostla z&nbsp;podniku několika nadšenců do vyhlášené a&nbsp;uznávané akce, kterou navštíví každý rok několik tisíc lidí. Její organizace stále stojí na nadšení místních a&nbsp;dobrovolnické práci rozmanitého produkčního týmu, který kromě výroby originálních vysokých masek, hudební, žonglérské a&nbsp;jiné produkce zvládá i&nbsp;řízení tisícihlavého průvodu, organizaci zábavy a&nbsp;řešení nesčetných situací, nad kterými zůstává rozum stát. Už jste na poslední chvíli sestrojovali improvizované odpalovací zařízení na konfetový ohňostroj? Měli cvičeného skorokoně Klibnu s&nbsp;poruchou krátkodobé paměti? Nečekaně zvoleného krále Masopustu z&nbsp;ústavu pro duševně choré? No, my ano.</p>
    
    <p>Většina práce se dělá dobrovolnicky – lépe řečeno, dělá se dobrovolnicky, co jde. Masopustní výbor se schází od podzimu, protože ledasco je potřeba zařídit s&nbsp;velkým předstihem, práce vrcholí v&nbsp;předmasopustním týdnu, který začíná vybalováním přes rok uskladněných masek spojeným se zkouškou písní, pokračuje téměř nepřetržitou prací na maskách, škraboškách, tombole a&nbsp;podobně a&nbsp;končí páteční obchůzkou (takové trochu utajené srdce Masopustu) a&nbsp;sobotním průvodem (veřejná a&nbsp;veliká část). Na přípravě a&nbsp;organizaci Masopustu se běžně podílí okolo dvou set dobrovolníků, člověkohodin jsme v&nbsp;roce 2016 napočítali zhruba dva a&nbsp;půl tisíce.</p>
    
    <p>Máme velké štěstí v&nbsp;tom, že dost z&nbsp;místních nebo jejich přátel jsou umělci nebo jinak tvůrčí lidé, kteří dávají Masopustu tvář, nicméně Masopust je specifický v&nbsp;tom, že do něj může vstoupit, a&nbsp;vstupuje, kdokoliv – na maskách se tak vyřádili profesionálové i&nbsp;laici, dospělí i&nbsp;děti. Masopust po mnoho let také provází fotografka Markéta Luskačová. Hodně hudebníků a&nbsp;divadelníků se součástí průvodu stává zdarma nebo téměř za hubičku – protože Masopust milují a&nbsp;tvoří jej rádi.</p>
    
    <h2>Proč to děláme?</h2>
    <p>Protože to funguje.</p>
    
    <p>Masopust, jeho přípravy, organizace, vyvrcholení a&nbsp;veškeré jeho dění je něco, co nás těžko popsatelným způsobem spojuje. Je to věc, která vyrůstá z&nbsp;kořenů tradic a&nbsp;historie a&nbsp;my v&nbsp;ní kráčíme přítomností do budoucnosti – a&nbsp;tím tvoříme kořeny své. Každý Medvěd, každá Smrt jdou ve stopách generací Medvědů a&nbsp;Smrtí a&nbsp;jejich tanec na Holém vrchu, místem se snad nejstarším osídlením v&nbsp;Čechách, to završí. Má to zvláštní sílu – jako kdybychom nevědomky narazili na pramen nebo se napojili na něco prastarého, co putuje s&nbsp;námi.</p>
    
    <p>Masopust nás spojuje a&nbsp;umožňuje nám být dnes, ale tak trochu jinak, jako někdo jiný, někde jinde, jindy…</p>
    
    <p>Funguje zvláštním způsobem dovnitř do komunity i&nbsp;do každého člověka.</p>
    
    <p>A tak to má být.</p>
{% endblock %}
