{% extends '_base.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_966.jpg">
    <meta property="og:title" content="Připojte se k Masopustu!">
    <meta property="og:description" content="Masopust organizuje skupina dobrovolníků, což je při akci pro několik tisíc lidí docela výzva. Máme nadšení a zkušenosti, ale uvítáme jakoukoliv pomoc. Zapojit se můžete i vy.">
    <meta property="og:url" content="http://masopust.roztoc.cz/podpora">
    {% endblock %}

{% block title %}Zapojte se a&nbsp;podpořte nás!{% endblock %}

{% block nav %}
{% include '__nav.twig' with {'active': 'podpora'} %}
{% endblock %}


{% block content %}

<div class="maso-header-img-cont">
        <img
        sizes="
        (min-width: 1200px) 1110px, 
        (min-width: 992px) 930px, 
        (min-width: 768px) 690px, 
        (min-width: 576px) 510px, 
        calc(100vw-30px)"
        srcset="
       /img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_300.jpg 300w,
       /img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_678.jpg 678w,
       /img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_966.jpg 966w,
       /img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_1191.jpg 1191w,
       /img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_1359.jpg 1359w,
       /img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_1600.jpg 1600w"
        src="/img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_966.jpg" alt="Maškary roztockého Masopustu na Holém vrchu" class="img-fluid maso-header-img">
</div>

{% block text %}
<h1>Zapojte se a&nbsp;podpořte nás!</h1>
<p class="maso-anotace">Masopust organizuje skupina dobrovolníků, což je při akci pro několik tisíc lidí docela výzva.<br>Máme nadšení a&nbsp;zkušenosti, ale uvítáme jakoukoliv pomoc. Zapojit se můžete i&nbsp;vy.</p>

<div class="row">
    <div class="col-sm">
        <h2 class="h3">Pojďte do toho</h2>
        <p>Každý rok sháníme dobrovolníky na přípravné práce, produkci, do masek… Budeme rádi za každou ruku navíc.</p>
        <p>Ozvěte se na <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a>.</p>
        <p>Děkujeme!</p>
        <h2 class="h3">Darujte</h2>
        <p>Darujte nám nějaký materiál na tvorbu nebo dar do tomboly! Využijeme skoro cokoliv. Kontaktovat můžete Karolínu Šípalovou, <a href="tel:+420737167868">737&nbsp;167&nbsp;868</a>, <a href="mailto:karolina.sipalova@roztoc.cz">karolina.sipalova@roztoc.cz</a>.</p>
    </div>
    <div class="col-sm">
        <h2 class="h3">Přispějte</h2>
        <p>Každá koruna nám pomůže! Masopust se snažíme dělat co nejlevnější, ale dost toho prostě platit musíme… největší položkou je technické zajištění a&nbsp;šapitó.</p>
        <p>Přispět můžete náš účet <span class="maso-em">2000577036/2010</span> (FIO) s VS 77777, vystavíme vám potvrzení o&nbsp;daru pro odečet ze základu daně.</p>
        
    </div>
    <div class="col-sm">
        
        <img src="/img/grafiky/qr.png" alt="qr platba" class="img-fluid">
    </div>
   
</div>

<div class="maso-excursion">
    <div class="row">
        <div class="col-md">
            <h3>Hledáme pomocníky</h3>
            <ul>
                <li><span class="maso-em">Výroba škrabošek</span> – šití na&nbsp;šicím stroji, klidně u&nbsp;sebe doma</li>
                <li><span class="maso-em">Zdobení škrabošek, opravy a&nbsp;úpravy masek a&nbsp;kostýmů</span> – v&nbsp;ateliéru Jungmannova od&nbsp;11. do&nbsp;15.&nbsp;února</li>
                <li><span class="maso-em">Vaření pro dobrovolníky a&nbsp;pomocníky</span> – potřebujeme pokrýt obědy a&nbsp;večeře od&nbsp;10. do&nbsp;14.&nbsp;února</li>
                <li><span class="maso-em">Stavba šapitó</span> – ještě nevíme kdy</li>
                <li><span class="maso-em">Zařizování šapitó a jídelního stanu</span> 14.&nbsp;února celý den – práce především pro silné muže</li>
                <li><span class="maso-em">Vození věcí</span> 15.&nbsp;února dopoledne</li>
                <li><span class="maso-em">Hledáme lidi do velkých masek</span> – takové, co se masky nebudou bát v&nbsp;průvodu nějak víc rozehrát</li>
                <li><span class="maso-em">Líčení příchozích na Zámku</span> – 15.&nbsp;února</li>
                <li><span class="maso-em">Prodej občerstvení</span> – 15.&nbsp;února na Zámku a&nbsp;v&nbsp;průvodu</li>
                <li><span class="maso-em">Úklid šapitó</span> – 16.&nbsp;února od 8.00 potřebujeme nejméně 10&nbsp;lidí.</li>
                <li><span class="maso-em">Úklid trasy průvodu</span> – Vysbírání odpadků na masotrase lze pojmout jako příjemnou rodinnou procházku a&nbsp;lze to spojit s&nbsp;uspáváním dítěte v&nbsp;kočárku atp. Moc nám pomůže, když se toho někdo zhostí.</li>

            </ul>
            <p><small>Dobrovolníky koordinuje Zuzana Šrůmová, tel. <a href="tel:+420775889942">777&nbsp;852&nbsp;195</a>.</small></p>
        </div>
        <div class="col-md" id="seznam-darcu">
            <h3>Děkujeme!</h3>
            <p class="maso-em">Masopust 2020 finančními či hmotnými dary podpořili:</p>
            <p>Letiště Václava Havla Praha, Eaton Corporation</p>
            <p>Děkujeme vám!</p>
        </div>
    </div>
</div>

<h2>Kolik Masopust stojí?</h2>
<p>Co jde, děláme na masopustu dobrovolnicky – od dopravy věcí přes vytváření masek po řízení průvodu.<br>Stále ale zbývá spousta věcí, které prostě dobrovolnicky dělat nejdou.</p>

<h3>Odhadované náklady Masopustu 2020</h3>
    <ul>
        <li>Honorář divadlům a&nbsp;kapelám – 150&nbsp;000&nbsp;Kč</li>
        <li>Technické zajištění – 87&nbsp;000&nbsp;Kč</li>
        <li>Pronájem šapitó, mobilní wc, pódium (včetně dopravy) – 302&nbsp;000&nbsp;Kč</li>
        <li>Materiál na výrobu masek – 38&nbsp;000&nbsp;Kč</li>
        <li>Propagace, tisk a&nbsp;výroba – 92&nbsp;000&nbsp;Kč</li>
        <li>Jiné náklady (poplatky OSA, ubytování umělců, doprava) – 69&nbsp;000&nbsp;Kč</li>
        <li>Zahraniční umělci a lektoři – doprava a ubytování – 67&nbsp;000&nbsp;Kč</li>
        <li><strong>Náklady celkem – 722&nbsp;000&nbsp;Kč</strong></li>
    </ul>
<p>V nákladech není započítána hodnota věcných darů, dobrovolnické práce, organizačního zajištění, telefonů, pronájmu prostor pro organizaci, řízení dopravy, pečení, prodej, organizace, fotodokumentace, výroby masek a&nbsp;kostýmů.</p>

{% endblock %}
{% endblock %}
