{% extends '_base.twig' %}


{% block title %}Zapojte se a&nbsp;podpořte nás!{% endblock %}


{% block content %}

<div class="maso-header-img-cont">
        <img
        sizes="
        (min-width: 1200px) 1110px, 
        (min-width: 992px) 930px, 
        (min-width: 768px) 690px, 
        (min-width: 576px) 510px, 
        calc(100vw-30px)"
        srcset="
        img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_300.jpg 300w,
        img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_678.jpg 678w,
        img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_966.jpg 966w,
        img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_1191.jpg 1191w,
        img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_1359.jpg 1359w,
        img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_1600.jpg 1600w"
        alt="Maškary roztockého Masopustu na Holém vrchu" class="img-fluid maso-header-img">
    <img src="img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_966.jpg" alt="Maškary roztockého Masopustu na Holém vrchu" class="img-fluid maso-header-img">
</div>

<h1>Zapojte se a&nbsp;podpořte nás!</h1>
<p class="maso-anotace">Masopust organizuje skupina dobrovolníků, což je při akci pro několik tisíc lidí docela výzva.<br>Máme nadšení a&nbsp;zkušenosti, ale uvítáme jakoukoliv pomoc. Zapojit se můžete i&nbsp;vy.</p>
<ul>
    <li><strong>Pojďte do toho s námi!</strong> Každý rok sháníme dobrovolníky na přípravné práce, produkci, do masek… Budeme rádi za každou ruku navíc.<br>Ozvěte se na <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a>, budeme rádi!</li>
    <li><strong>Přispějte nám!</strong> Jde to snadno přes Darujme.cz. Masopust se snažíme dělat co nejlevnější, ale dost toho prostě platit musíme… největší položkou je technické zajištění a&nbsp;šapitó, kde jsme rádi za každou korunu.<br>Rozpočet Masopustu naleznete níže.</li>
    <li><strong>Darujte nám nějaký materiál na tvorbu nebo dar do tomboly!</strong> Využijeme skoro cokoliv. Kontaktovat můžete Ditu Votavovou, <a href="tel:775889940">775&nbsp;889&nbsp;940</a>, <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a>.</li>
</ul>

<h2>Kolik Masopust stojí?</h2>
<p>Co jde, děláme na masopustu dobrovolnicky – od dopravy věcí přes vytváření masek po řízení průvodu.<br>Stále ale zbývá spousta věcí, které prostě dobrovolnicky dělat nejdou.</p>

<h3>Odhadované náklady Masopustu 2019</h3>
    <ul>
        <li>Honorář divadlům a&nbsp;kapelám – 70&nbsp;000&nbsp;Kč</li>
        <li>Technické zajištění – 164&nbsp;000&nbsp;Kč</li>
        <li>Pronájem šapitó, mobilní wc, pódium (včetně dopravy) – 180&nbsp;000&nbsp;Kč</li>
        <li>Materiál na výrobu masek – 40&nbsp;000&nbsp;Kč</li>
        <li>Propagace, tisk a&nbsp;výroba – 25&nbsp;000&nbsp;Kč</li>
        <li>Jiné náklady (poplatky OSA, ubytování umělců, doprava) – 30&nbsp;000&nbsp;Kč</li>
        <li>Náklady celkem – 509&nbsp;000&nbsp;Kč</li>
    </ul>
<p>V nákladech není započítána hodnota věcných darů, dobrovolnické práce, organizačního zajištění, telefonů, pronájmu prostor pro organizaci, řízení dopravy, pečení, prodej, organizace, fotodokumentace, výroby masek a&nbsp;kostýmů.</p>

<div class="maso-plate">
    <h3 class="h4">Jak to vypadalo loni</h3>
    <p>6000&nbsp;návštěvníků – 180&nbsp;dobrovolníků – 2500&nbsp;odpracovaných dobrovolnických hodin</p>

    <div class="row">
        <div class="col-md">
            <h3>Náklady Masopustu 2018</h3>
            <ul>
                <li>Honorář divadlům a&nbsp;kapelám (17&nbsp;kapel, divadel a&nbsp;souborů) – 100&nbsp;000&nbsp;Kč
                <li>Technické zajištění (stavba a&nbsp;obsluha šapitó, doprava, zvuk, světla, ostraha) – 113&nbsp;000&nbsp;Kč</li>
                <li>Pronájem šapitó, mobilní wc, pódium (včetně dopravy) – 207&nbsp;000&nbsp;Kč</li>
                <li>Materiál na výrobu masek – 52&nbsp;000&nbsp;Kč</li>
                <li>Propagace (plakáty, bannery, výtvarné návrhy, grafika) – 30&nbsp;000&nbsp;Kč</li>
                <li>Jiné náklady poplatky OSA, ubytování, doprava a&nbsp;jídlo pro účinkující a&nbsp;dobrovolníky – 30&nbsp;000&nbsp;Kč</li>
                <li>Náklady celkem – 532&nbsp;000&nbsp;Kč</li>
            </ul>
        </div>
        <div class="col-md">
            <h3>Příjmy Masopustu&nbsp;2018</h3>
            <ul>
                <li>Firemní a&nbsp;soukromí dárci – 85&nbsp;000&nbsp;Kč</li>
                <li>Dar Letiště Praha – 90&nbsp;000&nbsp;Kč</li>
                <li>Dotace SK, MŠMT – 5&nbsp;000&nbsp;Kč</li>
                <li>Dotace SK – 80&nbsp;000&nbsp;Kč</li>
                <li>Dotace města Roztoky – 130&nbsp;000 &nbsp;Kč</li>
                <li>Vstupné – 108&nbsp;000&nbsp;Kč</li>
                <li>Tombola – 12&nbsp;000&nbsp;Kč</li>
                <li>Vlastní zdroje Sdružení Roztoč – 22&nbsp;000&nbsp;Kč</li>
                <li>Příjmy celkem – 532&nbsp;000&nbsp;Kč</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
