{% extends '_base.twig' %}


{% block title %}Program masopustu 2019{% endblock %}


{% block content %}
    <div class="container">
            <h1>Program Masopustu</h1>
                       
            <h2>Středočeské muzeum v Roztokách – zámek</h2>
            <ul>
                <li>od 11.00 půjčování masek z bohatého fondu Sdružení Roztoč (výhradně pro ty, kteří dojdou až do Šapitó)</li>
                <li>12.00 Slavnostní narážení Únětického Masopustního speciálu; začíná rej a hemžení maškar s bohatým programem – divadla, kapely, kejklíři</li>
                <li>14.00 Korunovace Královny Masopustu a předání masopustního práva, Krásné fanfáry, Local Vocal</li>
            </ul>

            <h2>Průvod městem Roztoky a na Holý vrch</h2>
            <ul>
                <li>14.30 ulicemi Nádražní, serpentinou, Tyršovo náměstí, Legií, Třešňovka</li>
                <li>16.20 na Holém vrchu setkání průvodů z Roztok, Únětic a Suchdola; mávání prapory, kolové tance na prastaré pláni Holého vrchu, zápas medvědů, poprava Klibny</li>
            </ul>

            <h2>Šapitó (u autobusové zastávky Roztoky, rozcestí Žalov)</h2>
            <ul>
                <li>Vstupné do šapitó</li>
                <li>0 Kč děti do 15 let</li>
                <li>230 Kč do 31.12.2017</li>
                <li>250 Kč v předprodeji</li>
                <li>280 Kč na místě</li>
            </ul>
            <ul>
                <li>16.00 Otevřené šapitó pro všechny zmrzlé, ucaprtané a hladové maškary/li></li>
            </ul>
        
    </div>
{% endblock %}
