{% extends '_base.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_980.jpg">
    <meta property="og:title" content="Program Masopustu v&nbsp;Roztokách 15.&nbsp;února 2020">
    <meta property="og:description" content="Otisk dob minulých a dech věcí příštích. Truchlivě veselý průvod maškar vychází za svou Královnou-nevěstou. V pentlích a zrcátkách nese příběhy a hlasy roztockou krajinou.">
    <meta property="og:url" content="http://masopust.roztoc.cz/program">
    {% endblock %}

{% block title %}Program masopustu 2020{% endblock %}

{% block nav %}
{% include '__nav.twig' with {'active': 'program'} %}
{% endblock %}

{% block content %}
    <div class="maso-header-img-cont">
            <img
            sizes="
            (min-width: 1200px) 1110px,
            (min-width: 992px) 930px,
            (min-width: 768px) 690px,
            (min-width: 576px) 510px,
            calc(100vw-30px)"
            srcset="
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_300.jpg 300w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_577.jpg 577w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_792.jpg 792w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_980.jpg 980w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1144.jpg 1144w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1298.jpg 1298w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1376.jpg 1376w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1920.jpg 1920w"
            src="/img/ilustracni/hromadko-2016.jpg" alt="Průvod s bubeníky Blabuburo, roztocký Masopust 2016" class="img-fluid maso-header-img">
    </div>

    {% block text %}

        <div class="maso-excursion d-print-none">
            <h2 class="h3 pb-0">Masopustní obchůzka (neveřejná událost)</h2>
            <p class="h4 p-0 maso-em">8.&nbsp;února&nbsp;2020</p>
            <div class="accordion" id="accordionExample">
                <div id="headingOne">
                    <p ><strong>Hospodáři a&nbsp;hospodyně z&nbsp;Vršků, vězte, chystá&nbsp;se k&nbsp;vám veselá masopustní společnost. Koho navštíví, tomu se v&nbsp;dalším roce dobře povede.</strong></p>
                    <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <button type="button" class="btn maso-button-link">→ Podrobnosti obchůzky ←</button>
                    </div>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                   <div class="card-body">
                        <p class="h4 maso-em text-uppercase">Zaručeně nejlepší investice do&nbsp;vaší budoucnosti!</p>
                        <p>Maškary obchází, zpívají, tancují a&nbsp;vinšují. A&nbsp;také jedí a&nbsp;pijí… Když pro ně připravíte nějaké drobné pohoštění, přijdou i&nbsp;k&nbsp;vám.</p>
                        <p><strong>Jak takové správné pohoštění pro maškary vypadá?</strong></p>
                        <p>Může být to být jenom bábovka a&nbsp;čaj, může to být celý stůl koláčů, masa a&nbsp;mnoho pitího, může to být malé zastavení u&nbsp;jedné rodiny nebo společné místo u&nbsp;několika sousedů. Jen nezapomeňte, že část maškar jsou i&nbsp;děti a&nbsp;mají také žízeň a&nbsp;hlad! Odměnou vám bude hudba, tanec s&nbsp;Medvědem a&nbsp;vinšování.</p>
                        <p>Chcete-li, aby se u&nbsp;vás maškary stavily a&nbsp;vás neminuly, ozdobte svá vrata pentlí – a&nbsp;dejte prosím vědět Ditě Votavové na&nbsp;<a href="mailto:dita.votavova@roztoc.cz">dita.votavova@roztoc.cz</a> či&nbsp;<a href="tel:+420775889940">775&nbsp;889&nbsp;940</a>, aby k&nbsp;vám maškary spolehlivě nasměrovala!</p>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="maso-pruvod-nadpis">Masopust v&nbsp;Roztokách a&nbsp;Úněticích</h1>
        <p class="h3 maso-em">&nbsp;15.&nbsp;února&nbsp;2020</p>

        <h2>Středočeské muzeum v&nbsp;Roztokách</h2>
        <ul>
            <li><strong>od 11.00</strong> <a href="/maskary" class="maso-em">Půjčování masek</a> z&nbsp;bohatého fondu Sdružení&nbsp;Roztoč (výhradně pro&nbsp;ty, kteří dojdou až&nbsp;do&nbsp;Šapitó)</li>
            <li><strong>12.00</strong> <span class="maso-em">Slavnostní narážení Únětického Masopustního speciálu</span>;<br>maškary, koláče, Kohout a Medvěd, žongléři, Modrá muzika, Pohřební bratrstvo, <a href="https://www.bakchus.eu/cs/kontakt/" target="_blank" rel="noopener noreferrer">Bakchus</a>, <a href="http://www.blabuburo.cz">Blabuburo Corps!</a>, <a href="https://bandzone.cz/_106291?at=info" target="_blank" rel="noopener noreferrer">Holinky</a>, <a href="http://www.rosenka.cz/skupiny?hrozenka" target="_blank" rel="noopener noreferrer">Hrozénka</a>, Grál, Bořivoj – Rakvičkárna a Kašpaři, GNAT – Smetáček a syn</li>
            <li><strong>14.00</strong> <span class="maso-em">Korunovace Královny Masopustu</span> a&nbsp;předání masopustního práva<br>Krásné fanfáry, <a href="http://www.blabuburo.cz" target="_blank" rel="noopener noreferrer">Blabuburo Corps!</a>,  <a href="http://localvocal.cz/" target="_blank" rel="noopener noreferrer">Local&nbsp;Vocal</a> a&nbsp;Masoansábl</li>
           
        </ul>

        <h2>Průvod městem Roztoky a&nbsp;na&nbsp;Holý&nbsp;vrch</h2>
        <ul>
            <li><a href="https://www.google.cz/maps/dir/50.1585055,14.3990066/50.1616947,14.3940287/50.1536488,14.3812738/50.151785,14.3708468/50.1614531,14.3743336/@50.1565322,14.3750353,15z/data=!3m1!4b1!4m2!4m1!3e2?hl=cs">Trasa průvodu na google mapách</a></li>
            <li><strong>14.30</strong> <span class="maso-em">Průvod</span> ulicemi Nádražní, serpentinou a&nbsp;Kroupkou – <a href="http://www.blabuburo.cz" target="_blank" rel="noopener noreferrer">Blabuburo Corps!</a>, <a href="https://bandzone.cz/_106291?at=info" target="_blank" rel="noopener noreferrer">Holinky</a> a mnozí další</li>
            <li><strong>15.00</strong> <span class="maso-em">Konopičky</span> na Tyršově&nbsp;náměstí, cesta ulicí Legií, Třešňovka
            <li><strong>16.30</strong> <span class="maso-em">Setkání průvodů</span> z&nbsp;Roztok, Únětic a&nbsp;Suchdola na&nbsp;Holém&nbsp;vrchu;<br>mávání prapory, kolové tance na prastaré pláni Holého&nbsp;vrchu, zápas medvědů, poprava Klibny</li>
        </ul>


        <h2>Šapitó (u&nbsp;autobusové zastávky Roztoky, rozcestí Žalov)</h2>


        <div class="maso-excursion">
            <div class="row">
                <div class="col-md">
                    <h3 class="h4">Cena vstupenek</h3>
                    <ul>
                        <li><strong>0 Kč</strong> děti do&nbsp;15&nbsp;let</li>
                        <li><strong>250 Kč</strong> v&nbsp;<a href="#" target="_blank" rel="noopener noreferrer">předprodeji</a> od 1. do&nbsp;13.&nbsp;února&nbsp;2020</li>
                        <li><strong>280 Kč</strong> v&nbsp;<a href="#" target="_blank" rel="noopener noreferrer">předprodeji</a> či na místě v&nbsp;den Masopustu</li>
                        <li>Na místě bude posílena sekce předprodejových vstupenek (stačí mít vstupenku v mobilu), takže předprodej bude výrazně rychlejší než kupovat vstupenku na místě.</li>
                    </ul>
                </div>
{#                 
                <div class="col-md">
                    <h3 class="h4">Předprodej</h3>
                    <a href="https://goout.net/cs/jine-akce/masopustni-zabava-v-roztokach-2019/iimud/+vdbgl/" class="maso-button-link" target="_blank" rel="noopener noreferrer">→ Vstupenky ←<br>→ na zábavu v šapitó ←</a>
                </div> #}
            </div>
        </div>

        <ul>
            <li><strong>16.00</strong> <span class="maso-em">Otevřené šapitó</span> pro všechny zmrzlé, ucaprtané a&nbsp;hladové maškary</li>
            <li><strong>18.00</strong> <span class="maso-em">Magnum Jazz Bigband</span> – opravdu skvělá taneční hudba</li>
            <li><strong>20.00</strong> <span class="maso-em">Kdo je živý tomu hop – MASYF</span></li>
            <li><strong>20.40</strong> <span class="maso-em">Magnum Jazz Bigband</span></li>
            <li><strong>21.30</strong> <span class="maso-em">Holektiv</span></li>
            <li><strong>22.30</strong> <span class="maso-em">Rumbalgia</span> – Až do roztrhání!</li>
        </ul>

        <div class="row">
            <div class="card maso-mask-card">
                <div class="card-body">
                    <img class="card-img-top" src="/img/program/bigband.jpg" alt="Magnum Jazz Bigband">
                    <h2 class="card-title maso-mask-card-title">18.00 Magnum Jazz Bigband</h2>
                    <p class="card-text">Dynamická dvacetičlenná kapela složená z&nbsp;mladých muzikantů nabitých entuziasmem. Bigband hraje swing, moderní jazz, ale i&nbsp;funky nebo rockpopové skladby v&nbsp;nejrůznějších aranžmá.</p>
                    <a href="http://www.magnumjazzbigband.cz/" class="card-link" target="_blank" rel="noopener noreferrer">→ Magnum Jazz Bigband</a>
                </div>
            </div>
            <div class="card maso-mask-card">
                <div class="card-body">
                    <img class="card-img-top" src="/img/program/janaver.jpg" alt="Jana Vöröšová"> 
                    <h2 class="card-title maso-mask-card-title">20.00 Kdo je živý tomu hop</h2>
                    <p class="card-text">Vokálně instrumentální a zcela masopustní skladba ve světové premiéře a jedinečném scénické provedení! <br>Skladbu pro masopustní symfonický sbor a orchestr (MASYF) o čtyřech částech (Kohout, Medvěd, Královna, Smrt) složila <a href="https://www.youtube.com/watch?v=26tRrafbby8" class="card-link" target="_blank" rel="noopener noreferrer">Jana Vöröšová</a> a dirigovat bude Tomáš Brauner.</p>
                </div>
            </div>
            <div class="card maso-mask-card">
                <div class="card-body">
                    <img class="card-img-top" src="/img/program/rumbalgia.jpg" alt="Rumbalgia">
                    <h2 class="card-title maso-mask-card-title">21.30 Rumbalgia</h2>
                    <p class="card-text">Opravdoví Španělé ze všech koutů Španělska, co hrají opravdovou španělskou rumbu jako řemen, nebo jako křen, nebo spíš třeba jako býk? Přijďte si s nimi zazpívat a zatančit. Až do roztrhání!</p>
                    <a href="http://feketeseretlek.cz/" class="card-link" target="_blank" rel="noopener noreferrer">→ Rumbalgia</a>
                </div>
            </div>
        </div>

        {# <div class="maso-excursion">
            <h2>Program v Únětickém pivovaru</h2>
            <ul>
                <li><strong>14.00</strong> <span class="maso-em">Narážení Masopustního speciálu</span> postavou Laufra v&nbsp;pivovarské stodole</li>
                <li><strong>14.30</strong> <span class="maso-em">Únětický masopustní průvod</span> se vydá z Pivovaru na&nbsp;společné setkání s&nbsp;Roztockými a&nbsp;Suchdolskými na&nbsp;Holém&nbsp;vrchu</li>
                <li><strong>14.00</strong> <span class="maso-em">Večerní párty v pivovarské stodole</span> se skupinou <a href="https://www.jazz-bluffers.cz/" target="_blank" rel="noopener noreferrer">Jazz&nbsp;Buffers</a> aneb PAŘBA JAKO SVIŇA<br><strong>VSTUP ZDARMA</strong></li>
            </ul>

            <h2>Únětický speciál – TRADIČNÍ MASOPUSTNÍ BOCK&nbsp;16°</h2>
            <p>Spodně kvašený speciál s&nbsp;obsahem alkoholu kolem 6&nbsp;%, zlatavé až měděné barvy. Chuť je výrazně sladová s&nbsp;medovou plností a&nbsp;nepatrným karamelovým nádechem. Chmelová hořkost je z&nbsp;počátku potlačena dominantními složkami chuti a&nbsp;pak vyšší plností. V&nbsp;doznívání se pak projeví jemná, lahodná hořkost, charakteristická pro Únětické pivo, nabízející k&nbsp;dalšímu napití.<p/>
            <p><span class="maso-em">UPOZORŇUJEME: MASOPUSTNÍ BOCK, KDE KDO SI HO PAMATUJE CELÝ ROK!</span></p>

            <a href="https://www.unetickypivovar.cz/akce-v-pivovaru/?event_id1=3608" target="_blank" rel="noopener noreferrer">→ Masopust v&nbsp;Únětickém pivovaru</a>

        </div> #}
       
    {% endblock %}
{% endblock %}
