{% extends '_base.twig' %}


{% block title %}Program masopustu 2019{% endblock %}


{% block content %}
    <div class="maso-header-img-cont">
            <img
            sizes="
            (min-width: 1200px) 1110px, 
            (min-width: 992px) 930px, 
            (min-width: 768px) 690px, 
            (min-width: 576px) 510px, 
            calc(100vw-30px)"
            srcset="
            img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_300.jpg 300w,
            img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_577.jpg 577w,
            img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_792.jpg 792w,
            img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_980.jpg 980w,
            img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1144.jpg 1144w,
            img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1298.jpg 1298w,
            img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1376.jpg 1376w,
            img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1920.jpg 1920w"
            alt="Maškary roztockého Masopustu na Holém vrchu" class="img-fluid maso-header-img">
        <img src="img/ilustracni/hromadko-2016.jpg" alt="Průvod s bubeníky Blabuburo, roztocký Masopust 2016" class="img-fluid maso-header-img">
    </div>
    <!-- <h1>Program Masopustu</h1> -->

    <div class="maso-plate maso-no-print">
        <h2 class="h3">Masopustní obchůzka</h2>
        <p class="maso-name">9.&nbsp;února&nbsp;2019</p>
        <p><strong>Obchůzka ctihodných maškar po Roztockých domácnostech proběhne týden před masopustním průvodem.</strong></p>
        <p>Procházet bude Tichým údolím a&nbsp;okolím – a&nbsp;kdo ji dobře uvítá a&nbsp;pohostí, tomu se příští rok dobře povede.</p>
    </div>

    <h1 id="maso-pruvod-nadpis">Masopust v&nbsp;Roztokách a&nbsp;Úněticích</h1>
    <p class="h3 maso-name">&nbsp;16.&nbsp;února&nbsp;2019</p>

    <h2>Středočeské muzeum v&nbsp;Roztokách</h2>
    <ul>
        <li><strong>od 11.00</strong> <a href="/maskary">Půjčování masek</a> z&nbsp;bohatého fondu Sdružení&nbsp;Roztoč (výhradně pro&nbsp;ty, kteří dojdou až&nbsp;do&nbsp;Šapitó)</li>
        <li><strong>12.00</strong> <span class="maso-name">Slavnostní narážení Únětického Masopustního speciálu</span>;<br>začíná rej a&nbsp;hemžení maškar s&nbsp;bohatým programem – divadla, kapely, kejklíři</li>
        <li><strong>14.00</strong> <span class="maso-name">Korunovace Královny Masopustu</span> a&nbsp;předání masopustního práva, Krásné&nbsp;fanfáry, <a href="http://localvocal.cz/">Local&nbsp;Vocal</a></li>
    </ul>

    <h2>Průvod městem Roztoky a&nbsp;na&nbsp;Holý&nbsp;vrch</h2>
    <ul>
        <li><strong>14.30</strong> <span class="maso-name">Průvod</span> ulicemi Nádražní, serpentinou a&nbsp;Kroupkou</li>
        <li><strong>15.00</strong> <span class="maso-name">Konopičky</span> na Tyršově&nbsp;náměstí, cesta ulicí Legií, Třešňovka</li>
        <li><strong>16.20</strong> <span class="maso-name">Setkání průvodů</span> z&nbsp;Roztok, Únětic a&nbsp;Suchdola na&nbsp;Holém&nbsp;vrchu;<br>mávání prapory, kolové tance na prastaré pláni Holého&nbsp;vrchu, zápas medvědů, poprava Klibny</li>
    </ul>

    <h2>Šapitó (u&nbsp;autobusové zastávky Roztoky, rozcestí Žalov)</h2>

    <div class="maso-plate">
        <!-- <h2 class="h3">Vstupenky na masopustní zábavu v&nbsp;šapitó</h2> -->
        <div class="row">
            <div class="col-md">
                <h3 class="h4">Cena vstupenek</h3>
                <ul>
                    <li><strong>0 Kč</strong> děti do&nbsp;15&nbsp;let</li>
                    <li><strong>230 Kč</strong> v&nbsp;předprodeji do&nbsp;31.&nbsp;prosince&nbsp;2018</li>
                    <li><strong>250 Kč</strong> v&nbsp;předprodeji do&nbsp;15.&nbsp;února&nbsp;2019</li>
                    <li><strong>280 Kč</strong> na místě</li>
                </ul>
            </div>
            <div class="col-md">
                <h3 class="h4">Předprodej</h3>
                <ul>
                    <li>Masopředprodej na GoOut.net bude spuštěn v&nbsp;polovině prosince.</li>
                </ul>
            </div>
        </div>
    </div>
    
    <ul>
        <li><strong>16.00</strong> <span class="maso-name">Otevřené šapitó</span> pro všechny zmrzlé, ucaprtané a&nbsp;hladové maškary</li>
        <li><strong>18.00</strong> <span class="maso-name">Magnum Jazz Bigband</span></li>
        <li><strong>20.00</strong> <span class="maso-name">Akrobatické vystoupení</span>: studenti university CODARTS – University of the Art Rotterdam and AMoC připravují představení pro roztocký Masopust pod vedením Cecile&nbsp;da&nbsp;Costa.</li>
        <li><strong>20.30</strong> <span class="maso-name">Tombola</span></li>
        <li><strong>21.00</strong> <span class="maso-name">Fekete&nbsp;Seretlek</span> - teda asi. Nebo někdo jinej. A ty časy taky neseděj.</li>
        
    </ul>
        
{% endblock %}
