{% extends '_base.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_980.jpg">
    <meta property="og:title" content="Program Masopustu v&nbsp;Roztokách 16.&nbsp;února 2019">
    <meta property="og:description" content="Průvod mezi nebem a&nbsp;zemí, údolím a&nbsp;vrchem, minulostí a&nbsp;budoucností vyráží opět za svou královnou. Maškary se v&nbsp;poledne setkají na roztockém zámku, spojí s&nbsp;Únětickými a&nbsp;Suchdolskými tancem na pláni Holého vrchu a&nbsp;zakončí svou cestu zábavou v&nbsp;pravém a&nbsp;nefalšovaném vyhřívaném šapitó.">
    <meta property="og:url" content="http://masopust.roztoc.cz/program">
    {% endblock %}

{% block title %}Program masopustu 2019{% endblock %}

{% block nav %}
{% include '__nav.twig' with {'active': 'program'} %}
{% endblock %}

{% block content %}
    <div class="maso-header-img-cont">
            <img
            sizes="
            (min-width: 1200px) 1110px,
            (min-width: 992px) 930px,
            (min-width: 768px) 690px,
            (min-width: 576px) 510px,
            calc(100vw-30px)"
            srcset="
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_300.jpg 300w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_577.jpg 577w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_792.jpg 792w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_980.jpg 980w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1144.jpg 1144w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1298.jpg 1298w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1376.jpg 1376w,
           /img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_1920.jpg 1920w"
            src="/img/ilustracni/hromadko-2016.jpg" alt="Průvod s bubeníky Blabuburo, roztocký Masopust 2016" class="img-fluid maso-header-img">
    </div>

    {% block text %}

        {# <div class="maso-excursion d-print-none">
            <h2 class="h3 pb-0">Masopustní obchůzka</h2>
            <p class="h4 p-0 maso-em">9.&nbsp;února&nbsp;2019</p>
            <div class="accordion" id="accordionExample">
                <div id="headingOne">
                    <p ><strong>Hospodáři a&nbsp;hospodyně z&nbsp;ulic Nádražní, Kroupka, Bělina a&nbsp;Tiché&nbsp;údolí, vězte, chystá&nbsp;se k&nbsp;vám veselá masopustní společnost. Koho navštíví, tomu se v&nbsp;dalším roce dobře povede.</strong></p>
                    <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <button type="button" class="btn maso-button-link">→ Podrobnosti obchůzky ←</button>
                    </div>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                   <div class="card-body">
                        <p class="h4 maso-em text-uppercase">Zaručeně nejlepší investice do&nbsp;vaší budoucnosti!</p>
                        <p>Maškary obchází, zpívají, tancují a&nbsp;vinšují. A&nbsp;také jedí a&nbsp;pijí… Když pro ně připravíte nějaké drobné pohoštění, přijdou i&nbsp;k&nbsp;vám.</p>
                        <p><strong>Jak takové správné pohoštění pro maškary vypadá?</strong></p>
                        <p>Může být to být jenom bábovka a&nbsp;čaj, může to být celý stůl koláčů, masa a&nbsp;mnoho pitího, může to být malé zastavení u&nbsp;jedné rodiny nebo společné místo u&nbsp;několika sousedů. Jen nezapomeňte, že část maškar jsou i&nbsp;děti a&nbsp;mají také žízeň a&nbsp;hlad! Odměnou vám bude hudba, tanec s&nbsp;Medvědem a&nbsp;vinšování.</p>
                        <p>Chcete-li, aby se u&nbsp;vás maškary stavily a&nbsp;vás neminuly, ozdobte svá vrata pentlí – a&nbsp;dejte prosím vědět Ditě Votavové na&nbsp;<a href="mailto:dita.votavova@roztoc.cz">dita.votavova@roztoc.cz</a> či&nbsp;<a href="tel:+420775889940">775&nbsp;889&nbsp;940</a>, aby k&nbsp;vám maškary spolehlivě nasměrovala!</p>
                    </div>
                </div>
            </div>
        </div> #}
        <div class="maso-excursion d-print-none">
            <h2 class="h3 pb-0">BREĈO /Seven&nbsp;UP/ – předpremiéra</h2>
            <p class="h4 p-0 maso-em">14.&nbsp;února&nbsp;2019</p>
                    <p ><strong>Předpremiéra artistického představení, které se připravuje pro slavný Masopust.</strong></p>
                    <p>„Snažím se dosáhnout vrcholu. Krůček po krůčku, cihlu po cihle stavím babylonskou věž. Vzduch řídne a já se ztrácím v místě, které se v jazyce Esperanto nazývá Breĉo [Breko] – Meziprostor. Hraju hru popírající gravitační zákon balancujíc na hraně porozumění. Hledám řeč, kterou bych se mohl spojit s ostatními.“</p>
                    <p>Představení vzniká v rámci mezinárodní rezidence nového cirkusu. Studenti university CODARTS – UPsolventi University of the Art Rotterdam and AMoC, resp. Feel the Universe Circus Company a přátelé (konkrétně Jan Jirák, Alžběta Tichá, Saana Tolonen, Jonas Alich, Elena Damasio, Xenia Bannuscher a Dries Vanwalle) se představí pod vedením Cecile da Costa za doprovodu Tygra v Holinkách.</p>
                    <p class="maso-em">od 18.00 v KD Mlejn, Kovářova 1615/4, 155 00 Praha 5 – Stodůlky</p>
                </div>
            </div>
        </div>

        <h1 class="maso-pruvod-nadpis">Masopust v&nbsp;Roztokách a&nbsp;Úněticích</h1>
        <p class="h3 maso-em">&nbsp;16.&nbsp;února&nbsp;2019</p>

        <h2>Středočeské muzeum v&nbsp;Roztokách</h2>
        <ul>
            <li><strong>od 11.00</strong> <a href="/maskary" class="maso-em">Půjčování masek</a> z&nbsp;bohatého fondu Sdružení&nbsp;Roztoč (výhradně pro&nbsp;ty, kteří dojdou až&nbsp;do&nbsp;Šapitó)</li>
            <li><strong>12.00</strong> <span class="maso-em">Slavnostní narážení Únětického Masopustního speciálu</span>;<br>maškary, koláče, Kohout a Medvěd, Kočovný Karibu, žongléři, Modrá muzika, <a href="https://www.bakchus.eu/cs/kontakt/" target="_blank" rel="noopener noreferrer">Bakchus</a>, <a href="http://www.blabuburo.cz">Blabuburo Corps!</a>, <a href="https://bandzone.cz/_106291?at=info" target="_blank" rel="noopener noreferrer">Holinky</a>, <a href="http://www.rosenka.cz/skupiny?hrozenka" target="_blank" rel="noopener noreferrer">Hrozénka</a>, Grál, <a href="http://www.slackshow.com/" target="_blank" rel="noopener noreferrer">Slackshow</a>, <a href="http://www.sametoveposviceni.cz/" target="_blank" rel="noopener noreferrer">Schlauchband Sametového posvícení</a></li>
            <li><strong>14.00</strong> <span class="maso-em">Korunovace Královny Masopustu</span> a&nbsp;předání masopustního práva<br>Krásné fanfáry, <a href="http://www.blabuburo.cz" target="_blank" rel="noopener noreferrer">Blabuburo Corps!</a>,  <a href="http://localvocal.cz/" target="_blank" rel="noopener noreferrer">Local&nbsp;Vocal</a> a&nbsp;Masoansábl</li>
        </ul>

        <h2>Průvod městem Roztoky a&nbsp;na&nbsp;Holý&nbsp;vrch</h2>
        <ul>
            <li><a href="https://www.google.cz/maps/dir/50.1585055,14.3990066/50.1616947,14.3940287/50.1536488,14.3812738/50.151785,14.3708468/50.1614531,14.3743336/@50.1565322,14.3750353,15z/data=!3m1!4b1!4m2!4m1!3e2?hl=cs">Trasa průvodu na google mapách</a></li>
            <li><strong>14.30</strong> <span class="maso-em">Průvod</span> ulicemi Nádražní, serpentinou a&nbsp;Kroupkou – <a href="http://www.blabuburo.cz" target="_blank" rel="noopener noreferrer">Blabuburo Corps!</a>, <a href="https://bandzone.cz/_106291?at=info" target="_blank" rel="noopener noreferrer">Holinky</a> a mnozí další</li>
            <li><strong>15.00</strong> <span class="maso-em">Konopičky</span> na Tyršově&nbsp;náměstí, cesta ulicí Legií, Třešňovka<br><a href="http://www.slackshow.com/" target="_blank" rel="noopener noreferrer">SLACKSHOW</a>, moderní provazochodectví – slackline v provedení těch nějlepších z ČR</li>
            <li><strong>16.20</strong> <span class="maso-em">Setkání průvodů</span> z&nbsp;Roztok, Únětic a&nbsp;Suchdola na&nbsp;Holém&nbsp;vrchu;<br>mávání prapory, kolové tance na prastaré pláni Holého&nbsp;vrchu, zápas medvědů, poprava Klibny</li>
        </ul>


        <h2>Šapitó (u&nbsp;autobusové zastávky Roztoky, rozcestí Žalov)</h2>

        <div class="maso-excursion">
            <div class="row">
                <div class="col-md">
                    <h3 class="h4">Cena vstupenek</h3>
                    <ul>
                        <li><strong>0 Kč</strong> děti do&nbsp;15&nbsp;let</li>
                        <li><strong>230 Kč</strong> v&nbsp;<a href="https://goout.net/cs/jine-akce/masopustni-zabava-v-roztokach-2019/iimud/+vdbgl/" target="_blank" rel="noopener noreferrer">předprodeji</a> do&nbsp;31.&nbsp;prosince&nbsp;2018</li>
                        <li><strong>250 Kč</strong> v&nbsp;<a href="https://goout.net/cs/jine-akce/masopustni-zabava-v-roztokach-2019/iimud/+vdbgl/" target="_blank" rel="noopener noreferrer">předprodeji</a> do&nbsp;15.&nbsp;února&nbsp;2019</li>
                        <li><strong>280 Kč</strong> v&nbsp;<a href="https://goout.net/cs/jine-akce/masopustni-zabava-v-roztokach-2019/iimud/+vdbgl/" target="_blank" rel="noopener noreferrer">předprodeji</a> či na místě v&nbsp;den Masopustu</li>
                    </ul>
                </div>
                <div class="col-md">
                    <h3 class="h4">Předprodej</h3>
                    <a href="https://goout.net/cs/jine-akce/masopustni-zabava-v-roztokach-2019/iimud/+vdbgl/" class="maso-button-link" target="_blank" rel="noopener noreferrer">→ Vstupenky ←<br>→ na zábavu v šapitó ←</a>
                </div>
            </div>
        </div>

        <ul>
            <li><strong>16.00</strong> <span class="maso-em">Otevřené šapitó</span> pro všechny zmrzlé, ucaprtané a&nbsp;hladové maškary</li>
            <li><strong>18.00</strong> <span class="maso-em">Magnum Jazz Bigband</span> – opravdu skvělá taneční hudba</li>
            <li><strong>20.00</strong> <span class="maso-em">BREĈO /Seven&nbsp;UP/</span> – akrobatické vystoupení <a href="http://www.feeltheuniverse.cz/about-me-3/" target="_blank" rel="noopener noreferrer">Feel the Universe Circus Company</a> a přátel</li>
            <li><strong>20.30</strong> <span class="maso-em">Magnum Jazz Bigband</span></li>
            <li><strong>21.30</strong> <span class="maso-em">Fekete Seretlek</span> – Akordeon, violoncello, trumpeta, kontrabas, housle, cajon a&nbsp;pět hlasů</li>
            <li><strong>23.00</strong> <span class="maso-em">Baro kalo rata</span> – východoevropský folklor. Překvapení!</li>
        </ul>

        <div class="row">
            <div class="card maso-mask-card">
                <div class="card-body">
                    <img class="card-img-top" src="/img/program/bigband.jpg" alt="Magnum Jazz Bigband">
                    <h2 class="card-title maso-mask-card-title">18.00 Magnum Jazz Bigband</h2>
                    <p class="card-text">Dynamická dvacetičlenná kapela složená z&nbsp;mladých muzikantů nabitých entuziasmem. Bigband hraje swing, moderní jazz, ale i&nbsp;funky nebo rockpopové skladby v&nbsp;nejrůznějších aranžmá.</p>
                    <a href="http://www.magnumjazzbigband.cz/" class="card-link" target="_blank" rel="noopener noreferrer">→ Magnum Jazz Bigband</a>
                </div>
            </div>
            <div class="card maso-mask-card">
                <div class="card-body">
                    <img class="card-img-top" src="/img/program/cirkus.jpg" alt="Akrobatické vystoupení – Alžběta Tichá">
                    <h2 class="card-title maso-mask-card-title">20.00 BREĈO /Seven&nbsp;UP/</h2>
                    <p class="card-text">Studenti university CODARTS – UPsolventi University of the Art Rotterdam and AMoC, resp. Feel the Universe Circus Company a přátelé, konkrétně Jan Jirák, Alžběta Tichá, Saana Tolonen, Jonas Alich, Elena Damasio, Xenia Bannuscher a Dries Vanwalle připravují představení pro roztocký Masopust pod vedením Cecile&nbsp;da&nbsp;Costa za doprovodu <a href="https://bandzone.cz/tygroo" target="_blank" rel="noopener noreferrer">Tygra</a> v&nbsp;<a href="https://bandzone.cz/_106291?at=info" target="_blank" rel="noopener noreferrer">Holinkách</a>. BREĈO je výraz esperanta pro meziprostor.</p>
                </div>
            </div>
            <div class="card maso-mask-card">
                <div class="card-body">
                    <img class="card-img-top" src="/img/program/fekete.jpg" alt="Fekete Seretlek">
                    <h2 class="card-title maso-mask-card-title">21.30 Fekete Seretlek</h2>
                    <p class="card-text">Akordeon, violoncello, trumpeta, kontrabas, housle, cajon a&nbsp;pět hlasů. Šest hudebníků a&nbsp;zároveň herců, absolventů různých ročníků pražské DAMU – Divadelní Akademie Múzických Umění v&nbsp;Praze.</p>
                    <a href="http://feketeseretlek.cz/" class="card-link" target="_blank" rel="noopener noreferrer">→ Fekete Seretlek</a>
                </div>
            </div>
        </div>

        <div class="maso-excursion">
            <h2>Program v Únětickém pivovaru</h2>
            <ul>
                <li><strong>14.00</strong> <span class="maso-em">Narážení Masopustního speciálu</span> postavou Laufra v&nbsp;pivovarské stodole</li>
                <li><strong>14.30</strong> <span class="maso-em">Únětický masopustní průvod</span> se vydá z Pivovaru na&nbsp;společné setkání s&nbsp;Roztockými a&nbsp;Suchdolskými na&nbsp;Holém&nbsp;vrchu</li>
                <li><strong>14.00</strong> <span class="maso-em">Večerní párty v pivovarské stodole</span> se skupinou <a href="https://www.jazz-bluffers.cz/" target="_blank" rel="noopener noreferrer">Jazz&nbsp;Buffers</a> aneb PAŘBA JAKO SVIŇA<br><strong>VSTUP ZDARMA</strong></li>
            </ul>

            <h2>Únětický speciál – TRADIČNÍ MASOPUSTNÍ BOCK&nbsp;16°</h2>
            <p>Spodně kvašený speciál s&nbsp;obsahem alkoholu kolem 6&nbsp;%, zlatavé až měděné barvy. Chuť je výrazně sladová s&nbsp;medovou plností a&nbsp;nepatrným karamelovým nádechem. Chmelová hořkost je z&nbsp;počátku potlačena dominantními složkami chuti a&nbsp;pak vyšší plností. V&nbsp;doznívání se pak projeví jemná, lahodná hořkost, charakteristická pro Únětické pivo, nabízející k&nbsp;dalšímu napití.<p/>
            <p><span class="maso-em">UPOZORŇUJEME: MASOPUSTNÍ BOCK, KDE KDO SI HO PAMATUJE CELÝ ROK!</span></p>

            <a href="https://www.unetickypivovar.cz/akce-v-pivovaru/?event_id1=3608" target="_blank" rel="noopener noreferrer">→ Masopust v&nbsp;Únětickém pivovaru</a>

        </div>

    {% endblock %}
{% endblock %}
