{% extends '_base.twig' %}


{% block title %}Program masopustu 2019{% endblock %}


{% block content %}
    <div class="maso-header-img-cont">
        <img src="img/ilustracni/hromadko-2016.jpg" alt="Průvod s bubeníky Blabuburo, roztocký Masopust 2016" class="img-fluid maso-header-img">
    </div>
    <h1>Program Masopustu</h1>
                
    <h2>Středočeské muzeum v&nbsp;Roztokách – zámek</h2>
    <ul>
        <li><strong>od 11.00</strong> půjčování masek z&nbsp;bohatého fondu Sdružení&nbsp;Roztoč (výhradně pro&nbsp;ty, kteří dojdou až&nbsp;do&nbsp;Šapitó)</li>
        <li><strong>12.00</strong> Slavnostní narážení Únětického Masopustního speciálu;<br>začíná rej a&nbsp;hemžení maškar s bohatým programem – divadla, kapely, kejklíři</li>
        <li><strong>14.00</strong> Korunovace Královny Masopustu a&nbsp;předání masopustního práva, Krásné&nbsp;fanfáry, Local&nbsp;Vocal</li>
    </ul>

    <h2>Průvod městem Roztoky a&nbsp;na&nbsp;Holý&nbsp;vrch</h2>
    <ul>
        <li><strong>14.30</strong> ulicemi Nádražní, serpentinou, Tyršovo&nbsp;náměstí, Legií, Třešňovka</li>
        <li><strong>16.20</strong> na&nbsp;Holém&nbsp;vrchu setkání průvodů z&nbsp;Roztok, Únětic a&nbsp;Suchdola;<br>mávání prapory, kolové tance na prastaré pláni Holého&nbsp;vrchu, zápas medvědů, poprava Klibny</li>
    </ul>

    <div class="maso-plate">
        <h2 class="h3">Vstupenky na masopustní zábavu v&nbsp;šapitó</h2>
        <div class="row">
            <div class="col-md">
                <h3 class="h4">Cena vstupenek</h3>
                <ul>
                    <li><strong>0 Kč</strong> děti do&nbsp;15&nbsp;let</li>
                    <li><strong>230 Kč</strong> v&nbsp;předprodeji do&nbsp;31.&nbsp;prosince&nbsp;2018</li>
                    <li><strong>250 Kč</strong> v&nbsp;předprodeji do&nbsp;15.&nbsp;února&nbsp;2019</li>
                    <li><strong>280 Kč</strong> na místě</li>
                </ul>
            </div>
            <div class="col-md">
                <h3 class="h4">Předprodej</h3>
                <ul>
                    <li>Masopředprodej na GoOut.net bude spuštěn v&nbsp;polovině prosince.</li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Šapitó (u&nbsp;autobusové zastávky Roztoky, rozcestí Žalov)</h2>
    
    <ul>
        <li><strong>16.00</strong> Otevřené šapitó pro všechny zmrzlé, ucaprtané a&nbsp;hladové maškary</li>
        <li><strong>18.00</strong> Magnum Jazz Bigband</li>
        <li><strong>20.00</strong> Akrobatické vystoupení: studenti university CODARTS – University of the Art Rotterdam and AMoC připravují představení pro roztocký Masopust pod vedením Cecile&nbsp;da&nbsp;Costa.</li>
        <li><strong>20.30</strong> Tombola</li>
        <li><strong>21.00</strong> asi Fekete&nbsp;Seretlek</li>
        
    </ul>
        
{% endblock %}
