{% extends 'program.twig' %}
{% use 'en-blocks.twig' %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/hromadko-2016_pbrjnv_c_scale,w_980.jpg">
    <meta property="og:title" content="Schedule of Masopust in Roztoky 16th February 2019">
    <meta property="og:description" content="The parade between heaven and earth, valley and mountain, the past and the future is coming after her queen once again.">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="http://masopust.roztoc.cz/schedule">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block title %}Masopust schedule{% endblock %}

{% block text %}
    <div class="maso-excursion d-print-none">
        <h2 class="h3">Traditional door-to-door Masopust</h2>
        <p class="maso-em">9<sup>th</sup>&nbsp;February&nbsp;2019</p>
        <p><strong>Obchůzka ctihodných maškar po Roztockých domácnostech proběhne týden před masopustním průvodem.</strong></p>
        <p>Procházet bude Tichým údolím a&nbsp;okolím – a&nbsp;kdo ji dobře uvítá a&nbsp;pohostí, tomu se příští rok dobře povede.</p>
    </div>

    <h1 class="maso-pruvod-nadpis">Masopust in Roztoky and Únětice</h1>
    <p class="h3 maso-em">16<sup>th</sup>&nbsp;February&nbsp;2019</p>

    <h2>Central Bohemian Museum in Roztoky – the Chateau</h2>
    <ul>
        <li><strong>od 11:00</strong> <a href="/masks" class="maso-em">Masques rental</a> rich costume selection offered by Sdružení Roztoč (only for those who will finish in the circus tent)</li>
        <li><strong>12:00</strong> <span class="maso-em">Opening of the Masopust festive beer from Únětice brewery</span>;<br>the masques antics and romp starts – theathres, bands, jugglers…</li>
        <li><strong>14:00</strong> <span class="maso-em">Coronation of the Masopust Queen</span> the pass on of the Masopust right, fanfare Krásné&nbsp;fanfáry, <a href="http://localvocal.cz/">Local&nbsp;Vocal</a></li>
    </ul>

    <h2>Parade through Roztoky to Holý&nbsp;Vrch hilltop</h2>
    <ul>
        <li><a href="https://www.google.cz/maps/dir/50.1585055,14.3990066/50.1616947,14.3940287/50.1536488,14.3812738/50.151785,14.3708468/50.1614531,14.3743336/@50.1565322,14.3750353,15z/data=!3m1!4b1!4m2!4m1!3e2?hl=en">The journey map on google maps</a></li>
        <li><strong>14:30</strong> <span class="maso-em">Parade</span> through the Nádražní, Kroupka and the serpentine</li>
        <li><strong>15:00</strong> <span class="maso-em">Konopičky</span> at Tyršovo náměstí, walk through Legií street and Třešňovka</li>
        <li><strong>16:20</strong> <span class="maso-em">Meeting of the parades</span> from Roztoky, Únětice and Suchdol at Holý vrch hilltop;<br>waving of the flags, dancing at the old Holý Vrch heath, the battle of the Bears, execution of Klibna</li>
    </ul>

    <h2>Chapiteau<br><span class="h4">(circus tent near the bus stop "Roztoky–rozcestí Žalov")</span></h2>

    <div class="maso-excursion">
        <!-- <h2 class="h3">Vstupenky na masopustní zábavu v&nbsp;šapitó</h2> -->
        <div class="row">
            <div class="col-md">
                <h3 class="h4">Prices</h3>
                <ul>
                    <li><strong>CZK 0</strong> children 0–15</li>
                    <li><strong>CZK 230</strong> till 31<sup>st</sup> December 2018</li>
                    <li><strong>CZK 250</strong> till 15<sup>th</sup> February 2019</li>
                    <li><strong>CZK 280</strong> in place</li>
                </ul>
            </div>
            <div class="col-md">
                <h3 class="h4">Advance sale</h3>
                <ul>
                    <li><a href="https://goout.net/cs/jine-akce/masopustni-zabava-v-roztokach-2019/iimud/+vdbgl/"><span class="maso-em">Maso-advance sale</span> on GoOut.net.</a></li>
                    </ul>
            </div>
        </div>
    </div>
    
    <ul>
        <li><strong>16:00</strong> <span class="maso-em">Open circus tent</span> for all the cold, tired and hungry masques!</li>
        <li><strong>18:00</strong> <span class="maso-em">Magnum Jazz Bigband</span></li>
        <li><strong>20:00</strong> <span class="maso-em">Acrobats</span>: students of CODARTS – University of the Art Rotterdam and AMoC are prepairing a special Masopust show with Cecile&nbsp;da&nbsp;Costa. With music by Tygr v Holinkách ("The Tiger in the Galoshes").</li>
        <li><strong>20:30</strong> <span class="maso-em">Magnum Jazz Bigband</span></li>
        <li><strong>21:30</strong> <span class="maso-em">Fekere Seretlek</span></li>
        <li><strong>23:00</strong> <span class="maso-em">Baro kalo rata</span> – East-European folklore. Surprise!</li>
    </ul>

        
{% endblock %}
