{% extends 'podpora.twig' %}
{% use 'en-blocks.twig' %}

{% block og %} 
    <meta property="og:image" content="http://masopust.roztoc.cz/img/ilustracni/vit-svajcr-holak_ms4hti_c_scale,w_966.jpg">
    <meta property="og:title" content="Join and Support us!">
    <meta property="og:description" content="The Carnival is organized by a group of volunteers, which is quite a challenge considering it is an event attended by several thousands people. You too can get involved.
    ">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="http://masopust.roztoc.cz/support">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block title %}Join and Support us!{% endblock %}

{% block text %}
<h1>Join and Support us!</h1>
<p class="maso-anotace">The Carnival is organized by a group of volunteers, which is quite a challenge considering it is an event attended by several thousands people.<br>We are enthusiastic and experienced, but welcome any help. You too can get involved.</p>

<div class="row">
    <div class="col-sm">
        <h2 class="h3">Join us!</h2>
        <p>We need volunteers every year to help with preparation, organization, and/or to dress up in the costumes… We’d be grateful for any extra helping hand.</p>
        <p>Contact us at <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a>.</p>
        <p>Thanks!</p>
    </div>
    <div class="col-sm">
        <h2 class="h3">Make a contribution</h2>
        <p>It is easy via <a href="https://www.darujme.cz/projekt/1201494?locale=en" >Darujme.cz</a>. We are trying to keep the costs down as much as possible, but there are payments that simply can’t be avoided… the most costly items being technical support and circus tent hire. We appreciate all donations, no matter how small.</p>
        <p class="small">If you send money, either through darujme.cz, or directly to our account 2000577036/2010 (FIO), we’ll issue a receipt for your donation which is tax deductible.</p>
    </div>
    <div class="col-sm">
        <h2 class="h3">Donate</h2>
        <p>Donate material for workshops or items for raffles! We can use almost anything.<br>Please contact Dita Votavová, <a href="tel:775889940">775&nbsp;889&nbsp;940</a>, <a href="mailto:masopust@roztoc.cz">masopust@roztoc.cz</a>.</p>
    </div>
</div>

<div class="maso-button">
    <a href="https://www.darujme.cz/projekt/1201494?locale=en" class="maso-button-link">→ Support Masopust in Roztoky ←</a>
</div>

<h2>What is the cost of the Carnival?</h2>
<p>Work is volunteer based whenever possible – from transportation and mask making to organizing the procession.<br>But there remain many things that simply cannot be managed by volunteers.</p>

<h3>Estimated Expenses of 2019 Carnival</h3>
    <ul>
        <li>Remuneration to theatres and music bands – 70&nbsp;000&nbsp;Kč</li>
        <li>Technical support  – 164&nbsp;000&nbsp;Kč</li>
        <li>Circus tent, portable toilet and stage rental (incl. transport) – 180&nbsp;000&nbsp;Kč</li>
        <li>Mask making material – 40&nbsp;000&nbsp;Kč</li>
        <li>Promotion, print and production – 25&nbsp;000&nbsp;Kč</li>
        <li>Miscellaneous (OSA author association rocket fees, artists’ accommodation, transport) – 30&nbsp;000&nbsp;Kč</li>
        <li><strong>Expenses in total – 509&nbsp;000&nbsp;Kč</strong></li>
    </ul>
<p>The expenses do not include the value of material gifts, volunteer work, organization, telephones, rent of premises for organizing the event, traffic control, baking, sale, photography, or of making masks and costumes.</p>

<div class="maso-excursion">
    <h3>Last Year’s Figures</h3>
    <p>6,000 visitors – 180 volunteers – 2,500 volunteer hours</p>

    <div class="row">
        <div class="col-md">
            <h3 class="h4">2018 Carnival Expenses</h3>
            <ul>
                <li>Remuneration to theatres and music bands (17 bands, theatres and ensembles) – 77&nbsp;000&nbsp;Kč
                <li>Technical support (circus tent pitching and maintenance, transport, sound, lighting, security) – 89&nbsp;000&nbsp;Kč</li>
                <li>Circus tent, portable toilets and stage rental (incl. transport) – 200&nbsp;000&nbsp;Kč</li>
                <li>Mask making material – 75&nbsp;000&nbsp;Kč</li>
                <li>Promotion (posters, banners, artistic design, graphics) – 18&nbsp;000&nbsp;Kč</li>
                <li>Miscellaneous (OSA author association rocket fees, accommodation, transport and refreshments for performing artists and volunteers) – 64&nbsp;000&nbsp;Kč</li>
                <li><strong>Total expenses – 523&nbsp;000&nbsp;Kč</strong></li>
            </ul>
        </div>
        <div class="col-md">
            <h3 class="h4">2018 Carnival Income</h3>
            <ul>
                <li>Company and private donors – 64&nbsp;000&nbsp;Kč</li>
                <li>Prague Airport donation – 90&nbsp;000&nbsp;Kč</li>
                <li>SK subsidy – 75&nbsp;000&nbsp;Kč</li>
                <li>Roztoky Town Council subsidy – 130&nbsp;000 &nbsp;Kč</li>
                <li>Ticket sale – 108&nbsp;000&nbsp;Kč</li>
                <li>Raffle – 12&nbsp;000&nbsp;Kč</li>
                <li>Roztoc Association own resources – 44&nbsp;000&nbsp;Kč</li>
                <li><strong>Total income – 523&nbsp;000&nbsp;Kč</strong></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
