body {
    background-color: #E5D3B7;
    background-image: url(/img/grafiky/back.jpg");
    background-repeat: repeat;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4, 
.h4 {
    padding-top: 0.5em; 
    padding-bottom: 0.5em; 
    letter-spacing: 0.07em; 
    font-weight: 700; 
    font-family: "Roboto Slab", serif;
}

h1, .h1 {
    text-transform: uppercase;
}

p {
    line-height: 1.65em;
}

.maso-em,
.maso-em a {
    font-weight: 700;
    color: #C90027;
}

@media print {
    .maso-header-img, 
    .maso-sekce-loga {
        display: none;
    }
}