.maso-header-img-cont {
    overflow: hidden;
    max-height: 80vh;
    display: flex;
    align-items: center;
}

.maso-anotace {
    font-weight: 700;
    @include media-breakpoint-up(sm) {
    font-size: 1.2rem;
    }
}

.maso-button-link { // Odpovídá formátu nav-linku, ale není to nav-link, páč to nejni navigace.
    color: #E5D3B7;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #212529;
    text-align: center;
    
    &:hover,
    &:focus,
    &:active, 
    &.active {
        color: #C90027;
        border: none;
        outline: none;
        text-decoration: none;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
        margin-left: 0.85em;
    }
    
    @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
    }
}

.maso-excursion {
    background-color: RGBA(256,256,256,0.2);
    border: 1px dotted #fff;
    padding: 0 1em;
    margin: 0.5rem;

    @include media-breakpoint-up(md) {
        margin: 2rem;
    }
}

.maso-mask-card {
    width: 22rem;
    border: 0;
    background-color: RGBA(232,211,184,0)
}

.maso-mask-card-title {
    font-size: 1.25rem;
    padding-bottom: 0;
}

.maso-contact-name {
    font-weight: 700;
    margin-bottom: 0;
}

.maso-pruvod-nadpis {
    padding-bottom: 0;
    margin-bottom: 0;
}

.maso-acco {
    border: none;
    background: none;
}
