.maso-sekce-loga {
    background-color: #212529;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.maso-sekce-loga h2 {
    color: #E5D3B7;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 2em;
}

.maso-sekce-loga p {
    margin: 0;
    padding-bottom: 0.5em;
    color: #E5D3B7;
}

.maso-sekce-loga a {
    color: #E5D3B7;
}

.maso-footer {
    background-color: #E5D3B7;
}

.maso-logo-card {
    background-color: #E5D3B7;
    border: none;
    padding-left: 2em;
}

.maso-opa {
    filter: opacity(.9);
}