.maso-nav-lista {
    background-color: #212529;
}

.navbar-toggler {
    padding: 0.25rem;

    @include media-breakpoint-up(sm) {
        padding: 0.25rem 1rem;
    }
    
    &:hover,
    &:focus,
    &:active, 
    &.active {
        border: 1px solid #E5D3B7;
        outline: none;
    }
}

.nav-link {
    color: #E5D3B7;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;

    &:hover,
    &:focus,
    &:active, 
    &.active {
        color: #C90027;
        border: none;
        outline: none;
    }

    @include media-breakpoint-up(md) {
        font-size: 0.85rem;
        margin-left: 0.6em;
        padding: 5px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
        margin-left: 0.8em;
    }
    
    @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
    }
}

@include media-breakpoint-up(lg) {
    .navbar {
        position: relative;
    }
}